.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards {
  --offset-left: 16px;
  --article-color-blue: #3E71D0;
  --article-color-blue-dark: #465C86;
  --article-color-gold: #877524;
  --article-color-green: #547E67;
  --article-color-magenta: #A94D8F;
  --article-color-mauve: #8C4877;
  --article-color-orange: #A72300;
  --article-color-purple: #6f69a8;
  --article-color-purple-light: #7364D5;
  --article-color-red: #E20600;
}

.cards > ul {
  list-style: none;
  margin: 0;                    
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  padding-inline-start: 0;
  min-height: 100vh;
}

.cards > ul > li {     
  background-color: var(--background-color);
  border-radius: 8px;
  /* stylelint-disable-next-line */
  box-shadow: 0 107px 30px 0 rgba(130, 130, 130, 0.00), 0 69px 27px 0 rgba(130, 130, 130, 0.01), 0 39px 23px 0 rgba(130, 130, 130, 0.05), 0 17px 17px 0 rgba(130, 130, 130, 0.09), 0 4px 9px 0 rgba(130, 130, 130, 0.1);
  padding: 0;
  margin-bottom: 2rem;

  @media (min-width: 1024px) {
    margin-bottom: 2.5rem;
  }
}

.cards .blog-cards {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cards .blogs-card-content {
  height: 100%;
}

.cards .blogs-card-link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cards .blogs-card-body {
  padding: 1.5rem;
  display: flex;    
  flex-direction: column;    
  row-gap: 1.5rem;
  justify-content: space-between;    
  background-color: transparent;
  height: 100%;
} 

.cards .blogs-card-image {
  line-height: 0;
  position: relative;
  display: block;
    
}
  
.cards > ul > li img {
  width: 100%;
  height: 100%;
  aspect-ratio: 19 / 10;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.cards .blogs-card-body > h3{
  font-size: 24px;
  font-family: var(--heading-font-family);    
  font-weight: 700;
  color: var(--text-color);
}

.cards .blogs-card-body >span{
  font-size: var(--body-font-size-s);
}

.cards .blogs-card-category {
  --bg-color: inherit;
  --border-color: inherit;    
  
  font-family: var(--heading-font-family);    
  position: absolute;
  line-height: 1.7;
  inset: 16px auto auto var(--offset-left);
  border-radius: 14px;
  display: inline-block;
  padding: 0 14px;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  color: var(--text-color-inverted);
  max-width: calc(100% - 2 * var(--offset-left));
  box-sizing: border-box; 
}

.cards .blogs-card-body .card-metadata {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.cards .blogs-card-body :is(.card-author,.card-date){
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--text-color);
  line-height: normal;
}

.cards .blogs-card-body .card-cta {
  display: none;
}

/* Handles martech ads loaded inside the grid */
.cards .publi-container {
  grid-area: ad;
  padding-top: 0;
}

@media (min-width: 768px) {
  .cards > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "ad ad";
    column-gap: 32px;
    min-height: 0;
  }
}

@media (min-width: 1024px) {
  .cards > ul {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "featured featured featured"
      "ad ad ad";
  }

  .cards.search > ul > li img {
    min-height: 320px;
  }

  .cards.search .blogs-card-body {
    min-height: 200px;
  }

  /* Featured */
  .cards.featured > ul > li:first-of-type {
    grid-area: featured;
    /* stylelint-disable-next-line */
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
  }

  .cards.featured > ul > li:first-of-type .blog-cards {
    flex-direction: row;
  }

  .cards.featured > ul > li:first-of-type .blogs-card-image {
    flex: 50% 1 1;
  }

  .cards.featured > ul > li:first-of-type .blogs-card-image img {
    border-top-right-radius: unset;
    border-bottom-left-radius: 8px;
  }

  .cards.featured > ul > li:first-of-type .blogs-card-content {
    flex: 50% 1 1;
  }

  .cards.featured > ul > li:first-of-type .blogs-card-category {
    --offset-left: 24px;

    top: 24px;
  }

  .cards.featured > ul > li:first-of-type .blogs-card-body {
    display: grid;
    grid-template:
      "card-metadata"
      "card-title";
    padding: 3rem;
  }

  .cards.featured > ul > li:first-of-type .blogs-card-body > h3 {
    grid-area: card-title;
    font-size: 30px;
    margin-bottom: 0;
  }

  .cards.featured > ul > li:first-of-type .blogs-card-body .card-metadata {
    grid-area: card-metadata;
    flex-direction: row;
    column-gap: 1rem;
  }

  .cards.featured >ul > li:first-of-type .blogs-card-body .card-cta {
    box-sizing: border-box;
    display: block;
    align-self: end;
    background-color: var(--cta-button-color);
    border-radius: 12px;
    color: var(--text-color-inverted);
    font-weight: 600;
    line-height: normal;
    min-width: 175px;
    padding: 0.875rem 1.5rem;
    text-align: center;
    height: fit-content;
    width: fit-content;
  }

  .cards.search > ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Skeleton loading styles */
.cards .skeleton {
  min-height: 393px;
  background-image:
    radial-gradient(circle 16px, white 99%, transparent 0),
    radial-gradient(circle 16px, white 99%, transparent 0),
    linear-gradient(var(--background-color) 32px, transparent 0),
    linear-gradient(var(--color-gray-light-alt) 231px, transparent 0),
    linear-gradient(var(--color-gray-light-alt) 20px, transparent 0),
    linear-gradient(var(--color-gray-light-alt) 20px, transparent 0),
    linear-gradient(var(--color-gray-light-alt) 50px, transparent 0),
    linear-gradient(var(--color-gray-light-alt) 50px, transparent 0);
  background-size:
    32px 32px,
    32px 32px,
    100px 32px,
    100% 231px,
    calc(100% - 2*24px) 20px,
    calc(100% - 2*24px) 20px,
    calc(100% - 4*24px) 20px,
    calc(100% - 4*24px) 20px;
  background-position:
    10px 10px,
    110px 10px,
    26px 10px,
    0 0,
    24px 255px,
    24px 280px,
    24px 320px,
    24px 345px;
}

.cards.breed .skeleton {
  min-height: 343px;
  background-image:
    linear-gradient(var(--color-gray-light-alt) 128px, transparent 0),
    linear-gradient(var(--color-gray-light-alt) 24px, transparent 0),
    linear-gradient(var(--color-gray-light-alt) 24px, transparent 0),
    linear-gradient(var(--color-gray-light-alt) 24px, transparent 0);
  background-size:
    100% 128px,
    calc(100% - 2*24px) 24px,
    calc(100% - 2*24px) 24px,
    calc(100% - 2*24px) 24px;
  background-position:
    0 0,
    24px 158px,
    24px 188px,
    24px 218px;
}
