body.adopt .hero h1 {
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  color: #000;
}
@media (min-width: 1024px) {
  body.adopt .hero h1 {
    font-size: 72px;
  }
}
body.adopt .hero h2 {
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 112.5% */
  letter-spacing: -0.64px;
  color: #000;
}
body.adopt .columns.guide .columns-img-col {
  width: auto;
}
