.form form {
  width: 100%;
}

.form input,
.form select {
  display: block;
  height: 60px;
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 0 2rem;
  appearance: none;
  border: 1px solid var(--color-blue-light);
  border-radius: 60px;
  font-family: var(--body-font-family);
  font-size: 1.125rem;
}

.form .form-select-wrapper {
  position: relative;
}

.form .form-select-wrapper::after {
  content: '';
  position: absolute;
  background-color: var(--highlight-color);
  -webkit-mask: url('/icons/chevron.svg') center / 100% 100%;
  mask: url('/icons/chevron.svg') center / 100% 100%;
  bottom: .5rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

.form button {
  display: block;
  height: 60px;
  width: 100%;
  padding: 0 1.5rem;
  font-size: 1.75rem;
  text-transform: uppercase;
}