.bytetag-buy-container.highlight {
  background-color: var(--color-gray-lightest) !important;
  border-top: 3px solid var( --color-gray-lighter);
}

.bytetag-buy-container > .default-content-wrapper {
  text-align: center;

  @media (max-width: 900px) {
    margin-top: 3rem;
  }
}

.bytetag-buy > div p {
  font-size: 18px;
  line-height: 28px;
  color: #000;
  display: flex;
  align-items: center;
}

.bytetag-buy-container > .default-content-wrapper > p {
  @media (max-width: 900px) {
    font-size: 18px;
  }
}

.bytetag-buy-container > .default-content-wrapper a {
  color: var(--number-background-color);
  text-decoration: underline;
}

.bytetag-buy-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  @media (min-width: 1024px) {
    padding: 2rem 0;
  }
}

.bytetag-buy {
  display: flex !important;
  flex-direction: row-reverse;
  max-width: 100% !important;
  text-align: left;
  padding: 0 2rem;
  justify-content: space-evenly;
  width: 100%;

  @media (max-width: 900px) {
    padding: 0;
    flex-direction: column-reverse !important;
    width: 100%;
    gap: 25px;
    align-items: center;
  }

  @media (max-width: 1024px) {
    gap: 20px;
  }
}

.bytetag-buy > iframe {
  max-width: 400px;
}

.bytetag-buy.slide {
  flex-direction: row;
}

.bytetag-buy > div {
  width: 100%;
  max-width: 515px;
}

.bytetag-buy > div h2 {
  font-size: 3rem;

  @media (max-width: 900px) {
    font-size: 40px;
    line-height: 50px;
  }
}

.bytetag-buy > div h3 {
  border-top: 1px solid #d9d9d9;
  margin-top: 1rem;
  padding-top: 1rem;
  font-size: 26px;
  line-height: 36px;
  color: #000;
  font-weight: 700;
}

.bytetag-buy > div h3:first-of-type {
  border-top: 0;
}

.bytetag-buy > div > div > p > picture {
  display: inline-block;
  margin-right: 10px;
}

.bytetag-buy > div > div > p:first-of-type > em {
    font-style: normal;
    font-size: 24px;
    line-height: 34px;
}

.bytetag-buy > div > div > p:first-of-type > em::before {
    display: inline-block;
    content: "";
    margin: 0 0.4rem 0 0;
    height: 24px;
    width: 136px;
    background: #7369AB;
    -webkit-mask: url("../../icons/stars-five-purple.svg") no-repeat center center;
    mask: url("../../icons/stars-five-purple.svg") no-repeat center center;
    vertical-align: middle;
    margin-bottom: 5px;
}