.type-filters-container.section {
    padding: 0;
    background-color: var(--background-color-light);
}

.type-filters.block {
    display: flex;
    flex-direction: column;
}

.type-filter {
    background-color: var(--background-color-dark);
}

.type-filter .filter-btn {
    cursor: pointer;
    text-align: center;
    color: #ff7d5a;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1rem 0;
}

.type-filter .filter-btn::before {
    content: "\2715";
    transform: rotate(45deg);
    font-size: 22px;
    display: inline-block;
    margin-right: 0.5rem;
}

.category-filters {
    color: #28061e;
    box-sizing: inherit;
    overflow: hidden;
    transition: all .35s ease;
    display: block;
    max-height: 0;
}

.category-filters.is-active {
    max-height: 650px;
}

.category-filters h3 {
    display: block;
    width: calc(100% - 1rem);
    position: relative;
    margin: 0 .5rem 1rem;
    padding-bottom: 6px;
    border-bottom: 2px solid var(--color-gray);
    color: var(--text-color-inverted);
}

.category-filters h3::after {
    content: "";
    display: block;
    border-bottom: 4px solid var(--color-purple-light);
    margin-top: 8px;
    margin-bottom: -8px;
    width: 100px;
}

.category-filters h3 .icon{
    position: absolute;
    transition: all .5s;
    right: 0;
    top: 7px;
    width: 30px;
    height: 30px;
    fill: var(--color-purple-light);
    transform: rotateX(180deg);
}

.category-filters .checkbox-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 46px;
}

.category-filters .checkbox-wrapper span {
    margin-left: 20px;
    font-family: var(--heading-font-family);
    color: var(--text-color-inverted);
    font-size: .9rem;
}

.category-filters .checkbox-wrapper input {
    width: auto;
    margin: 0;
    padding: 0;
}

.filter-type {
    padding: 0 .5rem;
    transition: all .5s;
    max-height: 0;
}

.filter-type.is-active {
    max-height: 400px;
}

.card-container {
    width: 100%;

}

.card-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 60px 20px;
    box-sizing: border-box;
    min-height: 820px;
    align-content: flex-start;
}

.card-grid a {
    color: var(--text-color)
}

.grid-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.grid-item:hover {
    background-color: var(--text-color-inverted);
    cursor: pointer;
    box-shadow: 5px 5px 50px rgb(0 0 0 / 10%);
    transition: all .35s ease;

}

.grid-item .img-container {
    padding-bottom: 75%;
    position: relative;
}

.grid-item .img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
    transition: opacity 500ms ease 0s;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.grid-item h3{
    text-align: left;
    margin: 20px 20px 40px;
}

.pagination {
    display: flex;
    justify-content: end;
}

.pagination-buttons {
    display: flex;
    align-items: center;
}

.pagination button {
    position: relative;
    width: 7px;
    height: 32px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.pagination button::after {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: #ef8363;
    mask: url("../../icons/chevron-wide.svg") center / 100% 100%;
    -webkit-mask: url("../../icons/chevron-wide.svg") center / 100% 100%;
}

.pagination button.prev::after {
   transform: rotate(180deg);
}

@media (min-width: 768px) {
    .card-grid {
        grid-template-columns:repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .type-filters.block {
        flex-direction: row;
    }

    .type-filters-container.section {
        padding: 2rem 1.5rem;
    }

    .type-filter .filter-btn {
        display: none;
    }

    .type-filter {
        min-width: 25%;
        background-color: transparent;
    }

    .category-filters {
        max-height: 650px;
    }

    .category-filters h3 {
        color: var(--text-color);
        margin-top: 15px;
    }

    .category-filters .checkbox-wrapper span {
        color: var(--text-color);
    }

    .card-grid {
        padding: 20px 0 0 20px;
    }
}