.blade {
    display: flex;
    flex-direction: column;
}

.blade h2 {
    margin-top: 0;
}

.blade > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.blade.spaced > div:not(:last-child) {
    padding-bottom: 2rem;
}

.blade .blade-image {
    box-sizing: border-box;
    overflow: hidden;
}

.blade .blade-image img {
    border-radius: 10px;
    vertical-align: bottom;
}

.blade .blade-image strong {
    align-self: flex-start;
}

.blade .blade-body {
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.blade .blade-body p {
    margin-bottom: 0.75em;
}

.blade .blade-body :is(h3, h4) {
    margin-top: 0;
    font-family: var(--heading-font-family);
    letter-spacing: 3.2px;
    text-transform: uppercase;
}

.blade .blade-body h3 { font-size: var(--body-font-size-xl); }
.blade .blade-body h4 { font-size: var(--body-font-size-l); }

.blade .blade-body :is(h3, h4) a {
    font-family: inherit;
}

.blade .blade-body p {
    font-size: var(--body-font-size-m);
}

.blade a:not(.button):any-link {
    color: var(--link-color);
    width: 100%;
}

@media (min-width: 768px) {
    .section .blade-wrapper {
        margin: 3rem auto;
    }

    .blade > div {
        flex-direction: unset;
        align-items: stretch;
        gap: 5rem;
    }

    .blade .blade-body {
        flex-basis: 66%;
    }

    .blade .blade-image {
        flex-basis: 33%;
        max-width: 446px;
    }

    .blade .blade-image picture,
    .blade .blade-image img {
        width: 100%;
    }

    .blade .button-container {
        margin: 0;
    }
}