.author-info p {
  font-family: var(--heading-font-family);
}

.author-info picture {
  width: 62px;
  height: 62px;
  object-fit: cover;
  object-position: center center;
}

.author-info > div > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media (min-width: 1024px) {
  .author-info picture {
    width: 200px;
    height: 200px;
  }

  .author-info > div > div {
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .author-info p {
    font-size: var(--body-font-size-l);
  }
}
