.author-page main {
  display: grid;
  grid-template:
    ". breadcrumb ." auto
    "hero hero hero" auto
    ". bio ." 1fr
    ". hr ." auto
    ". social ." auto
    ". popular ." auto
    / 1fr minmax(auto, 1344px) 1fr;
}

.author-page .hero-container {
  overflow: hidden;
  grid-area: hero;
  margin-top: 5.5rem;
}

.author-page .author-template-grid-breadcrumb {
  grid-area: breadcrumb;
  margin: 0;
  position: absolute;
}

.author-page .breadcrumb > div > div > div {
  margin-bottom: 0;
}

.author-page .author-template-grid-social-links {
  grid-area: social;
}

.author-page .author-template-grid-popular-articles {
  grid-area: popular;
}

.author-page div.hero {
  padding: 0;
  min-height: unset;
  overflow: visible;
  margin-bottom: 4rem;
}

.author-page .hero > div > div > picture {
  position: relative;
  z-index: 1;
  height: 50vw;
  object-fit: cover;
  object-position: center center;
  line-height: 0;
}

.author-page .hero .author-page-avatar {
  position: absolute;
  top: unset;
  left: 3rem;
  bottom: -70px;
  z-index: 2;
  border: .5rem solid white;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
}

.author-page .footer {
  margin: none;
  border: none;
}

.author-page main h1 {
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 2rem;
  margin-top: 0;
}

.author-page main .section:not(.hero-container):not(.author-template-autoblock) {
  padding-bottom: 0rem;
  padding-top: 1rem;
  grid-area: bio;
}

.author-page main .section p {
  line-height: 1.4;
}

.author-page main .section p:not(:last-child) {
  margin-bottom: 1rem;
}

.author-page main .social-links-container {
  padding-top: 0;
}

.author-page main hr {
  margin: 1.5rem;
  border-bottom: 2px solid var(--background-color-light);
  grid-area: hr;
}

@media (min-width: 768px) {
  .author-page .hero-container {
    margin-top: 6rem;
  }

  .author-page main .section p {
    line-height: 1.5;
  }

  .author-page .breadcrumb {
    margin-bottom: .5rem;
  }
}

@media (min-width: 1024px) {
  .author-page .hero > div > div {
    height: 22vw;
  }

  .author-page .hero > div > div > picture {
    position: absolute;
    height: unset;
    object-fit: unset;
    object-position: unset;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .author-page .hero .author-page-avatar {
    position: relative;
    left: 1rem;
    border: .65rem solid white;
  }

  .author-page main h1 {
    font-size: 2.875rem;
    font-weight: 600;
  }
}
