.author-page .hero-container {
  overflow: hidden;
}

.author-page .author-template-breadcrumb {
  margin: 2rem 1.5rem;
}

.author-page div.hero {
  padding: 0;
  min-height: unset;
  overflow: visible;
  margin-bottom: 4rem;
}

.author-page .hero > div > div > picture {
  position: relative;
  z-index: 1;
  height: 50vw;
  object-fit: cover;
  object-position: center center;
  line-height: 0;
}

.author-page .hero .author-page-avatar {
  position: absolute;
  top: unset;
  left: 3rem;
  bottom: -70px;
  z-index: 2;
  border: .5rem solid white;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
}

.author-page .footer {
  margin: none;
  border: none;
}

.author-page main h1 {
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 2rem;
  margin-top: 0;
}

.author-page main .section:not(.hero-container):not(.author-template-autoblock) {
  padding-bottom: 0rem;
  padding-top: 1rem;
}

.author-page main .section p {
  line-height: 1.4;
}

.author-page main .section p:not(:last-child) {
  margin-bottom: 1rem;
}

.author-page main .social-links-container {
  padding-top: 0;
}

.author-page main hr {
  margin: 1.5rem;
  border-bottom: 2px solid var(--background-color-light);
}

@media (min-width: 768px) {
  .author-page main .section p {
    line-height: 1.5;
  }
}

@media (min-width: 1024px) {
  .author-page .hero > div > div > picture {
    height: unset;
    object-fit: unset;
    object-position: unset;
    margin: 0;
  }

  .author-page .hero .author-page-avatar {
    left: 1rem;
    border: .65rem solid white;
  }

  .author-page main h1 {
    font-size: 2.875rem;
    font-weight: 600;
  }
}
