.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  max-width: 100%;
  object-fit: scale-down;
}

.columns > div > div {
  order: 1;
  margin-bottom: 2rem;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: start;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    margin-bottom: 0;
  }
}
