.searchresults .section.hero-container {
  padding: 0;
}

.searchresults .hero-wrapper {
  position: relative;
  max-width: inherit;
}

.searchresults .hero-wrapper .img-div {
  position: relative;
  padding-bottom: 111%;
}

.searchresults .hero-wrapper .img-div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
  transition: opacity 500ms ease 0s;
}

.searchresults .hero-wrapper .text-div {
  position: absolute;
  inset: 0 1.5rem;
  display: flex;
  flex-direction: column;
  color: var(--text-color-inverted)
}

.searchresults .hero-wrapper .text-div h1 {
  font-weight: 800;
}

.searchresults .hero-wrapper .search-wrapper {
  margin-right: 30px;
}

.searchresults .sortbtn .search-select {
  padding: 1px 2.5rem 2px 1rem;        
  background-image: url('../../icons/down-chevron.svg');
  background-position: calc(100% - 13px) 50%;
  background-repeat: no-repeat;
  background-size: 20px;
  border-radius: 20px;
  height: 40px;
  font-size: 1rem;
  font-weight: 600;
  border-color: var(--color-gray-light-alt);
  appearance: none;
}

@media (max-width: 350px) {
  .searchresults .hero-wrapper .text-div p {
    display: none;
  }
}

@media screen and (min-width: 530px) {
  .searchresults .hero-wrapper .img-div {
    position: relative;
    padding-bottom: 62%;
  }
}

@media (min-width: 768px) {
  .searchresults .sortbtn div {
    display: flex;
    align-items: center;
  }

  .searchresults .sortbtn h2 {
    flex: 1;
  }

  .searchresults .sortbtn .search-select {
    flex: 0 0 25%;
  }
}

@media (min-width: 1024px) {
  .searchresults .hero-wrapper .text-div h1 {
    font-size: var(--heading-font-size-xxxl);
  }

  .searchresults .hero-wrapper .text-div p {
    max-width: 700px;
  }
}

@media (min-width: 1200px) {
  .searchresults .section > div.hero-wrapper {
    max-width: inherit;
  }

  .searchresults .hero-wrapper .img-div {
    position: relative;
    padding-bottom: 30.2083%;
  }
}
