.searchresults .hero {
    box-sizing: border-box;
    height: 62.5vw;
    min-height: 0;
    max-height: 326px;
    padding: 0;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  
  .searchresults .hero picture {
    margin: 0;
  }
  
  .searchresults .hero img {
    position: absolute;
    inset: 0;
    z-index: -1;
    object-fit: cover;
  }
  
  .searchresults .hero > div {
    --bg-color: inherit;
  
    max-width: none;
    background: var(--bg-color);
  }
  
  .searchresults .hero > div > div {
    max-width: 1392px;
    margin: 0 auto;
  }
  
  .searchresults .hero h1 {
    margin: 0;
    padding: 2rem 1.5rem;
    color: var(--text-color-inverted);
    text-shadow: 2px 3px 5px rgb(0 0 0 / 50%);
  }

  .searchresults .sortbtn .search-select {
    margin-top: 30px;
    padding: 1px 12px 2px 20px;        
    background-image: url(../../images/arrowdown.png);
    background-position: calc(100% - 13px) 50%;
    background-repeat: no-repeat;
    background-size: 11px 6px;
    background-color: var( --background-color);
    border-radius: 20px;
    width: 100%;
    height: 40px;
    font-size: 1rem;
    font-weight: 900;
    border-color: var(--color-gray-light-alt);
    appearance: none;    
}

  @media (min-width: 768px) {
    .searchresults .sortbtn div {
      display: flex;   
    }
    .searchresults .sortbtn h2{
      width: 75%;
    }
    .searchresults .sortbtn .search-select {
      width: 25%;
    }
  }

  @media (min-width: 1024px) {    
    .category-index main {
      display: grid;
      grid-template:
        'hero hero hero hero' min-content
        '. content .' 1fr
        '. pagination .' min-content / 1fr minmax(250px, 318px) minmax(750px, 1026px) 1fr;
      gap: 0 1.5rem;
    }

    .searchresults .hero-container {
      grid-area: hero;
    }
   
    .searchresults .pagination-container {
      grid-area: pagination;
    }
  
    .searchresults .cards-container,
    .searchresults .blog-cards-container {
      grid-area: content;
    }


}