.section:not(.slide-cards-container) {
    display: none;
}
.section.slide-cards-container {
    padding: 0;
    position: relative;
}

.section.slide-cards-container  h2{
    text-align: center;
}

.slide-cards-wrapper {
    transform: translate(0);
    transition: transform .7s;
}



.slide-cards {
    list-style: none;
    display: flex;
    padding: 0;
}

.slide-card {
    background-color: var(--background-color);
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    min-height: 300px;
    margin: 10px 45px 100px;
    flex-shrink: 0;
    width: calc(100vw - 90px);
    padding: 0 30px 30px;
    box-sizing: border-box;
    text-align: left;
}

.slide-card h4 {
    padding-top: 36px;
    font-size: 80px;
    position: relative;
    font-family: Raleway,sans-serif;
    font-weight: 800;
    margin-bottom: 20px;

}

.slide-card h4::before {
    content: "";
    width: 16px;
    height: 64px;
    position: absolute;
    left: -30px;
    bottom: 10px;
}

.slide-card.breed-purple h4 {
    color: var(--color-dark-maroon);
    filter: brightness(1.5);
}

.slide-card.breed-purple h4::before {
    background: var(--color-dark-maroon);
}

.slide-card.breed-blue h4 {
    color : var(--color-blue-dark)
}

.slide-card.breed-blue h4::before {
    background : var(--color-blue-dark)
}

.slide-card.breed-red h4 {
    color: var(--highlight-color);
    filter: brightness(.8) contrast(175%);
}

.slide-card.breed-red h4::before {
    background : var(--highlight-color);
}

.slide-cards-container .slick-arrow {
    bottom: 10px;
}


@media (min-width: 1024px) {
    .slide-cards-wrapper {
        /* !important; is necessary to overwrite inline style set dynamically. */
        transform: translateX(0)!important;
    }

    .slide-card {
        width: initial;
        flex: 1;
        margin: 10px 15px 100px;

    }

    .slide-cards-container .slick-arrow {
        display: none;
    }
}