.puppy-diaries-index .blade .blade-body h3 {
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: none;
  letter-spacing: normal;
}

.puppy-diaries-index .blade-wrapper {
  margin-bottom: 3rem;
}

.puppy-diaries-index .blade .blade-body .button-container {
  display: block;
}

.puppy-diaries-index .blade .blade-body .button {
  width: 100%;
  padding: 0.7rem 2.5rem;
}

.puppy-diaries-index .blade .blade-image img {
  aspect-ratio: 1.43 / 1;
  object-fit: cover;
}

.puppy-diaries-index .blade .blade-body .button::before {
  display: inline-block;
  content: '';
  margin-right: .5rem;
  height: 13px;
  width: 29px;
  background: var(--text-color-inverted);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask: url('../../icons/arrow.svg') no-repeat center center;
  mask: url('../../icons/arrow.svg') no-repeat center center;
  vertical-align: middle;
}

.puppy-diaries-index .hero h1 {
  display: none;
}

.puppy-diaries-index .blade .blade-body {
  grid-area: blade-body-area;
}

.puppy-diaries-index .blade .blade-image {
  grid-area: blade-image-area;
}

.puppy-diaries-index .blade > div {
  display: grid;
  grid-template:
    "blade-image-area"
    "blade-body-area";
}

@media (min-width: 768px) {
  .puppy-diaries-index .blade .blade-body .button {
    padding: 0.9375rem 2.5rem;
    width: auto;
  }

  .puppy-diaries-index .blade .blade-image {
    max-width: 480px;
  }

  .puppy-diaries-index .blade > div {
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .puppy-diaries-index .blade .blade-body h3 {
    font-size: 2rem;
  }

  .puppy-diaries-index .blade > div {
    display: flex;
    grid-template: unset;
    gap: 5rem;
  }

  .puppy-diaries-index main .hero > div {
    max-width: unset;
  }

  .puppy-diaries-index main .hero picture {
    position: unset;
  }
}