.bytetag main .hero {
    align-items: start;
    min-height: 550px;
  }
  
.bytetag main .hero > div > div:not(:first-child) {
    align-items: start;
    flex-direction: column;
    margin: 3rem 0px;
    max-width: 660px;
  }
  
.bytetag main .hero > div > div h1 {
    margin-bottom: 0px;
  }
  
.bytetag main .hero > div > div p {
    color: var(--text-color-inverted);
    font-size: 1.5rem;
}

@media (min-width: 600px){

    .bytetag main .hero > div > div:first-of-type picture:last-of-type {
        position: absolute;
    }
    .bytetag main .hero > div > div:first-of-type picture img{
        object-fit: contain;
        object-position: right;
    }
}
.bytetag main .hero > div > div:not(.hero-picture-container) {

}
/* .bytetag main .hero > div > div:not(.hero-picture-container) picture, */
.bytetag main .hero > div > div:last-of-type picture {
    position: unset;
}
.bytetag main .hero > div > div:last-of-type picture img {

    object-fit: unset;
    width: auto;
}
.bytetag main .hero > div > div:last-of-type h1 {
    color: black;
}
.bytetag main .hero > div > div:last-of-type p {
    color: black;
}