#nav {
  height: var(--nav-height);
  gap: 0 24px;
  display: grid;
  position: relative;
}

.header-wrapper .hidden,
#nav .hidden {
  display: none !important;
}

#nav button,
#nav a {
  -webkit-tap-highlight-color: transparent;
}

#nav .nav-brand {
  padding-left: 16px;
  grid-row: 1/2;
  grid-column: 1/2;
}

#nav .nav-brand p {
  margin-top: 16px;
  line-height: 13px;
}

#nav .nav-tools-mobile {
  grid-row: 2/3;
  grid-column: 1/3;
  padding: 16px 10px;
  position: relative;
  z-index: 2;
  background-color: #FFFFFF;
}

#nav .nav-login,
#nav .user-btn {
  grid-row: 1/2;
  grid-column: 2/3;
}

#nav .nav-hamburger,
#nav .nav-close {
  position: absolute;
  top: 16px;
  right: 16px;
}

#nav .nav-meganav {
  grid-row: 3/3;
  grid-column: 1/3;
  z-index: 2;
  background-color: #FFFFFF;
}

#nav .nav-brand .icon-logo {
  height: 31px;
  width: 145px;
}

#nav .search-input {
  width: 100%;
  height: 48px;
  border-radius: 360px;
  padding-left: 16px;
}

#nav .header-wrapper.search-input::placeholder {
  color: #909090;
  color: red;
  font-size: 16px;
  line-height: 20px;
}

#nav .search-btn {
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  right: 33px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0;
}

#nav .nav-login ul {
  display: none;
}

#nav .login-btn {
  background-color: #C74D2F;
  margin: 8px 0;
  padding: 13px 24px;
}

#nav .user-btn {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 11px 0;
}

#nav .user-btn img {
  width: 40px;
  height: 40px;
  aspect-ratio: auto 40 / 40;
}

#nav .nav-meganav li {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

#nav .nav-meganav ul {
  padding-left: 0;
}

#nav .nav-meganav > ul > li {
  border-bottom: 1px solid #000000;
}

#nav .nav-meganav .pet-topic {
  display: flex;
  margin-bottom: 0;
}

#nav .nav-meganav .pet-topic-info {
  margin-left: 12px;
}

#nav .nav-meganav .pet-topic-title {
  display: block;
  margin-bottom: 8px;
}

#nav .menu-item {
  box-sizing: border-box;
  display: block;
  color: #000000;
  font-family: "Libre Franklin";
  font-size: 18px;
  line-height: 22px;
  padding: 24px;
  border-bottom: 1px solid #000000;
  background-color: transparent;
  border-radius: 0;
  width: 100%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  /* -webkit-tap-highlight-color: transparent; */
}

#nav button.menu-item {
  border: 0;
  border-bottom: 1px solid #000000;
}

#nav .menu-item:last-of-type {
  border: 0;
}

#nav .collapsible {
  margin: 0;
}

#nav .collapsible::after {
  content: '\2303';
  font-size: 20px;
  color: #000000;
  float: right;
}

#nav .collapsible.active {
  background-color: #3C0040;
  color: #FFFFFF;
}

#nav .collapsible.active:after {
  transform: rotate(180deg) translateY(6px);
  color: #FFFFFF;
}

#nav .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: Raleway, sans-serif;
}

#nav .content li {
  padding: 12px 16px 12px 16px;
  display: flex;
}

#nav .content li:first-of-type {
  padding-top: 16px;
}

#nav .content li:last-of-type {
  padding-bottom: 24px;
}

#nav .content li div:first-child {
  margin-right: 12px;
}

#nav .content a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 8px;
}

#nav .content p {
  color: #8A8A8A;
  font-size: 12px;
  line-height: 14px;
}

#nav .nav-hamburger button,
#nav .nav-close button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
}


.header {
  z-index: 4;
  position: relative;
}

.meganav-bg {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

#nav .account-options {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 0 0 10px 10px;
  border: 1px solid #E4E4EB;
  box-shadow: 0px 34px 21px 0px #0000000D;
  position: absolute;
  left: 0;
  width: 100%;
  top: 100%;
  z-index: 3;
}

#nav .account-btn,
#nav .sign-out-btn {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  padding: 14px 24px;
  margin: 0;
  text-decoration: none;
  font-family: "Libre Franklin";
}

#nav .account-btn {
  border-bottom: 1px solid #E4E4EB;
}

.body-locked {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

@media (min-width: 768px) {
  #nav {
    grid-template-columns: 36% 46% 15%;
  }

  #nav .nav-login {
    grid-column: 3/4;
  }

  #nav .nav-meganav {
    grid-column: 1/5;
  }
}

@media (min-width: 1024px) {
  #nav {
    grid-template-columns: 58% 340px 17%;
  }

  #nav .nav-brand {
    padding-left: 64px;
  }

  #nav .nav-brand .icon-logo {
    height: 42px;
    width: 197px;
  }

  #nav .nav-tools {
    max-width: 340px;
    height: 48px;
    position: relative;
    margin: 20px 0;
  }

  #nav .nav-tools-desktop {
  }

  #nav .nav-login{
    grid-column: 3/4;
  }

  #nav .user-btn {
    grid-column: 3/4;
    margin: 20px 0;
    height: 48px;
  }

  #nav .user-btn img {
    width: 48px;
    height: 48px;
    aspect-ratio: auto 48 / 48;
  }

  #nav .account-options {
    width: 247px;
    left: unset;
    right: 32px;
    top: 76px;
    border-radius: 10px;
  }

  #nav .nav-meganav {
    background-color: #3C0040;
    grid-column: 1/4;
  }

  #nav .nav-meganav ul {
    position: relative;
    left: 0;
    display: flex;
    width: 100%;
    height: 67px;
    align-items: center;
  }

  #nav .nav-meganav li {
    margin-right: 32px;
  }

  #nav .nav-meganav > ul > li {
    border: none;
  }

  #nav .menu-item {
    width: auto;
    padding: 13px 16px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }

  #nav button.menu-item:hover,
  #nav .collapsible.active {
    border-radius: 16px;
    background-color: #FFFFFF;
    color: #000000;
  }

  #nav .collapsible::after {
    color: #FFFFFF;
  }

  #nav .collapsible.active {
    background-color: #FFFFFF;
    color: #000000;
  }

  #nav .collapsible.active:after {
    color: #000000;
  }

  /* #nav .collapsible::after {
    color: #000000;
  } */

  #nav .content {
    flex-direction: column;
    background-color: #FFFFFF;
    /* height: unset; */
  }
}