.header {
  z-index: 4;
  position: relative;
}

header .header {
  z-index: 5;
}

.meganav-bg {
  background-color: #fff;
  width: 100%;
  height: 160%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  border-bottom: 1px solid black;
}

@media (min-width: 414px) {
  .meganav-bg {
    height: 120%;
  }
}

@media (min-width: 800px) {
  .meganav-bg {
    height: 100%;
  }
}

.body-locked {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

/*
* Header - Minimal
* Styling for the minimal header, which consists of the logo and the get a quote cta
*/

/* stylelint-disable-next-line selector-class-pattern */
.insurance-paid-page header {
  --nav-height: 80px;

  position: relative;
  z-index: 5;
  width: 100%;
  height: var(--nav-height);
  background: var(--background-color);
}

/* stylelint-disable selector-class-pattern */
.header-content--minimal {
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  background: var(--background-color);

  .header-container {
    display: grid;
    margin: 0 auto;
    padding: 0 1.5rem;
    grid-template-columns: 1fr auto;
    align-items: center;
    max-width: 1440px;
    height: var(--nav-height);
  }

  .header-brand .icon-logo {
    width: 150px;
    height: 32px;
  }

  .header-quote-cta a {
    display: inline-flex;
    padding: 0.5rem 1.5rem;
    color: var(--text-color-inverted);
    font-family: var(--body-font-family);
    font-size: 1rem;
    font-weight: 500;
    line-height: 28px;
    text-decoration: none;
    background-color: var(--cta-button-color);
    border-radius: 30px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr auto;

    .header-container {
      padding: 0 1rem;
    }

    .header-brand .icon-logo {
      width: 219px;
      height: 40px;
    }
  }
}

#nav {
  height: var(--nav-height);
  gap: 0 15px;
  display: grid;
  position: fixed;
  width: 100%;
  background-color: #fff;
  grid-template-columns: 1px 145px auto 25px 1px;
  grid-template-rows: 7px auto 7px auto auto 20px;
}

.header-wrapper .hidden,
#nav .hidden {
  display: none !important;
}

#nav button,
#nav a {
  -webkit-tap-highlight-color: transparent;
}

#nav .nav-brand {
  margin: auto 0;
  grid-row: 2/3;
  grid-column: 2/3;
}

#nav .nav-brand p {
  margin: auto 0;
  line-height: 13px;
}

#nav .nav-tools-mobile {
  grid-row: 4/5;
  grid-column: 1/6;
  padding: 16px 10px;
  position: relative;
  z-index: 2;
  background-color: #fff;
}

#nav .nav-login,
#nav .user-btn {
  margin: auto 0 auto auto;
  grid-row: 2/3;
  grid-column: 3/4;
}

#nav .nav-hamburger,
#nav .nav-close {
  grid-row: 2/3;
  grid-column: 4/5;
  margin: auto 0;
}

#nav .nav-meganav {
  grid-row: 5/6;
  grid-column: 1/6;
  z-index: 2;
  background-color: #fff;
}

#nav .nav-brand .icon-logo {
  height: 31px;
  width: 145px;
}

#nav .search-input {
  width: 100%;
  height: 48px;
  border-radius: 360px;
  padding-left: 16px;
  appearance: none;
  -webkit-appearance: none;
  border-color: #000;
}

#nav .header-wrapper.search-input::placeholder {
  color: #909090;
  font-size: 16px;
  line-height: 20px;
}

#nav .search-btn {
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  right: 33px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0;
}

#nav .nav-login ul {
  display: none;
}

#nav .login-btn {
  background-color: #c74d2f;
  margin: 0;
  padding: 13px 24px;
}

#nav .user-btn {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 11px 0;
}

#nav .user-btn img {
  width: 40px;
  height: 40px;
  aspect-ratio: auto 40 / 40;
}

#nav .nav-meganav li {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

#nav .nav-meganav ul {
  padding-left: 0;
}

#nav .nav-meganav > ul > li {
  border-bottom: 1px solid #000;
}

#nav .nav-meganav .pet-topic {
  display: flex;
  margin-bottom: 0;
}

#nav .nav-meganav .pet-topic-info {
  margin-left: 12px;
}

#nav .nav-meganav .pet-topic-title {
  display: block;
  margin-bottom: 8px;
}

#nav .menu-item {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  color: #000;
  font-family: 'Libre Franklin', 'Libre Franklin Fallback', sans-serif;
  font-size: 18px;
  line-height: 22px;
  padding: 24px;
  border-bottom: 1px solid #000;
  background-color: transparent;
  border-radius: 0;
  width: 100%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
}

#nav button.menu-item {
  border: 0;
  border-bottom: 1px solid #000;
}

#nav .menu-item:last-of-type {
  border: 0;
}

#nav .collapsible {
  margin: 0;
}

#nav .collapsible::after {
  content: '\2303';
  font-size: 20px;
  color: #000;
  float: right;
  transform: rotate(180deg) translateY(2px);
}

#nav .collapsible.active {
  background-color: #3c0040;
  color: #fff;
}

#nav .collapsible.active::after {
  transform: none;
  color: #fff;
}

#nav .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: Raleway, sans-serif;
}

/* stylelint-disable-next-line no-descending-specificity */
#nav .content li {
  padding: 12px 16px;
  display: flex;
}

#nav .content li:first-of-type {
  padding-top: 16px;
}

#nav .content li:last-of-type {
  padding-bottom: 24px;
}

#nav .content li div:first-child {
  margin-right: 12px;
}

#nav .content a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 8px;
}

#nav .content p {
  color: #8a8a8a;
  font-size: 12px;
  line-height: 14px;
}

#nav .nav-hamburger button,
#nav .nav-close button,
#nav .nav-language-selector button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-language-selector-desktop {
  grid-row: 6/7;
  grid-column: 1/6;
  z-index: 3;
  margin: 32px auto 0;
}

#nav .account-options {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  border: 1px solid #e4e4eb;
  box-shadow: 0 34px 21px 0 #0000000d;
  position: absolute;
  left: 0;
  width: 100%;
  top: 100%;
  z-index: 3;
}

#nav .account-btn,
#nav .sign-out-btn {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  padding: 14px 24px;
  margin: 0;
  text-decoration: none;
  font-family: 'Libre Franklin', 'Libre Franklin Fallback', sans-serif;
}

#nav .account-btn {
  border-bottom: 1px solid #e4e4eb;
}

#nav .nav-featured-article {
  display: none;
}

#nav .nav-language-selector {
  display: none;
  grid-row: 6/6;
  grid-column: 1/6;
  margin: 32px auto auto;
}

#nav .nav-language-selector button::after {
  display: flex;
  content: '\2303';
  font-size: 18px;
  color: #000;
  float: right;
  transform: rotate(180deg) translateY(3px);
  margin-left: 8px;
}

#nav .nav-language-selector button {
  font-size: 1.5rem;
  margin: 0;
  padding: 8px 48px 8px 24px;
  border: none;
  border-radius: 0;
  line-height: 1rem;
  z-index: 999;
  background-color: transparent;
}

#nav .nav-language-selector button.active::after {
  transform: rotate(0deg) translateY(3px);
}

#nav .nav-language-selector a {
  line-height: 1.3rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000;
  border: 1px solid #e4e4eb;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: 8px 48px 8px 24px;
  background-color: var(--background-color);
}

#nav .nav-language-selector .region-name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin-left: 8px;
  color: #000;
  font-family: 'Libre Franklin', 'Libre Franklin Fallback', sans-serif;
}

@media (min-width: 768px) {
  #nav .nav-login,
  #nav .user-btn {
    margin-left: auto;
  }

  #nav .nav-login {
    grid-column: 3/4;
  }
}

@media (min-width: 1024px) {
  #nav {
    gap: 0 24px;
    grid-template-rows: 8px 72px 8px 67px;

    /* grid-template-columns: 16px 197px auto 340px fit-content(10px) 60px 16px; */
    grid-template-columns: 16px 257px auto 400px fit-content(10px) 0 0;
  }

  #nav .nav-brand {
    padding: 0;
    grid-row: 2/3;
    grid-column: 2/3;
  }

  #nav .nav-brand p {
    margin: 0;
  }

  #nav .nav-brand .icon-logo {
    height: 42px;
    width: 197px;
  }

  #nav .nav-tools {
    max-width: 340px;
    height: 48px;
    position: relative;
    margin: auto 0;
    grid-column: 4/5;
    grid-row: 2/3;
  }

  #nav .nav-login {
    grid-row: 2/3;
    grid-column: 5/6;
  }

  #nav .login-btn {
    margin: 0;
  }

  #nav .user-btn {
    grid-row: 2/3;
    grid-column: 5/6;
    height: 48px;
    width: 48px;
  }

  #nav .user-btn img {
    width: 48px;
    height: 48px;
    aspect-ratio: auto 48 / 48;
  }

  #nav .nav-language-selector {
    display: none;
    position: relative;
    grid-column: 6/7;
    grid-row: 2/3;
    width: 36px;
    margin: auto;
  }

  #nav .nav-language-selector button {
    padding: 0;
  }

  #nav .nav-language-selector .regions-list {
    position: absolute;
    z-index: 4;
    top: calc(100% + 16px);
    right: -10px;
    min-width: 220px;
  }

  #nav .nav-language-selector a {
    padding: 8px 24px;
  }

  #nav .account-options {
    width: 247px;
    left: unset;
    right: 100px;
    top: 76px;
    border-radius: 10px;
  }

  #nav .content.content-dropdown li.break {
    flex-basis: 100%;
    height: 0;
    padding: 0;
    margin: 0;
    width: 0;
  }

  #nav .content.content-dropdown li {
    margin: 0;
    padding: 10px 8px;
    width: 44%;
  }

  #nav .content li:hover {
    background-color: #ebe8fc;
    border-radius: 10px;
  }

  #nav .content li.break:hover {
    background-color: transparent;
  }

  #nav .content li:hover img {
    transform: rotate(15deg);
  }

  #nav .nav-meganav {
    background-color: #3c0040;
    grid-row: 4/5;
    grid-column: 1/8;
  }

  #nav .nav-meganav ul {
    padding-left: 25px;
    position: relative;
    left: 0;
    display: flex;
    height: 67px;
    align-items: center;
  }

  #nav .nav-meganav li:last-of-type {
    margin-right: 0;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  #nav .nav-meganav > ul > li {
    border: none;
  }

  #nav .menu-item {
    width: auto;
    padding: 13px 16px;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }

  #nav button.menu-item:hover,
  #nav .collapsible.active {
    border-radius: 16px;
    background-color: #fff;
    color: #000;
  }

  #nav .collapsible::after {
    color: #fff;
    margin-left: 8px;
  }

  #nav .collapsible.active::after,
  #nav button.menu-item:hover::after {
    background-color: #fff;
    color: #000;
  }

  #nav .collapsible.active::after {
    transform: translateY(3px);
  }

  #nav .collapsible + .content {
    position: absolute;
    left: 0;
    top: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fff;
    height: unset;
    width: 100%;
  }

  #nav .collapsible + .content ul {
    align-items: flex-start;
    padding: 20px 0 40px 20px;
    flex-flow: wrap column;
    height: 372px;
  }

  #nav .nav-featured-article {
    display: block;
    font-family: 'Libre Franklin', 'Libre Franklin Fallback', sans-serif;
    max-width: 309px;
    padding: 20px 20px 40px 0;
  }

  #nav .article-title {
    display: block;
    margin-bottom: 16px;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    font-weight: 700;
  }

  #nav .article-img {
    display: block;
    margin-bottom: 16px;
  }

  #nav .article-desc {
    font-weight: 400;
    font-size: 24px;
    color: #000;
    margin-bottom: 24px;
  }

  #nav .content .article-url {
    display: flex;
    color: #7369ab;
    font-weight: 600;
    size: 15px;
    line-height: 18px;
  }

  #nav .article-url::after {
    content: '\2303';
    transform: rotate(90deg);
  }

  #nav .nav-language-selector .region-name {
    margin-left: 12px;
  }

  #nav .nav-language-selector button .region-name {
    display: none;
  }
}

@media (min-width: 1200px) {
  #nav .collapsible + .content ul {
    padding: 40px 0 40px 48px;
  }

  #nav .content.content-dropdown li {
    width: 50%;
  }

  #nav .content.content-dropdown li.break {
    padding: 0 24px;
  }

  #nav .nav-featured-article {
    padding: 40px 48px 40px 0;
  }
}

/* Old nav */
.header-wrapper-gb {
  height: 68px;
}

.nav-wrapper nav#nav-gb {
  display: flex;
  padding: 0 1rem;
  height: 68px;
  flex-direction: row-reverse;
  gap: 0 1rem;
  align-items: center;
  justify-content: space-between;
}

.nav-wrapper #nav-gb p {
  margin: 0;
}

#nav-gb .nav-hamburger {
  flex: 0;
}

#nav-gb .nav-hamburger button {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background: none;
}

#nav-gb .nav-hamburger .icon-hamburger {
  height: 25px;
  width: 25px;
  fill: var(--highlight-color);
}

#nav-gb .nav-brand {
  flex: 0;
}

#nav-gb .nav-brand .icon-logo {
  height: 32px;
  width: 170px;
}

#nav-gb .nav-sections {
  display: none;
}

#nav-gb .nav-tools {
  display: none;
}
/* stylelint-disable-next-line no-descending-specificity */
#nav-gb .icon-logo {
  height: 70px;
  width: 190px;
}

body.gen-ai .genai-search-container .default-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  @media (min-width: 1024px) {
    gap: 20px;
  }
}

body.gen-ai #search-main .genai-search-container .default-content-wrapper {
  gap: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
.header-search img,
.header-search .icon svg {
  width: 36px;
  height: 36px;
  object-fit: contain;
  display: inline-block;
  color: #9ca393;
  box-sizing: border-box;
}

.header-search {
  position: fixed;
  right: 1.5rem;
  bottom: 6rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
  cursor: pointer;
  transition: right 0.3s ease;
}

.header-search.scrolled {
  right: 1.5rem;
}

.header-search.hide {
  display: none;
}

/* stylelint-disable-next-line no-descending-specificity */
.header-search > a {
  width: 72px;
  height: 72px;
  line-height: 54px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
  background-color: var(--highlight-color);
  margin: 10px;
  padding: 16px 8px;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
}

/* stylelint-disable-next-line no-descending-specificity */
.header-search a:hover {
  background-color: var(--background-color-dark);
}

.header-search-modal {
  /* transform: scale(0); */
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90vw;
  height: 90vh;
  background-color: var(--body-background-color);
  z-index: 9999;
  transition: all 0.2s ease-out;
  pointer-events: auto;
}

.header-search-modal.visible {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  display: unset;

  /* Retain horizontal centering */
  top: 50%;
  left: 50%;
}

.header-search-modal #search-main {
  overflow: hidden scroll;
  height: 100%;
  background-color: var(--background-color-light);
  border-radius: 6px;
}

.header-search-modal #search-main::-webkit-scrollbar {
  display: none;
}

.header-search-close {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 54px;
  height: 54px;
  line-height: 54px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
  background-color: var(--color-gray-light);
  margin: 10px;
  padding: 9px;
  border-radius: 27px;
  box-sizing: border-box;
  cursor: pointer;
}

.header-search-close::before,
.header-search-close::after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 21px;
  height: 3px;
  background: var(--background-color);
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
  margin: 18px 16px;
}

.header-search-close::after {
  transform: rotate(-45deg);
}

/* main .search input {
  width: 100%;
  height: 60px;
  margin: auto;
  box-sizing: border-box;
  font-size: 20px;
  border: 2px solid var(--color-gray-3);
  font-family: var(--body-font-family);
  line-height: 58px;
  border-radius: 50px;
  padding: 0 96px 0 30px;
} */

#search-main .genai-search-container .default-content-wrapper h1 {
  font-size: 36px;
  text-align: center;
  color: var(--color-purple-gray);
  width: auto;

  @media (max-width: 600px) {
    padding-top: 0;
    margin-top: 0;
  }
}

#search-main .search .search-box {
  margin: auto;
  text-align: center;
  max-width: 800px;
}

.header-search-modal .search-wrapper .search.block {
  display: block;
}

/* .search-wrapper {
  position: relative;
  max-width: 600px;
  margin: 20px 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
} */

#search-main .search-wrapper .search-box input {
  font-size: 1.125rem;
  background: hsl(0deg 0% 100% / 78%);
  border-radius: 70px;
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid hsl(0deg 0% 100% / 78%);
  display: inline-block;
  height: 50px;
  padding-left: 20px;
  padding-right: 105px;
  box-shadow: 5px 5px 50px rgb(0 0 0 / 10%);
  box-sizing: border-box;
}

#search-main .genai-search-container {
  /* padding: 32px 0 14px; */
  padding: 2rem 1.5rem;
}

/* #search-main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
} */

#search-main .search-results {
  max-width: 1200px;
  margin: auto;
  padding-top: 32px;
}

#search-main .search-results > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 32px;
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* stylelint-disable-next-line color-function-notation */
  background-color: rgba(0, 0, 0, 40%);
  z-index: 9998;
  display: none;
  pointer-events: none;
}

@media (min-width: 1024px) {
  .nav-wrapper nav#nav-gb {
    margin: 0 auto;
    max-width: 1344px;
    flex-direction: row;
    justify-content: start;
  }

  #nav-gb .nav-brand .icon-logo {
    height: 38px;
    width: 200px;
  }

  #nav-gb .nav-sections {
    display: unset;
    width: 100%;
  }

  #nav-gb .nav-sections ul {
    display: flex;
    padding: 0;
    gap: 0 10px;
    justify-content: end;
    list-style: none;
  }

  #nav-gb .nav-sections li {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }

  #nav-gb .nav-sections a {
    color: var(--color-gray-dark);
    text-decoration: none;
  }

  #nav-gb .nav-sections a:is(:focus, :hover) {
    color: var(--color-blue);
    text-decoration: none;
  }
}

@media (min-width: 1200px) {
  #nav-gb .nav-tools {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  #nav-gb .nav-tools form {
    position: relative;
  }

  #nav-gb .nav-tools .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
    padding: 0;
    margin: 0;
  }

  #nav-gb .nav-tools .search-btn .icon-search {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    fill: var(--background-color);
  }

  #nav-gb .nav-tools input {
    height: 40px;
    width: 214px;
    padding-left: 20px;
    padding-right: 40px;
    background: var(--highlight-color);
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 15px;
  }

  #nav-gb .nav-tools input::placeholder {
    color: white;
  }

  #nav-gb .nav-tools input::-webkit-search-cancel-button {
    appearance: none;
    width: 0.75rem;
    height: 0.75rem;
    background: var(--text-color-inverted);
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-mask: url('../../icons/close.svg') no-repeat;
    mask: url('../../icons/close.svg') no-repeat;
  }

  #nav-gb .nav-tools button[popovertarget],
  #nav-gb .nav-tools button[aria-haspopup] {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    background: inherit;
    border: none;
    border-radius: 0;
    line-height: 1rem;
  }

  #nav-gb .nav-tools [popover],
  #nav-gb .nav-tools button[aria-haspopup] + [aria-hidden] {
    position: absolute;
    inset: unset;
    right: 9px;
    top: 52px;
    gap: 0.5rem;
    z-index: 999;
    padding: 0.25rem;
    background-color: var(--background-color);
    border: 1px solid;
    font-size: 1.5rem;
  }

  #nav-gb .nav-tools [popover],
  #nav-gb .nav-tools [aria-hidden='false'] {
    display: flex;
  }

  #nav-gb .nav-tools [popover] a,
  #nav-gb .nav-tools button[aria-haspopup] + [aria-hidden] a {
    line-height: 1.3rem;
    text-decoration: none;
  }

  #nav-gb .home-page .nav-tools form {
    display: none;
  }

  #nav-gb .home-page .nav-sections ul {
    gap: 0 20px;
  }

  #nav-gb .home-page .nav-sections li {
    font-size: 1rem;
  }
}

@media (min-width: 1400px) {
  #nav-gb .nav-sections ul {
    gap: 0 20px;
  }

  #nav-gb .nav-sections li {
    font-size: 1rem;
  }

  #nav-gb .nav-tools [popover],
  #nav-gb .nav-tools button[aria-haspopup] + [aria-hidden] {
    right: calc((100% - 1376px) / 2 + 9px);
  }
}

#search-main .genai-search-container p {
  /* margin-top: unset;
  max-width: unset; */
  margin-top: 1em;
  margin-bottom: 1em;
}

@keyframes fade-in {
  from {
    opacity: 0; /* start at 0 opacity */
  }

  to {
    opacity: 1; /* end at 1 opacity */
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-10%);
  }

  to {
    transform: translateY(0);
  }
}

.tooltip {
  visibility: hidden;
  width: 94px;
  height: auto;
  background-color: #fff;
  font-family: var(--heading-font-family);
  color: var(--color-gray-dark);
  text-align: center;
  border-radius: 6px;
  position: absolute;
  font-style: normal;
  padding: 10px;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);

  /* stylelint-disable-next-line color-function-notation */
  filter: drop-shadow(0 1px 7px rgba(0, 0, 0, 20%));
}

.tooltip::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--background-color) transparent transparent transparent;
}
/* stylelint-disable-next-line no-descending-specificity */
.header-search:hover a {
  background-color: black;
}

.header-search:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
