main,
footer {
  display: none;
}

.nav-wrapper nav {
  display: flex;
  padding: 0 1rem;
  /* height: var(--nav-height); */
  gap: 0 1rem;
  align-items: center;
  justify-content: space-between;
}

.nav-wrapper .nav-brand .icon-logo {
  height: 42px;
  width: 145px;
}

.nav-wrapper .nav-tools {
  padding: 10px 16px;
  position: relative;
}

.nav-wrapper .search-input {
  width: 100%;
  height: 48px;
  border-radius: 360px;
}

.nav-wrapper.search-input ::placeholder {
  color: #909090;
  font-size: 16px;
  line-height: 20px;
}

.nav-wrapper .search-btn {
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  right: 33px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0;
}

.nav-wrapper .login-btn {
  background-color: #C74D2F;
}

@media (min-width: 1024px) {
  .nav-wrapper .nav-brand .icon-logo {
    height: 42px;
    width: 197px;
  }

  .nav-wrapper .nav-tools {
    max-width: 340px;
  }
}