
/* Details Box Section Block */
.details-box.rounded {
  padding: 2.5rem;
  margin: 0 auto 56px !important;
  border-radius: 20px;
  background-color: var(--color-dark-maroon); 

  @media (min-width: 800px){
    padding: 2rem;
  }

  @media (min-width: 1024px){
    padding: 2.5rem;
  }
}

/* Details Box  Title */
.details-box h4 {
  border-bottom: 2px dotted #fff;
  color: var( --text-color-inverted);
  text-align: center;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
  padding: 0;
  padding-bottom: 2rem;
  font-size: var(--heading-font-size-xs);
  line-height: 26.5px; /* 189.286% */
  
  @media (min-width: 800px){
    padding: 0;
    padding-bottom: 2.5rem;
    font-size: 1.375rem;
    line-height: 36px; /* 163.636% */
  }

  @media (min-width: 1024px){
    padding-bottom: 2.5rem;
    font-size: 1.875rem;
    line-height: 42px; /* 140% */
  }
}

.details-box ol {
  counter-reset: block-counter;
  list-style: none;
  padding: 2.5rem 0 0 3.125rem;
}

.details-box li {
  position: relative;
  text-align: left;
  margin-bottom: 24px;
  color: var(--text-color-inverted);
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 400;
  counter-increment: block-counter;
  font-size: 0.6875rem;
  line-height: 22px;
  padding-left: 0;
  
  @media (min-width: 800px){
    padding-left: 0;
    font-size: var(--body-font-size-m);
    line-height: 24px;
  }

  @media (min-width: 1024px){
    font-size: var(--body-font-size-l);
    line-height: 30px;
    margin-bottom: 30px;
  }
}

.details-box li:last-of-type {
  margin-bottom: 0;
}

/* Block Counter List */
.details-box li::before {
  position: absolute;
  content: counter(block-counter);
  background: var(--highlight-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  left: -3.125rem;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: var(--heading-font-size-m);
  line-height: 26px; /* 144.444% */

  @media (min-width: 800px){
    font-size: 1.875rem;
    line-height: 42px; /* 140% */
    padding: 2.5rem 2.5rem 0 3.75rem;
  }

  @media (min-width: 1024px){
    font-size: 1.875rem;
    line-height: 42px; /* 140% */
    padding: 2.5rem 2.5rem 0 6.25rem;
    width: 3.125rem;
    height: 3.125rem;
    left: -3.75rem;
  }
}

.details-box li strong {
  color: #fff;
}
