/* button */
.pet-details .pet-details-button,
.pet-details a.pet-details-button {
    margin: 0;
    padding: 12px 50px;
    font-size: 18px;
    font-family: var(--body-font-family);
    font-weight: 600;
    line-height: 1.2;
}
.pet-details button.pet-details-button.primary,
.pet-details a.pet-details-button.primary {
    background-color: var(--compare-button-bg-color);
}
.pet-details .pet-details-button-icon-favorite {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    -webkit-mask: url("../../icons/favorite.svg") no-repeat center center;
    mask: url("../../icons/favorite.svg") no-repeat center center;
    background-color: #09090D;
    margin-right: 16px;
}

/* layout container */
.pet-details .about-pet-container,
.pet-details .shelter-container,
.pet-details .checklist-container {
    border-radius: 12px;
    box-shadow: 0px 2px 12px 0px #0000001A;
}
/* checklist section */
    .pet-details .checklist-container {
        padding: 32px 24px 32px 24px;
    }
    .pet-details .checklist-item {
        margin-top: 48px;
    }
    .pet-details .checklist-item-label {
        display: flex;
    }
    .pet-details .checklist-item-label-index {
        display: block;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 56px;
        height: 56px;
        padding-top: 12px;
        margin-right: 16px;
        border-radius: 50%;
        text-align: center;
        color: #302280;
        background-color:#EBE8FC;
    }
    .pet-details .checklist-item ul {
        list-style-type: none;
        padding: 0;
    }
    .pet-details .checklist-item ul li {
        margin-bottom: 32px;
        padding: 0;
        display: inline-flex;
    }
    .pet-details .checklist-item ul li:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 12px;
        border: 2px solid #6E6D73;
        border-radius: 2px;
        flex-shrink: 0;
    }
/* about pet section */

    .pet-details .about-pet-container {
        padding: 24px 16px;
    }
    .pet-details .about-pet-title {
        color: var(--color-black);
        margin: 0;
    }
    .pet-details .about-pet-subtitle,
    .pet-details .about-pet-details {
        margin-top: 24px;
    }
    .pet-details .about-pet-subtitle {
        font-size: 24px;
        line-height: 1.2;
    }
    .pet-details .about-pet-body {
        padding-top: 40px;
        margin-top: 40px;
        border-top: 2px solid var(--border-color);
    }
    .pet-details .about-pet-body h3 {
        margin-bottom: 24px;
    }
    .pet-details .about-pet-ctas {
        display: flex;
        flex-wrap: nowrap;
        gap: 8px;
    }

/* shelter section */
    .pet-details .shelter-container {
        margin-top: 24px;
        padding: 32px 24px;
    }
    .pet-details .shelter-location {
        font-size: 24px;
        line-height: 1.2;
        margin-top: 20px;
    }
    .pet-details .shelter-address {
        margin-top: 32px;
        display: inline-flex;
    }
    .pet-details .shelter-phone {
        margin-top: 24px;
    }
    .pet-details .shelter-address:before,
    .pet-details .shelter-phone:before {
        display: inline-block;
        content: "";
        width: 24px;
        height: 24px;
        margin-right: 16px;
        background-color: var(--color-purple-dark);
    }
    .pet-details .shelter-address:before {
        -webkit-mask: url("../../icons/map.svg") no-repeat center center;
        mask: url("../../icons/map.svg") no-repeat center center;
    }
    .pet-details .shelter-phone:before {
        -webkit-mask: url("../../icons/phone.svg") no-repeat center center;
        mask: url("../../icons/phone.svg") no-repeat center center;
    }
    .pet-details .shelter-address a,
    .pet-details .shelter-phone a {
        color: var(--color-black);
    }

/* Similar Pets section */

.pet-details .similar-pets-container {
    padding: 32px 0 16px;
}
.pet-details .pet-card {
    width: 250px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px #0000003D;
    position: relative;
    flex-shrink: 0;
}

.pet-details .pet-card-body {
    padding: 24px 16px 16px;
}
.pet-details .pet-card-button-conainer {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 3;
    width: 40px;
    height: 40px;
    background: transparent;
}
.pet-details .pet-card-favorite {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background-color: #FFFFFFD9;
}
.pet-details .pet-card-favorite-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-mask: url("../../icons/favorite.svg") no-repeat center center;
    mask: url("../../icons/favorite.svg") no-repeat center center;
    background-color: var(--text-color-disabled);
}
.pet-details .similar-pets-gallery-wrapper {
    width: 100%;
    overflow-x: auto;
}
.pet-details .similar-pets-gallery {
    padding: 32px 0 16px;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}
.pet-details .pet-card-name {
    margin-bottom: 8px;
}
.pet-details .pet-card-image img {
    border-radius: 8px 8px 0 0;
}
.pet-details .pet-card-info {
    display: flex;
    align-items: center;
}

.pet-details .pet-card-address {
    margin-top: 24px;
}
.pet-details .stretched-link {
    color: #000000;
}
.pet-details .stretched-link:after{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.pet-details .dot {
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #000000;
    margin-left: 12px;
    margin-right: 12px;
}
.pet-details .dot.dot-medium {
    width: 6px;
    height: 6px;
    margin-left: 16px;
    margin-right: 16px;
}
.pet-details .dot.dot-large {
    width: 8px;
    height: 8px;
    margin-left: 16px;
    margin-right: 16px;
}


@media (max-width: 600px) {
    .pet-details .about-pet-size + .dot {
        display: none;
    }
    .pet-details .about-pet-id {
        display: block;
    }
}

@media (max-width: 767px) {
    .pet-details .about-pet-subtitle .dot {
        display: none;
    }
    .pet-details .about-pet-location {
        display: block;
    }
    .pet-details .about-pet-ctas {
        flex-direction: column;
        gap: 16px;
        margin-top: 40px;
    }
}

@media (min-width: 768px) {
    .pet-details .similar-pets-container {
        padding: 48px 0 32px;
    }
    .pet-details .about-pet-header {
        display: grid;
        grid-template-columns: 1fr max-content;
        grid-template-rows: auto auto auto;
    }
    .pet-details .about-pet-title {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .pet-details .about-pet-ctas {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: start;
    }
    .pet-details .about-pet-subtitle {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    .pet-details .about-pet-details {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    .pet-details .about-pet-container {
        padding: 24px;
    }
    .pet-details .about-pet-body {
        padding-top: 24px;
        margin-top: 24px;
    }

}

@media (min-width: 1024px) {
    .pet-details .pet-card {
        width: 300px;
    }
    .pet-details .layout-container {
        display: grid;
        grid-template-columns: 0.67fr 40px 0.33fr;
        grid-template-rows: repeat(3, auto);
    }
    .pet-details .about-pet-container {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: start;
    }
    .pet-details .shelter-container {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-top: 32px;
        align-self: start;
    }
    .pet-details .checklist-container {
        grid-column: 3 / 4;
        grid-row: 1 / 4;
        align-self: start;
    }

}