.disclosure {
  margin-bottom: .75rem;
  min-height: 55px;
}

.block.disclosure p,
.block.disclosure a {
  color: var(--color-mauve);
  font-size: var(--body-font-size-xs);
}

@media (min-width: 600px) {
  .disclosure {
    min-height: 42px;
  }
}