/* stylelint-disable rule-empty-line-before */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable selector-pseudo-element-colon-notation */
/* stylelint-disable declaration-empty-line-before */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable comment-whitespace-inside */
/* stylelint-disable custom-property-empty-line-before */
/* stylelint-disable alpha-value-notation */
/* stylelint-disable selector-id-pattern */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-block-no-duplicate-properties */
/* stylelint-disable length-zero-no-unit */
/* stylelint-disable at-rule-empty-line-before */
/* stylelint-disable comment-empty-line-before */
/* stylelint-disable color-function-notation */
/* stylelint-disable color-hex-length */
/* stylelint-disable block-no-empty */
/* stylelint-disable shorthand-property-no-redundant-values */

.section.genai-search-container {
  overflow: visible;

  @media (max-width: 600px) {
    padding: 18px 30px;
  }
}

.section.genai-search-container .default-content-wrapper {
  display: flex;
  align-items: center;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 0;
  }
}
.section.genai-search-container:not(.centered) {
  border-top: 2px solid var(--border-color);
  padding: 0 1rem;

  @media (min-width: 1200px) {
    max-width: 1344px;
  }

  @media (min-width: 1024px) {
    margin: 0 auto;
    width: auto;
    padding-top: 0;
  }
}

.section.genai-search-container:not(.centered) .default-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 600px) {
    display: flex;
    flex-wrap: wrap;
  }
}

body.article-page .section.genai-search-container:not(.centered) h2 {
  display: inline-block;
  margin-bottom: 0;
  color: var(--text-color);

  @media (max-width: 600px) {
    display: block;
  }
}

body.article-page
  .section.genai-search-container:not(.centered)
  h2:last-of-type {
  color: var(--link-color) !important;
}

body.article-page
  .section.genai-search-container:not(.centered)
  h2:first-of-type {
  color: var(--color-purple-dark-alt);
  padding-top: 1.5rem;
}

.home-page .section.genai-search-container {
  flex-direction: column;
}

.home-page .section.genai-search-container .genai-search-wrapper {
  display: flex;
  justify-content: center;
}

.section.genai-search-container h1 {
  display: inline-block;
  top: -60px;

  @media (max-width: 600px) {
    padding-top: 1rem;
    width: 70%;
    color: var(--color-orange);
  }
}

.section.genai-search-container h1 span {
  color: var(--highlight-color);
}

.section.genai-search-container h1::first-line {
  color: var(--text-color);
}

.section.genai-search-container h1::before,
.section.genai-search-container h1::after,
.section.genai-search-container h2::before,
.section.genai-search-container h2::after {
  display: none;

  @media (min-width: 600px) {
    display: block;
    --radius: 10px;
    content: '';
    position: absolute;
    width: calc(2 * var(--radius));
    height: var(--radius);
    top: calc(28px - var(--radius));
    z-index: 10;
    left: calc(5px - 2 * var(--radius));
    box-shadow: 0.5rem 0.25rem 0 0 white;
    border-radius: 0 0 var(--radius) 0;
  }
}

.section.genai-search-container h1::after,
.section.genai-search-container h2::after {
  @media (min-width: 600px) {
    display: block;
    right: calc(5px - 2 * var(--radius));
    left: initial;
    border-bottom: none;
    min-width: 0;
    box-shadow: -0.5rem 0.25rem 0 0 white;
    border-radius: 0 0 0 var(--radius);
  }
}

.section.genai-search-container h1:before,
body.article-page .section.genai-search-container h2:last-of-type::before {
  content: ' ';
  background-image: url('data:image/svg+xml,<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.9329 14.9692L19.6 16.4249V22.4C19.6 23.1732 18.9732 23.8 18.2 23.8H6.99999C6.2268 23.8 5.59999 23.1732 5.59999 22.4V11.2C5.59999 10.4268 6.2268 9.8 6.99999 9.8H13.2822L10.6102 7H6.99999C4.6804 7 2.79999 8.88041 2.79999 11.2V22.4C2.79999 24.7196 4.6804 26.6 6.99999 26.6H18.2C20.5196 26.6 22.4 24.7196 22.4 22.4V14.8017L21.4942 14.7433C21.2826 14.7297 21.0761 14.8127 20.9329 14.9692Z" fill="black"/><path d="M22.4449 2.96558L21.8201 7.69716C21.7666 8.10275 21.8999 8.51075 22.1825 8.80649L25.1911 11.9541L20.8455 11.6734C20.4373 11.647 20.0392 11.8072 19.763 12.1088L16.5399 15.629L17.1591 10.8929C17.212 10.4881 17.0789 10.0811 16.7971 9.78586L13.7931 6.63908L18.134 6.91835C18.5414 6.94456 18.9389 6.78493 19.215 6.48414L22.4449 2.96558Z" fill="black"/><path d="M13.9086 13.4264L13.5509 16.1352C13.5015 16.5089 13.6243 16.8847 13.8847 17.1572L15.5952 18.9466L13.1245 18.787C12.7485 18.7627 12.3818 18.9102 12.1273 19.1881L10.2821 21.2035L10.6367 18.4914C10.6854 18.1185 10.5628 17.7436 10.3031 17.4716L8.59515 15.6824L11.0632 15.8412C11.4386 15.8654 11.8047 15.7183 12.059 15.4412L13.9086 13.4264Z" fill="black"/></svg>');
  width: 28px;
  height: 28px;
  display: inline-block;
  margin-right: 5px;
  background-size: cover;
}

body.gen-ai .section.genai-search-container .default-content-wrapper h1 {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 800;
  margin-bottom: 0.5rem;
  display: inline-block;
  @media (min-width: 768px) {
    font-size: 3rem;
  }
}

body.gen-ai
  .section.genai-search-container
  .default-content-wrapper
  h2:not(.action-cta-title) {
  font-size: var(--heading-font-size-xl);
  line-height: 1.1;
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: inline-block;
  @media (min-width: 768px) {
    font-size: 2.5rem;
    font-weight: 800;
  }
}

body.gen-ai .section.genai-search-container .default-content-wrapper p {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  line-height: 1.8;
  @media (min-width: 768px) {
    font-size: 1.125rem;
    line-height: 1.5;
  }
}

#search-main .section.genai-search-container p {
  text-align: center;
  max-width: 1024px;
}

.home-page .section.genai-search-container p {
  margin-top: -40px;
  max-width: 726px;
  font-size: var(--body-font-size-s);
  color: var(--text-color);
}

.genai-search.block.center {
  justify-content: center;
}

.genai-search.block.left {
  justify-content: flex-start;
}

.genai-search.block.right {
  justify-content: flex-end;
}

.genai-search .search-box-wrapper {
  position: relative;
  max-width: 600px;
  margin: 20px 0 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.genai-search.block.small .search-box-wrapper,
.genai-search.block.large .search-box-wrapper {
  max-width: 700px;
}

.genai-search .search-box-wrapper .search-input {
  font-size: 1rem;
  background: var(--background-color);
  border: 1px solid var(--color-gray-lighest-alt);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  height: 44px;
  padding-left: 1rem;
  padding-right: 10px;
  border-radius: 40px;
  padding-right: 70px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  outline: none;

  @media (min-width: 600px) {
    border-radius: 70px;
    padding-right: 80px;
    margin-bottom: 1rem;
    width: 100%;
    display: inline-block;
  }
}

.genai-search .search-box-wrapper .search-input:focus-visible {
  outline: none;
  border-color: var(--color-purple-alt);
}

.home-page .genai-search .search-box-wrapper .search-input {
  font-size: 0.875rem;
  background: var(--background-color);
  border: 1px solid var(--color-gray-lighest-alt);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  padding-left: 1rem;
  padding-right: 10px;
  border-radius: 7px;
  outline: none;

  @media (min-width: 600px) {
    border-radius: 70px;
    margin-bottom: 1rem;
    width: 100%;
    display: inline-block;
  }
}

.genai-search .search-box-wrapper .search-input::placeholder {
  color: #a4a4a4;
}

body:not(.gen-ai) .genai-search .search-box-wrapper .search-button,
.home-page .genai-search .search-box-wrapper .search-button {
  color: white;
  font-size: var(--heading-font-size-l);
  text-transform: uppercase;

  @media (min-width: 600px) {
    font-size: 0;
    line-height: 10px;
    position: absolute;
    top: -8px;
    right: 12px;
    height: 28px;
    padding: 0 0 0 10px;
    width: auto;
    background: transparent;
    font-weight: 800;
    font-family: var(--heading-font-family);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid #a4a4a4;
  }
}
body:not(.gen-ai) .genai-search .search-box-wrapper .search-button {
  font-size: 0;
  line-height: 10px;
  position: absolute;
  top: -8px;
  right: 12px;
  height: 28px;
  padding: 0 0 0 10px;
  width: auto;
  background: transparent;
  font-weight: 800;
  font-family: var(--heading-font-family);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #a4a4a4;
}

.gen-ai .genai-search .search-box-wrapper .search-button {
  font-size: 0;
  line-height: 10px;
  position: absolute;
  top: -8px;
  right: 12px;
  height: 28px;
  padding: 0 0 0 10px;
  width: auto;
  background: transparent;

  font-weight: 800;
  font-family: var(--heading-font-family);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #a4a4a4;
}
.genai-search .search-box-wrapper .search-button svg {
  color: var(--highlight-color);
  transform: rotate(-45deg);
}

.genai-search.small
  .search-box-wrapper
  .search-input::-webkit-search-cancel-button,
.genai-search.large
  .search-box-wrapper
  .search-input::-webkit-search-cancel-button {
  display: none;
}

@media (min-width: 600px) {
  .section.genai-search-container h2 {
    width: 80%;
  }

  .genai-search .search-box-wrapper:not(.gen-ai-search-container) {
    flex-direction: row;
  }

  .genai-search .search-box-wrapper .search-input {
    height: 45px;
    max-width: 700px;
    padding-left: 30px;
    padding-right: 60px;
  }

  body.gen-ai .genai-search.large .search-box-wrapper .search-input {
    height: 63px;
  }

  .genai-search .search-box-wrapper .search-button {
    position: absolute;
    top: -12px;
    right: 25px;
    height: 42px;
    width: auto;
    margin-left: -254px;
    padding-left: 15px;
  }
  .search-box-wrapper .search-button svg {
    height: unset;
    width: unset;
    margin-bottom: 0;
  }
  .genai-search.small .search-box-wrapper .search-button,
  .genai-search.large .search-box-wrapper .search-button {
    height: 40px;
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .section.genai-search-container h2 {
    width: initial;
  }
}
.genai-search-container .insurance-card {
  margin-bottom: 20px;
  background-color: white;
  display: grid;
  grid-template-rows: auto;
  padding: 0;
}

.genai-search-container .insurance-card .search-card-warning {
  margin-bottom: 20px !important;
  width: 100%;
}

.genai-search-container .insurance-card .cta-container {
  padding: 30px 20px;
  border-radius: 8px;
  border: 1px solid #8d8d8d;
  cursor: pointer;
  background: #fff;
}

.genai-search-container .insurance-card .cta-container h4 {
  color: #969696;
  margin-top: 0 !important;
  margin-bottom: 5px !important;
  font-family: var(--heading-font-family);
  font-size: var(--body-font-size-s);
  font-style: normal;
  font-weight: 600;
  line-height: 17px; /* 121.429% */
  letter-spacing: 1.54px;
  text-transform: uppercase;
}

.genai-search-container .insurance-card .cta-container p {
  color: #24081d;

  font-family: var(--heading-font-family);
  font-size: var(--body-font-size-m);
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
}

.genai-search-container .insurance-card .cta-container:hover p {
  color: var(--color-blue);
}

.genai-search-container .search-card {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  padding: 0;
}

.genai-search-container .search-card .divider {
  grid-column: span 2;

  @media (min-width: 1024px) {
    grid-column: 1;
  }
}

.genai-search-container .search-card h1::before,
.genai-search-container .search-card h2::before {
  display: none;
}

.genai-search-container .search-card h4:not(.slideshow-title) {
  grid-column: 1;
}

.genai-search-container .search-card .search-card-buttons {
  grid-column: 1;
  cursor: pointer;
}

@media (max-width: 600px) {
  .genai-search-container .search-card {
    grid-template-columns: 100%;
    padding-left: 0;
  }
  .genai-search-container .search-card .divider,
  .genai-search-container .search-card h4,
  .genai-search-container .search-card .search-card-buttons {
    grid-column: span 2;
    /* grid-row: auto; */
  }
  .genai-search-container .search-card .search-card-buttons {
    overflow-x: hidden;
  }
}

.genai-search-container .search-card .search-card-warning {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  grid-row: 1;
  margin: 0 !important;
}

.genai-search-container .search-card-warning p {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-xxs);
  font-weight: 600;
  line-height: 1.0625rem;
  color: var(--color-blue-dark-alt);
  margin-top: 0;
  margin-bottom: 0;
}

.genai-search-container .search-card-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.genai-search-container .search-card-button {
  background-color: #ffffff;
  border: solid 2px var(--color-purple);
  padding: 5px 16px;
  font-size: 1rem;
  margin: 0;
  text-decoration: none;
  display: inline-block;
  flex-wrap: wrap;
  border-radius: 16px;
  font-family: unset;
  font-weight: 300;
  transition: transform 0.3s ease; /* Animation for hover effect */
  color: #24081d;
  @media (max-width: 600px) {
    font-size: 0.8125rem;
    white-space: wrap;
    text-align: left;
  }
}

.search-card-button:hover,
.search-card-button:focus {
  background-color: var(--background-color);
  cursor: pointer !important;
  @media (min-width: 600px) {
    transform: scale(1.05); /* Zoom effect on hover */
  }
}

.genai-search-container article a {
  color: var(--color-purple);
  text-decoration: underline;
}

.genai-search-container article ul,
article ol {
  list-style-position: unset;
}

.genai-search-container .search-card > h3,
.genai-search-container .search-card > h4 {
  grid-column: 1;
  margin-top: 15px !important;
  /* margin-bottom: 0px !important; */
  padding-bottom: 0px;
}

.genai-search-container .divider {
  border-bottom: 1px solid var(--color-gray); /* create a 1px solid black border at the bottom */
  padding-bottom: 0px; /* optional: add some padding at the bottom of the div */
}

.genai-search-container .search-card-container {
  display: grid;
  grid-template-columns: minmax(auto, 60%) minmax(540px, 40%);
  /* grid-template-columns: 60% 40%; */
  grid-template-rows: auto auto auto;
  row-gap: 20px;
  grid-column: span 2;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  @media (max-width: 600px) {
    gap: 0;
  }
  @media (min-width: 900px) {
    row-gap: unset;
    justify-content: flex-start;
    min-width: 100%;
  }
}
.genai-search-container .search-card {
  width: 100%;
}
.genai-search-container .search-card-container article {
  grid-column: 1 / 2;
  grid-row: 2;
  width: 100%;
}

.genai-search-container .search-card-container .slideshow {
  grid-column: 2 / 2;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  margin: 0 0 1.75rem;
  position: relative;
  overflow: hidden;
  touch-action: none;
  @media (min-width: 1024px) {
    max-width: 480px;
    margin-top: 0;
  }
}

@media (min-width: 600px) {
  .genai-search-container .search-card-container .slideshow:before {
    content: '';
    position: absolute;
    left: 0;
    width: 74px;
    z-index: 1;
    height: 100%;
    background: linear-gradient(90deg, #fff 64.58%, transparent 0%);
  }
}

.genai-search-container .search-card-container .slideshow-title {
  flex-grow: 1;
  flex-shrink: 0;

  @media (min-width: 1024px) {
    padding: 0 52px;
  }
}

.genai-search-container .search-card-container .slideshow:after {
  content: '';
  position: absolute;
  right: 0;
  width: 74px;
  z-index: 1;
  height: 100%;
  background: linear-gradient(90deg, transparent 0%, #fff 100%);
}

.genai-search-container .search-card-container .slideshow .slides-container {
  display: flex;
  flex-direction: row;
  transition: transform 600ms;

  @media (min-width: 600px) {
    padding-left: 36px;
  }
}

.genai-search-container .search-card-container .slideshow .slideshow-prev,
.genai-search-container .search-card-container .slideshow .slideshow-next {
  display: none;
}

.genai-search-container .search-card-container .slideshow .slideshow-prev,
.genai-search-container .search-card-container .slideshow .slideshow-next {
  position: absolute;
  border: 1px solid #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #fff;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.25s linear;
  z-index: 2;
  font-size: 30px;
  line-height: 30px;
  user-select: none;

  &.hide {
    opacity: 0;
    cursor: default;
  }

  /* @media (min-width: 600px) {
    top: calc(50% - 20px);
    bottom: auto;
  } */
}

.genai-search-container .search-card-container .slideshow .slideshow-prev {
  left: 0;

  @media (min-width: 600px) {
    left: 50px;
  }
}

.genai-search-container .search-card-container .slideshow .slideshow-next {
  right: 0;

  /* @media (min-width: 600px) {
    right: 15px;
  } */
}

.genai-search-container
  .search-card-container
  .slideshow
  .slides-container
  .slide {
  width: 260px;
  min-width: 260px;
  height: 200px;
  display: block;
  border-left: 1px solid #bdbdbd;
  flex-shrink: 0;
  position: relative;

  /* @media (min-width: 600px) {
    height: 160px;
  } */
}

.genai-search-container
  .search-card-container
  .slideshow
  .slides-container
  .slide[aria-hidden='false'] {
  border-left: 0px solid #bdbdbd;
  transition: border 0.25s linear;

  /* @media (max-width: 600px) { */
    padding-left: 0;
  /* } */
}

.genai-search-container
  .search-card-container
  .slideshow
  .slides-container
  .slide[aria-hidden='false']
  .text-div {
  @media (max-width: 600px) {
    padding-left: 0;
  }
}

.genai-search-container
  .search-card-container
  .slideshow
  .slides-container
  .slide
  .text-div {
  padding: 0 15px;
  display: block;
}

.genai-search-container
  .search-card-container
  .slideshow
  .slides-container
  .slide
  .text-div
  h4 {
  font-size: var(--body-font-size-xxs);
  color: #969696;
  font-weight: normal;
  margin-top: 0 !important;
  margin-bottom: 4px !important;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 17px;
  font-weight: 600;
  font-size: 10px;
  font-style: normal;
}

.genai-search-container
  .search-card-container
  .slideshow
  .slides-container
  .slide
  .text-div
  p {
  font-size: var(--heading-font-size-xxs);
  color: #24081d;
}

.genai-search-container
  .search-card-container
  .slideshow
  .slides-container
  .slide
  .text-div
  p
  strong {
  display: block;
}

.genai-search-container .search-card-container :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 10px !important;
}

@media (max-width: 1024px) {
  .genai-search-container .search-card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .genai-search-container .search-card-container article {
    grid-column: 1;
  }

  .genai-search-container .search-card-container .slideshow {
    grid-column: 1;
    grid-row: auto;
  }
}

.genai-search-container .search-card-container article hr {
  display: none;
}

.genai-search-container .search-card-container article h1 {
  font-size: 1.5em;
  font-style: unset;
  text-align: unset;
  color: unset;
  margin-bottom: unset;
}

.genai-search-container .search-card-container article h2 {
  font-size: var(--heading-font-size-l);
  margin-bottom: 5px;
}

.genai-search-container .search-card-container article h3 {
  font-size: var(--heading-font-size-m);
}

.genai-search-container .search-card-container article h4 {
  font-size: var(--heading-font-size-s);
}

.genai-search-container .search-card-container article ul {
  padding-left: 20px;
  margin: 8px 0 8px;
}

.genai-search-container .search-card-container article ul li {
  margin-bottom: 0.5rem;
}

@media (max-width: 600px) {
  .genai-search-container .search-card-container article h1 {
    font-size: 1.25rem;
  }

  .genai-search-container .search-card-container article h2 {
    font-size: var(--heading-font-size-s);
  }

  .genai-search-container .search-card-container article h3 {
    font-size: var(--heading-font-size-xs);
  }

  .genai-search-container .search-card-container article h4 {
    font-size: var(--heading-font-size-xs);
  }
}

.genai-search-container .links-card-container {
  margin-bottom: 40px;
}

.genai-search-container .links-card-container ul {
  list-style: none;
  padding-left: 0px;
  margin: 0 auto;
}

.genai-search-container .links-card-container ul li {
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: 350px;
  transform: translateY(2px);
  transition: transform 0.3s ease-in;
  transition: box-shadow 0.3s ease-in;
  cursor: pointer;
  margin-bottom: 40px;
  padding-left: 0;
}

@media screen and (max-width: 375px) {
  .genai-search-container .links-card-container ul li {
    max-width: 300px;
  }
}

.genai-search-container .links-card-container ul li:hover {
  transform: translateY(0px); /* Adjust the raised effect on hover */
  box-shadow: 0 30px 60px -40px rgb(31 38 23 / 50%);
}

.genai-search-container .links-card-container img {
  width: 100%;
  max-width: 350px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.genai-search-container .link-info {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 20px 30px 20px;
  /* text-align: justify; */
  font-size: 1rem;
}

.links-card-container a {
  font-weight: 700;
  color: var(--color-purple);
}

.hand-cursor {
  cursor: pointer;
}

.hand-cursor:hover {
  background-color: rgba(64, 87, 109, 0.1);
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cursor-animation {
  display: inline-block;
  animation: blink 1s infinite;
}

.cursor-animation {
  display: inline-block;
  margin-left: 5px;
  width: 10px;
  height: 15px;
  background-color: var(--color-purple-gray);
  animation: blink 1s infinite;
  grid-row: 3;
  grid-column: 1;
}

.search-card-container .stop-button-container.show {
  grid-row: 4;
  grid-column: span 2;
  display: inline-block;
}

.cursor-animation.hide {
  display: none;
}

.response-animation {
  opacity: 0;
  transform: translateY(-50%);
}

.search-card.show {
  opacity: 1;
  /* transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateY(0); */
  animation: slide-in 0.5s forwards, fade-in 1s forwards;
}

.links-card-container.show {
  opacity: 1;
  /* transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateY(0); */
  animation: slide-in 0.5s forwards, fade-in 1s forwards;
}

.loading-message {
  font-weight: 600;
  color: var(--color-purple-gray);
  margin: 120px 30px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .loading-message {
    margin-left: 0;
    margin-right: 0;
  }
}

.search-box {
  width: 100%;
  position: relative;
}

#search-button {
  background: none;
  border: none;
  position: absolute;
  right: -8px;
  top: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

#search-button .icon-search > svg {
  color: var(--color-purple-gray);
}

.genai-search.small .search-box-wrapper .search-button:focus-visible,
.genai-search.large .search-box-wrapper .search-button:focus-visible {
  outline: none;
}

.genai-search.small .search-box-wrapper #clearButton,
.genai-search.large .search-box-wrapper #clearButton {
  display: none;
  background: none;
  border: none;
  position: absolute;
  right: 30px;
  top: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  font-weight: bold;
  color: #a4a4a4d9;
  font-size: 18px;

  @media (max-width: 600px) {
    font-size: 13px;
    top: 6px;
    right: 28px;
  }
}
.genai-search.small .search-box-wrapper #clearButton,
body:not(.gen-ai) .genai-search.large .search-box-wrapper #clearButton {
  top: 10px;

  @media (max-width: 600px) {
    top: 6px;
  }
}
.genai-search.small .search-box-wrapper #clearButton.show,
.genai-search.large .search-box-wrapper #clearButton.show {
  display: inline-block;
}

.vertical-bar {
  display: none;
  position: absolute;
  right: 58px;
  top: 24px;
  transform: translateY(-50%);
  width: 1px;
  height: 30px;
  background-color: var(--color-purple-gray);
}

.vertical-bar.show {
  display: inline-block;
}

.stop-button-container.show {
  display: block;
  margin-bottom: 60px;
  text-align: center;
}

/* Style for the stop button */
.stop-button {
  padding: 10px;
  background-color: var(--color-blue-light);
  color: #000;
  border: 1px solid var(--color-blue-dark);
  border-radius: 6px;
  cursor: pointer;
  font-family: var(--body-font-family);
  font-size: 16px;
  color: rgb(64, 67, 71);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stop-button-container {
  display: none;
}

.regenerate-button-container.show {
  display: block;
  position: fixed;
  right: 50%;
  bottom: 0px;
  z-index: 1;
  transform: translateX(50%);
}

.regenerate-button {
  padding: 10px;
  background-color: var(--color-blue-light);
  color: #000;
  border: 1px solid var(--color-blue-dark);
  border-radius: 6px;
  cursor: pointer;
  font-family: var(--body-font-family);
  font-size: 16px;
  color: rgb(64, 67, 71);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stop-button > svg {
  padding-right: 8px;
}

.regenerate-button > svg {
  padding-right: 8px;
}

.regenerate-button-container {
  display: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  width: 94px;
  height: auto;
  background-color: #fff;
  font-family: var(--heading-font-family);
  color: var(--color-gray-dark);
  text-align: center;
  border-radius: 6px;
  position: absolute;
  font-style: normal;
  padding: 10px;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(0 1px 7px rgba(0, 0, 0, 0.2));
}

.tooltip::after {
  content: '';
  position: absolute;

  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--background-color) transparent transparent transparent;
}

.header-search:hover a {
  background-color: black;
}

.header-search:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

@keyframes fade-in {
  from {
    opacity: 0; /* start at 0 opacity */
  }
  to {
    opacity: 1; /* end at 1 opacity */
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(0);
  }
}

.gen-ai .default-content-wrapper .summary-columns {
  display: none;
  align-self: flex-start;
}
.gen-ai .default-content-wrapper .summary-columns h2 {
  max-width: 800px;
}
.gen-ai .default-content-wrapper .summary-columns.show {
  display: block;
}
