.pet-insurance-quote {
  background-color: var(--background-color-dark);
}

.pet-insurance-quote > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.pet-insurance-quote > div > div > p {
  margin: 0;
  padding: 0;
  display: block;
  color: var(--text-color-inverted);
  font-size: var(--body-font-size-xl);
  font-weight: 800;
  font-family: var(--heading-font-family);
}

.pet-insurance-quote .button-container {
  line-height: 0;
}

.pet-insurance-quote .button-container a {
  line-height: 1.5;
  margin: 0;
}

/* full variant */
.pet-insurance-quote.full > div > div {
  align-items: unset;
}

.pet-insurance-quote.full .button-container {
  align-self: center;
}

.pet-insurance-quote.full .button-container, .pet-insurance-quote.full .button-container a {
  width: 100%;
}

.pet-insurance-quote.full > div > div p:nth-child(1) {
  color: var(--highlight-color);
  font-weight: 100;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-default);
}

@media (min-width: 1024px) {
  .pet-insurance-quote {
    border: 1px solid var(--background-color-dark);
    border-radius: 10px;
  }

  .pet-insurance-quote > div > div {
    padding: 1.5rem;
    flex-direction: row;
  }

  .pet-insurance-quote > div > div > p:not(:last-child)::after {
    content: '→';
    display: inline-block;
    padding: 0 .5rem 0 1.5rem;
  }

  /* full variant */
  .pet-insurance-quote.full > div > div {
    flex-direction: column;
    align-items: center;
  }

  .pet-insurance-quote.full .button-container, .pet-insurance-quote.full .button-container a {
    width: unset;
  }
  
  .pet-insurance-quote.full > div > div > p::after {
    display: none;
  }
}
