.pet-insurance-quote {
  background-color: var(--background-color-dark);
}

.pet-insurance-quote > div > div {
  color: var(--text-color-inverted);
  font-size: var(--body-font-size-xl);
  font-weight: 800;
  font-family: var(--heading-font-family);
}

.pet-insurance-quote > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
