.pet-insurance-quote {
  background-color: var(--background-color-dark);
}

.pet-insurance-quote > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.pet-insurance-quote > div > div {
  color: var(--text-color-inverted);
  font-size: var(--body-font-size-xl);
  font-weight: 800;
  font-family: var(--heading-font-family);
}

/* full variant */
.pet-insurance-quote.full .insurance-label {
  grid-area: label;
}

.pet-insurance-quote.full .insurance-button {
  grid-area: button;
}

.pet-insurance-quote.full .insurance-description {
  grid-area: description;
  margin-bottom: 1rem;
}

.pet-insurance-quote.full > div {
  display: grid;
  grid-template:
    "description"
    "label"
    "button";
}

.pet-insurance-quote.full > div > div.insurance-description {
  color: var(--highlight-color);
  font-weight: 100;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-default);
}

@media (min-width: 1024px) {
  .pet-insurance-quote {
    border: 1px solid var(--background-color-dark);
    border-radius: 10px;
  }

  .pet-insurance-quote > div > div::after {
    content: '→';
    display: inline-block;
    padding: 0 1.5rem;
  }

  .pet-insurance-quote > div {
    flex-direction: row;
  }

  /* full variant */
  .pet-insurance-quote.full > div {
    text-align: center;
  }

  .pet-insurance-quote.full > div > div::after {
    display: none;
  }
}
