/* block specific CSS goes here */

main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
}
  
main .hero {
  position: relative;
  padding: 1rem 1.5rem;
  min-height: 300px;
}

main .hero > div {
  margin-left: auto;
  margin-right: auto;
  max-width: 1344px;
  width: 100%;
}

main .hero > div > div {
  display: flex;
  flex-direction: column-reverse;
}

main .hero h1 {
  margin: 0 0 2rem;
  color: var(--text-color);
}

main .hero picture {
  margin: 0 -1.5rem;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 400px;
}

/* full hero variant */
main .hero.full h1 {
  color: var(--color-purple);
  font-size: var(--heading-font-size-xl);
  margin: 1rem 0;
}

main .hero.full {
  padding: 0;
}

main .hero.full > div {
  max-width: unset;
  display: flex;
  flex-direction: column-reverse;
}

main .hero.full > div > div {
  display: block;
}

main .hero.full > div > div.hero-picture-container {
  line-height: 0;
}

main .hero.full > div > div:not(.hero-picture-container) {
  padding: 2rem 1.5rem;
}

main .hero.full picture {
  position: unset;
  padding: 0;
  margin: 0;
}

@media (min-width: 900px) {
  main .hero {
    display: flex;
    align-items: center;
  }

  main .hero img {
    aspect-ratio: unset;
    max-height: unset;
  }

  main .hero h1 {
    color: var(--text-color-inverted);
    font-size: var(--heading-font-size-xxxl);
  }

  main .hero picture {
    position: absolute;
    z-index: -1;
    inset: 0;
    object-fit: cover;
    box-sizing: border-box;
  }
}

@media (min-width: 1024px) {
  /* full hero variant */
  main .hero.full > div > div:not(.hero-picture-container) {
    max-width: 1344px;
    width: 40%;
    margin: 0;
    padding: 0;
    height: 500px;
    position: absolute;
    top: 2.5vw;
    left: 14%;
  }
}
