* {
  font-family: Raleway, sans-serif;
}

main img {
  height: 100%;
  max-width: none;
}

main .section {
  margin-bottom: 4rem;
}

main a:hover {
  background-color: var(--link-color) !important;
}

.section .default-content-wrapper h2 {
  font-size: 2rem;
}

.home-banner-bg {
  background-color: #EBE8FC;
  margin-bottom: 4rem;
}

.home-banner-bg::after {
  content: "";
  width: 100%;
  height: 10rem;
  margin-top: -10px;
  position: absolute;
  left: 0;
  background: url("../../icons/home-bg-desktop.svg") center / 100% 100%;
}

/* pre footer */

.columns-container h2 {
  margin-top: 25px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 800;
}

.pre-footer {
  margin-bottom: -500px;
}

.pre-footer .columns-img-col img {
  border-radius: 3rem;
}

.pre-footer a {
  border-radius: 0.5rem !important;
  font-weight: normal !important;
  margin: auto !important;
}

.pre-footer > div {
  margin-bottom: 3rem;
}

.pre-footer > div > div {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.pre-footer > div:first-child > div img {
  max-width: none;
}

@media (max-width: 768px) {
  .home-banner-bg {
    margin-bottom: 6rem !important;
  }  

  .home-banner-bg::after {
    background: url("../../icons/home-bg-mobile.svg") center / 100% 100%;
  }

  .columns-container {
    margin-top: -2rem;
  }

  .pre-footer {
    margin-bottom: -125px;
  }

  .pre-footer > div > div:last-child {
    margin-bottom: 0 !important;
  }

  .pre-footer .button-container {
    align-self: center;
  }

  .pre-footer > div {
    margin-bottom: 0;
  }
}