.article-author .icon {
  width: 60px;
  height: 60px;
}

.article-author img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.article-author p {
  margin: 0;
}

.article-author time {
  display: block;
  color: #696770;
  font-size: var(--body-font-size-xs);
}

.article-author {
  display: flex;
  margin: 1.5rem 0;
  align-items: center;
  gap: 1rem;
}

.article-author p > a {
  text-decoration: underline;
}