.article-author .icon {
  width: 60px;
  height: 60px;
}

.article-author img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.article-author p {
  margin: 0;
}

.article-author time {
  display: block;
  margin-bottom: .5rem;
  color: var(--color-blue-light);
  font-size: var(--body-font-size-xs);
}