.ask-author-page main {
  display: grid;
  grid-template:
    'hero'
    'author'
    'content'
    'cards'
    'pagination';
}

.ask-author-page .hero-wrapper {
  background: var(--background-color-light);
}

.ask-author-page .hero {
  padding-top: 0;
}

.ask-author-page .hero picture {
  grid-area: hero-picture;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  overflow: hidden;
  width: 165%;
  height: 65vh;
  left: -30%;
}

.ask-author-page .hero h1 {
  grid-area: hero-title;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 2rem;
  line-height: 34px;
  text-align: center;
}

.ask-author-page .hero h3 {
  grid-area: hero-flair;
  text-align: center;
  font-family: var(--body-font-family);
  font-size: 1.125rem;
  line-height: 30px;
  font-weight: 400;
}

.ask-author-page .hero .ask-author-page-hero-auto-block {
  grid-area: hero-auto;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.ask-author-page .hero .ask-author-page-hero-auto-block a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 177px;
  height: 50px;
  color: var(--background-color);
  background: var(--highlight-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 60px;
  border: none;
  font-family: var(--heading-font-family);
  font-weight: 800;
  font-size: 1.25rem;
}

.ask-author-page .hero .ask-author-page-hero-auto-block .icon {
  margin-right: 0.5rem;
}

.ask-author-page .hero .ask-author-page-hero-auto-block p {
  font-size: 0.75rem;
  line-height: 14px;
}

.ask-author-page .hero > div > div {
  display: grid;
  grid-template:
    'hero-picture' 65vh
    'hero-title'
    'hero-flair'
    'hero-auto';
  justify-content: center;
  gap: 1rem;
  max-width: 1344px;
}

.ask-author-page .footer {
  border-top: none;
}

.ask-author-page .section {
  grid-area: content;
}

.ask-author-page .hero-container {
  grid-area: hero;
}

.ask-author-page .author-info-container {
  grid-area: author;
  margin-top: 1rem;
  padding-bottom: 0;
  padding-top: 0;
  overflow: hidden;
}

.ask-author-page .cards-container {
  grid-area: cards;
}

.ask-author-page .pagination-container {
  grid-area: pagination;
}

.ask-author-page .section:not(.hero-container, .author-info-container, ) h2 {
  font-size: 1.625rem;
}

.ask-author-page .section:not(.hero-container, .author-info-container, ) p {
  line-height: 32px;
  font-size: 1.125rem;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .ask-author-page main .hero {
    padding-bottom: 0;
  }

  .ask-author-page .hero > div > div {
    overflow: hidden;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    grid-template:
      'hero-title hero-picture' auto
      'hero-flair hero-picture' auto
      'hero-auto hero-picture' 1fr
      / 1fr 1fr;
  }

  .ask-author-page main .hero picture {
    position: absolute;
    left: unset;
    right: 5%;
    top: 0;
    bottom: 0;
    width: 50%;
    height: unset;
    z-index: 0;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .ask-author-page main .hero h1 {
    color: #0e0f17;
    text-align: left;
  }

  .ask-author-page main .hero h3 {
    text-align: left;
    font-size: 1.25rem;
    line-height: 32px;
  }
}

@media (min-width: 1024px) {
  .ask-author-page main {
    display: grid;
    grid-template:
      'hero hero hero hero' min-content
      '. author content .' min-content
      '. popular cards .' 1fr
      '. popular pagination .' min-content / 1fr minmax(250px, 300px) minmax(
        750px,
        1026px
      )
      1fr;
    gap: 0 1.5rem;
  }

  .ask-author-page main .hero picture {
    position: unset;
    width: unset;
    height: unset;
    z-index: 0;
    margin: 0;
    padding: 0;
  }

  .ask-author-page main .hero picture img {
    border-radius: 7px;
  }

  .ask-author-page .hero > div > div {
    grid-template:
      'hero-title hero-picture' auto
      'hero-flair hero-picture' auto
      'hero-auto hero-picture' 1fr
      / 425px 1fr;
  }

  .ask-author-page .author-info-container {
    padding-bottom: 1rem;
  }

  .ask-author-page main .hero {
    padding-top: 2rem;
    padding-bottom: 2.5rem;
  }

  .ask-author-page main .hero h1 {
    font-size: 3.5rem;
    line-height: 60px;
    margin-bottom: 1rem;
  }

  .ask-author-page main .hero h3 {
    font-size: 1.5rem;
    line-height: 36px;
    padding-right: 2rem;
  }

  .ask-author-page main .hero .ask-author-page-hero-auto-block a {
    width: 227px;
    height: 60px;
  }

  .ask-author-page main .hero .ask-author-page-hero-auto-block p {
    font-size: 0.75rem;
    line-height: 14px;
    padding-right: 2rem;
  }
}
