.link-box {
    padding: 30px 16px;
    /* background-color: var(--color-gray-lighter); */
    background-color: green;
    list-style: none;
    margin-bottom: 30px;
  }
  
  .link-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .link-box li {
    margin-left: 0;
    margin-bottom: 10px;
    padding: 0px;
  }
  
  .link-box h4 {
    font-size: 24px;
    padding-bottom: 24px;
    color: var(--color-purple-gray);
    font-weight: 800;
  
  }
  
  .link-box a {
    text-decoration: underline;
    color: rgb(0, 155, 216);
    cursor: pointer;
  }
  
  .link-box a:hover {
    text-decoration: none;
  }
  
  .link-box a[target="_blank"]::after {
    content: "";
    margin-left: 0.2em;
  }
  
  .link-box span {
    font-size: 16px;
    font-weight: 400;
  
  }
  