.link-box {
  padding: 2.8rem 2rem;
  background-color: var(--color-gray-lighter);
  list-style: none;
  margin-bottom: 1.8rem;
}

.link-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link-box li {
  margin-left: 0;
  margin-bottom: 0.8rem;
  padding: 0px;
}

.link-box h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--color-purple-gray);
  font-weight: 800;

}

.link-box a {
  text-decoration: underline;
  color: rgb(0, 155, 216);
  cursor: pointer;
}

.link-box a:hover {
  text-decoration: none;
}

.link-box a[target="_blank"]::after {
  content: "";
  margin-left: 0.2em;
}

.link-box span {
  font-size: 1rem;
  font-weight: 400;

}