main .column-list :is(ol, ul) {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

main .column-list li {
  padding-left: .5rem;
}

main .column-list.four li {
  flex-basis: 170px;
}