/**
 * Typography
 */
.category-index h1 {
  margin: 0;
  color: var(--color-black);
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1.5rem;

  @media (min-width: 1024px) {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

/**
 * Global
 */
.category-index main {
  padding: 1.5rem 1rem;

  @media (min-width: 1024px) {
    position: relative;
    padding: 6.25rem 3rem 5rem;
  }
}

.category-index main .section {
  padding: 0;
}

/**
 * Breadcrumbs
 */
.category-index .breadcrumb-wrapper {
  max-width: 1200px;
  margin: 1.5rem auto 0.5rem;
  position: absolute;
  top: 0;
  left: 3rem;

  @media (max-width: 1023px) {
    display: none;
  }
}

.category-index .breadcrumb:not([data-block-status="loaded"]) {
  display: none;
}

.category-index .breadcrumb ol {
  column-gap: 0.5rem;
  margin: 0;
}

.category-index .breadcrumb ol li {
  column-gap: 0.5rem;
}

.category-index .breadcrumb ol li:first-child {
  margin-right: 0;
}

.category-index .breadcrumb .icon-chevron-large {
  fill: var(--color-black);
  width: 16px;
  height: 16px;
}

.category-index .breadcrumb .category-link-btn {
  background: unset;
  border: none;
  border-radius: unset;
  display: -webkit-box;
  max-width: 150px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  flex-shrink: 0;
  font-size: var(--body-font-size-s);
  line-height: normal;
  text-align: left;
  text-decoration: none;
  padding: 0;
}

.category-index .breadcrumb .category-link-btn[aria-current="page"] {
  color: var(--color-neutral-600);
}

/**
 * Ads
 */

.category-index .publi-container {
  padding: 0;
}

.category-index .publi-wrapper > div[data-google-query-id] {
  display: flex;
  justify-content: center;
  padding: 0 2.5rem 2.5rem;
}

.category-index .sidebar {
  padding: 1rem;
  background-color: var(--background-color-dark);
}

.category-index .sidebar > .default-content-wrapper:first-child {
  text-align: center;
}

.category-index .sidebar button[aria-controls] {
  margin: 0;
  background: none;
  color: var(--highlight-color);
  font-size: var(--body-font-size-l);
}

.category-index .sidebar button[aria-controls]::before {
  display: inline-block;
  margin-right: 0.5rem;
  content: "\2715";
  font-size: 22px;
  transform: rotate(45deg);
  transition: transform 1s linear;
}

.category-index .sidebar h2 {
  position: relative;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--color-gray);
  color: var(--text-color-inverted);
  font-size: var(--heading-font-size-l);
}

.category-index .sidebar h2::after {
  position: absolute;
  content: '';
  display: block;
  bottom: -2px;
  width: 15%;
  min-width: 100px;
  max-width: 200px;
  border-bottom: 3px solid var(--color-purple);
}

.category-index .footer {
  border-top: none;
}

.category-index .cards .skeleton {
  min-height: 412px;
  background-image:
    radial-gradient(circle 15px, white 99%, transparent 0),
    radial-gradient(circle 15px, white 99%, transparent 0),
    linear-gradient(var(--background-color) 30px, transparent 0),
    linear-gradient(var(--color-gray-light-alt) 200px, transparent 0),
    linear-gradient(var(--color-gray-light-alt) 24px, transparent 0),
    linear-gradient(var(--color-gray-light-alt) 24px, transparent 0),
    linear-gradient(var(--color-gray-light-alt) 50px, transparent 0),
    linear-gradient(var(--color-gray-light-alt) 50px, transparent 0);
  background-size:
    30px 30px,
    30px 30px,
    100px 30px,
    100% 200px,
    calc(100% - 2*24px) 24px,
    calc(100% - 2*24px) 24px,
    50% 24px,
    50% 24px;
  background-position:
    12px 14px,
    110px 14px,
    26px 14px,
    0 0,
    24px 230px,
    24px 260px,
    24px 324px,
    24px 365px;

}

@media (min-width: 1024px) {
  .category-index main {
    max-width: 1200px;
    margin: auto;
  }

  .category-index .hero-container {
    grid-area: hero;
  }

  .category-index .sidebar {
    grid-area: sidebar;
    background: unset;
    padding: 1rem 0;
  }

  .category-index .pagination-container {
    grid-area: pagination;
  }

  .category-index .cards-container,
  .category-index .blog-cards-container {
    grid-area: content;
  }

  .category-index .sidebar h2 {
    color: unset;
  }

  .category-index .sidebar button[aria-controls] {
    display: none;
  }

  .category-index .cards li:first-of-type .skeleton {
    min-height: 293px;
    background-image:
      radial-gradient(circle 16px, white 99%, transparent 0),
      radial-gradient(circle 16px, white 99%, transparent 0),
      linear-gradient(var(--background-color) 32px, transparent 0),
      linear-gradient(var(--color-gray-light-alt) 100%, transparent 0),
      linear-gradient(var(--color-gray-light-alt) 24px, transparent 0),
      linear-gradient(var(--color-gray-light-alt) 24px, transparent 0),
      linear-gradient(var(--color-gray-light-alt) 28px, transparent 0),
      linear-gradient(var(--color-gray-light-alt) 28px, transparent 0),
      linear-gradient(var(--color-gray-light-alt) 50px, transparent 0);
    background-size:
      32px 32px,
      32px 32px,
      180px 32px,
      50% 100%,
      160px 24px,
      160px 24px,
      160px 28px,
      160px 28px,
      160px 50px;
    background-position:
      24px 24px,
      200px 24px,
      36px 24px,
      0 0,
      calc(50% + 8rem) 3rem,
      calc(50% + 8rem + 160px + 1rem) 3rem,
      calc(50% + 8rem) 6.5rem,
      calc(50% + 8rem) 8.75rem,
      calc(50% + 8rem) 12.25rem;
  }
}