.category-index .hero {
  box-sizing: border-box;
  height: 62.5vw;
  min-height: 0;
  max-height: 326px;
  padding: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.category-index .hero picture {
  margin: 0;
}

.category-index .hero img {
  position: absolute;
  inset: 0;
  z-index: -1;
  object-fit: cover;
}

.category-index .hero>div {
  --bg-color: inherit;

  max-width: none;
  background: var(--bg-color);
}

.category-index .hero>div>div {
  max-width: 1392px;
  margin: 0 auto;
}

.category-index .hero h1 {
  margin: 0;
  padding: 2rem 1.5rem;
  color: var(--text-color-inverted);
  text-shadow: 2px 3px 5px rgb(0 0 0 / 50%);
}

.category-index .sidebar {
  padding: 1rem;
  background-color: var(--background-color-dark);
}

.category-index .sidebar>.default-content-wrapper:first-child {
  text-align: center;
}

.category-index .sidebar button[aria-controls] {
  margin: 0;
  background: none;
  color: var(--highlight-color);
  font-size: var(--body-font-size-l);
}

.category-index .sidebar button[aria-controls]::before {
  display: inline-block;
  margin-right: 0.5rem;
  content: "\2715";
  font-size: 22px;
  transform: rotate(45deg);
  transition: transform 1s linear;
}

.category-index .sidebar h2 {
  position: relative;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--color-gray);
  color: var(--text-color-inverted);
  font-size: var(--heading-font-size-l);
}

.category-index .sidebar h2::after {
  position: absolute;
  content: '';
  display: block;
  bottom: -2px;
  width: 15%;
  min-width: 100px;
  max-width: 200px;
  border-bottom: 3px solid var(--color-purple);
}

.category-index .footer {
  border-top: none;
}

@media (min-width: 1024px) {
  .category-index main {
    display: grid;
    grid-template:
      'hero hero hero hero' min-content
      '. sidebar content .' 1fr
      '. sidebar pagination .' min-content / 1fr minmax(250px, 318px) minmax(750px, 1026px) 1fr;
    gap: 0 1.5rem;
  }

  .category-index .hero-container {
    grid-area: hero;
  }

  .category-index .sidebar {
    grid-area: sidebar;
    background: unset;
    padding: 1rem 0;
  }

  .category-index .pagination-container {
    grid-area: pagination;
  }

  .category-index .cards-container,
  .category-index .blog-cards-container {
    grid-area: content;
  }

  .category-index .sidebar h2 {
    color: unset;
  }

  .category-index .sidebar button[aria-controls] {
    display: none;
  }
}