/**
 * Typography
 */
.category-index h1 {
  margin: 0;
  color: var(--color-black);
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;

  @media (min-width: 1024px) {
    font-size: 2.5rem;
  }
}

/**
 * Global
 */
 /* Add top margin to page heading */
.category-index h1:first-child {
  margin-top: 2.5rem;
}

/**
 * Breadcrumbs
 */
.category-index .breadcrumb-wrapper {
  max-width: 1200px;
  margin: 1.5rem auto 0.5rem;
  padding: 0 1rem;

  @media (max-width: 1023px) {
    display: none;
  }
}

.category-index .breadcrumb ol {
  column-gap: 0.5rem;
  margin: 0;
}

.category-index .breadcrumb ol li {
  column-gap: 0.5rem;
}

.category-index .breadcrumb ol li:first-child {
  margin-right: 0;
}

.category-index .breadcrumb .icon-chevron-large {
  fill: var(--color-black);
  width: 16px;
  height: 16px;
}

.category-index .breadcrumb .category-link-btn {
  background: unset;
  border: none;
  border-radius: unset;
  display: -webkit-box;
  max-width: 150px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex-shrink: 0;
  font-size: var(--body-font-size-s);
  line-height: normal;
  text-align: left;
  text-decoration: none;
  padding: 0;
}

.category-index .breadcrumb .category-link-btn[aria-current="page"] {
  color: var(--color-neutral-600);
}

.category-index .sidebar {
  padding: 1rem;
  background-color: var(--background-color-dark);
}

.category-index .sidebar > .default-content-wrapper:first-child {
  text-align: center;
}

.category-index .sidebar button[aria-controls] {
  margin: 0;
  background: none;
  color: var(--highlight-color);
  font-size: var(--body-font-size-l);
}

.category-index .sidebar button[aria-controls]::before {
  display: inline-block;
  margin-right: 0.5rem;
  content: "\2715";
  font-size: 22px;
  transform: rotate(45deg);
  transition: transform 1s linear;
}

.category-index .sidebar h2 {
  position: relative;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--color-gray);
  color: var(--text-color-inverted);
  font-size: var(--heading-font-size-l);
}

.category-index .sidebar h2::after {
  position: absolute;
  content: '';
  display: block;
  bottom: -2px;
  width: 15%;
  min-width: 100px;
  max-width: 200px;
  border-bottom: 3px solid var(--color-purple);
}

.category-index .footer {
  border-top: none;
}

@media (min-width: 1024px) {
  .category-index main {
    max-width: 1200px;
    margin: auto;
  }

  .category-index .hero-container {
    grid-area: hero;
  }

  .category-index .sidebar {
    grid-area: sidebar;
    background: unset;
    padding: 1rem 0;
  }

  .category-index .pagination-container {
    grid-area: pagination;
  }

  .category-index .cards-container,
  .category-index .blog-cards-container {
    grid-area: content;
  }

  .category-index .sidebar h2 {
    color: unset;
  }

  .category-index .sidebar button[aria-controls] {
    display: none;
  }
}