.widget-aggregator {
  width: 100%;
  height: 760px;

  @media (min-width: 800px) {
    height: 400px;
  }

  @media (min-width: 1024px) {
    height: 760px;
  }
}

.breed-page .widget-aggregator {
  @media (min-width: 1024px) {
    margin-bottom: -400px;
  }

  @media (max-width: 1024px) {
    margin-bottom: -100px;
  }
}