.popular-tags {
  margin-bottom: 1rem;
}

.popular-tags ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 0 1rem;
  list-style: none;
}

.popular-tags a {
  color: var(--color-gray-light);
  font-size: 1rem;
  line-height: 2rem;
  text-decoration: underline;
}