.article-page main {
  display: grid;
  grid-template:
    "breadcrumb"
    "hero"
    "article"
    "genai"
    "related"
    "sidebar"
}

.article-page .section {
  padding: 1rem;
}

.section:is(.related-reading-container) {
  padding-left: 1rem !important;
  padding-bottom: 0;
}

.breadcrumb-container {
  grid-area: breadcrumb;
  display: none;
}

.section.hero-container {
  grid-area: hero;
  min-height: fit-content;
  padding-bottom: 0;
}

.section.hero-container .default-content-wrapper {
  margin: 0;
}

.section.hero-container h1 {
  color: #000;
  margin-top: 0;
  font-size: 3rem;
  font-weight: bolder;
}

.article-content-container {
  grid-area: article;
}

/* stylelint-disable-next-line no-descending-specificity */
.article-content-container .default-content-wrapper {
  margin-bottom: 2rem;
}

.article-content-container .publi-container {
  padding: 1rem 0;
  padding-bottom: 2rem;
}

.sidebar-container {
  grid-area: sidebar;
  padding: 0;
}

.sidebar-container h2 {
  font-size: 1.5rem;
}

.sidebar-container .popular-articles-wrapper {
  padding: 2rem 0;
}

.sidebar-container.social-share-container h2 {
  margin-bottom: 1rem;
}

.genai-search-container {
  grid-area: genai;
  margin: 0 1rem 1rem;
}

.related-reading-container {
  grid-area: related;
}

@media (min-width: 768px) {
  .related-reading-container {
    padding-left: 3.5rem !important;
  }

  .article-page main {
    display: grid;
    grid-template:
      ". breadcrumb breadcrumb breadcrumb ." min-content
      ". hero .. sidebar ." min-content
      ". article .. sidebar ." min-content
      ". genai .. sidebar ." min-content
      ". related related related ." min-content
      / minmax(1rem, 1fr) minmax(420px, 720px) minmax(1rem, 64px) 350px minmax(1rem, 1fr);
  }

  .article-page .sidebar-container {
    padding: 2rem 1.5rem;
  }

  .breadcrumb-container {
    display: block;
  }
}

/* Breadcrumbs */
.article-page .breadcrumb-container {
  margin-top: 1rem;
  padding: 0.5rem;
  grid-area: breadcrumb;

  @media (max-width:768px) {
    display: none;
  }
}

.article-page .breadcrumb ol li {
  column-gap: 0.5rem;
  margin: 0.5rem;
}

.article-page .breadcrumb .icon-chevron-large {
  fill: var(--color-black);
  width: 16px;
  height: 16px;
}

.article-page .breadcrumb .category-link-btn {
  background: unset;
  border: none;
  border-radius: unset;
  display: -webkit-box;
  max-width: 150px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex-shrink: 0;
  font-size: var(--body-font-size-s);
  line-height: normal;
  text-align: left;
  text-decoration: none;
  padding: 0;
}

.article-page .breadcrumb .category-link-btn[aria-current="page"] {
  color: var(--color-neutral-600);
}

.article-page :is(h3, h4, h5, h6, p, span) {
  margin-top: 10px;
}