@media (max-width: 768px) {
  .article-page main {
    display: grid;
    grid-template:
      "breadcrumb"
      "details"
      "article"
      "related"
      "social"
      "popular"
      "compare"
  }

  .article-content-container {
    grid-area: article;
  }

  .article-page .social-share-container.section {
    grid-area: social;
  }

  .popular-articles-container {
    grid-area: popular;
  }

  .article-cta-container {
    grid-area: compare;
  }

  .article-page .section {
    padding: 1rem;
  }
}

.content-left .section, .sidebar-right .section {
  padding: 1rem;
}

.breadcrumb-wrapper {
  grid-area: breadcrumb;
}

.related-reading-container {
  grid-area: related;
}

.article-page .hero-title-container {
  grid-area: details;
  min-height: fit-content;
}

.article-page .hero-title-container h1 {
  color: #000;
  margin-top: 0;
  font-size: 3rem;
  font-weight: bolder;
}

.article-content-container .publi-container {
  padding: 1rem 0;
  padding-bottom: 2rem;
}

.section:is(.hero-title-container) {
  padding-bottom: 0;
}

.section:is(.related-reading-container) {
  padding-left: 1rem !important;
  padding-bottom: 0;
}

.article-content-container .default-content-wrapper {
  margin-bottom: 2rem;
}

.sidebar-right h2 {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .content-left {
    grid-area: left-side;
  }

  .sidebar-right {
    grid-area: right-side;
  }

  .related-reading-container {
    padding-left: 3.5rem !important;
  }

  .article-page main {
    display: grid;
    grid-template:
      ". breadcrumb breadcrumb breadcrumb ." min-content
      ". left-side .. right-side ." min-content
      ". related related related ." min-content
      / minmax(1rem, 1fr) minmax(420px, 720px) minmax(1rem, 64px) 350px minmax(1rem, 1fr);
  }
}

/* Breadcrumbs */
.article-page .breadcrumb-container {
  margin-top: 1rem;
  padding: 0.5rem;

  @media (max-width:768px) {
    display: none;
  }
}

.article-page .breadcrumb ol li {
  column-gap: 0.5rem;
  margin: 0.5rem;
}

.article-page .breadcrumb .icon-chevron-large {
  fill: var(--color-black);
  width: 16px;
  height: 16px;
}

.article-page .breadcrumb .category-link-btn {
  background: unset;
  border: none;
  border-radius: unset;
  display: -webkit-box;
  max-width: 150px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex-shrink: 0;
  font-size: var(--body-font-size-s);
  line-height: normal;
  text-align: left;
  text-decoration: none;
  padding: 0;
}

.article-page .breadcrumb .category-link-btn[aria-current="page"] {
  color: var(--color-neutral-600);
}