.anchor-links>div {
  font-family: var(--heading-font-family);
  font-size: var(--body-font-size-xl);
  line-height: 1.175;
  margin-bottom: 24px;
}

.anchor-links ul {
  list-style: none;
  padding: 0;
}

.anchor-links li {
  font-size: var(--body-font-size-l);
  line-height: 1.3;
  margin-bottom: 1.25rem;
  padding: 0;
}

.anchor-links a:hover {
  font-weight: 600;
  text-decoration: underline;
}