.pagination {
  display: flex;
  justify-content: end;
  padding: 20px;
}

.pagination ul,
.pagination a {
  display: flex;
  list-style: none;
  align-items: center;
}

.pagination ul {
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.pagination li {
  margin: 0;
  padding: 0;
}

.pagination a {
  display: flex;
}

.pagination a[aria-current] {
  color: var(--text-color);
}

.pagination .icon {
  width: 7px;
  height: 32px;
}

.pagination li:first-child a:not([aria-current]) {
  transform: rotate(180deg);
}
