.table table {
  margin: 0 auto;
  border-collapse: collapse;
  caption-side: bottom;
  font-size: var(--body-font-size-s);
}

.table caption {
  font-size: var(--body-font-size-xs);
  font-style: italic;
  text-align: left;
}

.table :is(th, td, caption) {
  padding: .25rem .5rem;
}

.table tr:nth-of-type(2n) {
  background: rgba(0 0 0 / 3%);
}

.table.large table {
  width: 100%;
}