.section.search-container {
    overflow: visible;
}

.section.search-container .default-content-wrapper {
    max-width: 726px;
    margin: 0 auto;
}

.section.search-container h2 {
    display: inline-block;
    top: -60px;
    background-color: var(--text-color-inverted);
    border-radius: 40px;
    padding: 40px 30px 0;
    margin: 0 ;
    bottom: 60px;
    width: 60%;
}

.section.search-container h2::before,
.section.search-container h2::after {
    --radius: 10px;

    content: '';
    position: absolute;
    width: calc(2 * var(--radius));
    height: var(--radius);
    top: calc(28px - var(--radius));
    z-index: 10;
    left: calc(5px - 2 * var(--radius));
    box-shadow: 0.5rem 0.25rem 0 0 white;
    border-radius: 0 0 var(--radius) 0;
}

.section.search-container h2::after {
    display: block;
    right: calc(5px - 2 * var(--radius));
    left: initial;
    border-bottom: none;
    min-width: 0;
    box-shadow: -0.5rem 0.25rem 0 0 white;
    border-radius: 0 0 0 var(--radius);
}

.home-page .section.search-container p {
    margin-top: -40px;
    max-width: 726px;
}

.search.block {
    display: flex;
    justify-content: center;
}

.search.block.left {
    justify-content: flex-start;
}

.search.block.right {
    justify-content: flex-end;
}

.search-box-wrapper {
    position: relative;
    max-width: 600px;
    margin: 20px 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.search.block.large .search-box-wrapper {
    max-width: 700px;
}

.search-box-wrapper .search-input{
    font-size: 1.125rem;
    background: hsl(0deg 0% 100% / 78%);
    border-radius: 70px;
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid hsl(0deg 0% 100% / 78%);
    display: inline-block;
    height: 44px;
    padding-left: 30px;
    padding-right: 10px;
    box-shadow: 5px 5px 50px rgb(0 0 0 / 10%);
}

.search-box-wrapper .search-button {
    width: 100%;
    border-radius: 50px;
    height: 40px;
    background: var(--highlight-color);
    color: var(--background-color);
    text-transform: uppercase;
    border: 1px solid hsl(0deg 0% 100% / 78%);
    font-size: 1.5rem;
    font-weight: 800;
    font-family: var(--heading-font-family);

}

@media (min-width: 600px) {
    .section.search-container h2 {
        width: 80%;
    }

    .search-box-wrapper {
        flex-direction: row;
    }

    .search-box-wrapper .search-input{
        height: 50px;
        max-width: 700px;
        padding-left: 30px;
        padding-right: 260px;
    }

    .search.large .search-box-wrapper .search-input{
        height: 63px;
    }

    .search-box-wrapper .search-button{
        position: absolute;
        top: -12px;
        right: 4px;
        height: 42px;
        width: 250px;
        margin-left: -254px;
    }

    .search.large .search-box-wrapper .search-button{
        height: 55px;
    }
}

@media (min-width: 768px) {
    .section.search-container h2 {
        width: initial;
    }
}
