.adopt-checklist {
  padding: 0 0 24px;
  text-align: center;
}

.adopt-checklist h1 {
  margin: 0;
  font-family: var(--heading-font-family);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -2%;
  line-height: 36px;
  color: var(--pet-insurance-txt-color);

  @media (min-width: 768px) {
    font-size: 44px;
    line-height: 52px;
  }
}

.adopt-checklist p {
  font-family: var(--body-font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: var(--faq-accordion-txt-color);

  @media (min-width: 768px) {
    margin-inline: auto;
    max-width: 45ch;
  }
}

.adopt-checklist-main h2 {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

.adopt-checklist h1 + p {
  margin-top: 10px;
}

.adopt-checklist-main ul {
  padding: 0;
  list-style: none;

  @media (min-width: 768px) {
    margin-inline-start: 120px;
  }
}

.adopt-checklist-main .button-container {
  @media (min-width: 768px) {
    margin-inline-start: 148px;
  }
}

.adopt-checklist-main h2 + ul,
.adopt-checklist-main ul + .button-container {
  margin-top: 24px;
}

.adopt-checklist-main ul + h2,
.adopt-checklist-main .button-container + h2 {
  margin-top: 48px;

  @media (min-width: 768px) {
    margin-top: 64px;
  }
}

.adopt-checklist-main li {
  position: relative;
  padding: 0 0 0 28px;
  font-family: var(--body-font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  list-style: none;
  color: #000;
}

.adopt-checklist-main li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 9px;
  width: var(--body-font-size-xxs);
  height: var(--body-font-size-xxs);
  background-color: #6e6d73;
  border-radius: 50%;
}

.adopt-checklist-main li + li {
  margin-top: 32px;
}

.adopt-checklist-wrapper + .columns-wrapper {
  margin-top: 40px;
}

.adopt-checklist-main {
  padding: 0 0 48px;
}

.adopt-checklist-main > div {
  @media (min-width: 768px) {
    align-items: stretch;
  }
}

.adopt-checklist-main > div > .columns-txt-col {
  position: relative;
  counter-reset: section;
}

.adopt-checklist-main > div > .columns-txt-col::before {
  content: '';
  position: absolute;
  left: 28px;
  width: 0;
  height: 100%;
  background-color: #ebe8fc;
}

@media (min-width: 768px) {
  .adopt-checklist-main > div > .columns-txt-col::before {
    width: 8px;
  }
}

/* Increment the counter for each h2 element */
.adopt-checklist-main > div > .columns-txt-col h2 {
  counter-increment: section;
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;

  @media (min-width: 768px) {
    gap: 64px;
  }
}

/* Display the counter before each h2 element */
.adopt-checklist-main > div > .columns-txt-col h2::before {
  content: counter(section) ' ';
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  width: 56px;
  height: 56px;
  color: #302280;
  font-family: var(--body-font-family);
  font-size: 24px;
  font-weight: 600;
  background-color: #ebe8fc;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .adopt-checklist-main > div > .columns-txt-col h2::before {
    width: 64px;
    height: 64px;
    font-size: 32px;
  }
}

.adopt-checklist-main > div > .columns-txt-col + div {
  display: none;
  max-width: max-content;

  @media (min-width: 1025px) {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: space-around;
  }
}

.adopt-checklist-main a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 0;
  padding-block: 13px;
  width: 100%;
  min-width: 300px;
  font-family: var(--body-font-family);
  font-size: 18px;
  font-weight: 600;
  background-color: var(--compare-button-bg-color);

  @media (min-width: 768px) {
    max-width: fit-content;
  }
}

.adopt-checklist-main a.button::after {
  content: '';
  display: inline-block;
  width: 17px;
  height: 16px;

  /** for the arrow icon */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' fill='none' %3E%3Cg clip-path='url(%23A)' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M.5 8.471h15m-7 7l7-7-7-7'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='A'%3E%3Cpath fill='%23fff' transform='translate(0 .471)' d='M0 0h16v16H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1em;
}
