/* stylelint-disable */
.adopt-search-results.list {
    position: relative;
    min-height: 680px;
    max-width: 1334px;
    margin: 0 auto;
    padding-top: 40px;
}
.adopt-search-results-container.section {
    border-top: 1px solid #D0D0D6;
    border-bottom: 1px solid #D0D0D6;
    padding: 24px 24px 18px 24px;
}

.adopt-search-results-container h1 {
    color: #000;
}

.adopt-search-results-container h2 {
    color: #000;
}

.adopt-search-results .sidebar {
    margin: 0 0 20px 0;
    padding: 0;
    overflow-y: visible;
    display: none;
    padding: 1.3rem;
    min-height: 250px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 15px;
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 80%;
}
.adopt-search-results .sidebar.show {
    display: block;
    z-index: 25;
}
.adopt-search-results .sidebar .modal-close {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
}
@media screen and (min-width: 1024px) {
    .adopt-search-results .sidebar .modal-close {
        display: none;
    }
}
.adopt-search-results .filter-button {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 20px;
    background-color: transparent;
    border: 1px solid #2F2F33;
    color: #2F2F33;
    font-family: "Libre Franklin";
    font-size: 18px;
    font-weight: 400;
}
.adopt-search-results .filter-button svg {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}
@media screen and (min-width: 1024px) {
    .adopt-search-results .filter-button {
        display: none;
    }
}
.adopt-search-results .sidebar .mobile-button-container {
    display: block;
    position: relative;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid #D0D0D6;

}
@media screen and (min-width: 1024px) {
    .adopt-search-results .sidebar .mobile-button-container {
        display: none;
    }
}
.adopt-search-results .sidebar .sidebar-clear-mobile {
    font-family: "Libre Franklin";
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    color: #2F2F33;
    background-color: transparent;
    padding: 0;
    border-radius: unset;
}
@media screen and (min-width: 600px) {
    .adopt-search-results .sidebar {
        top: 450px;
        transform: translate(-50%, -80%);
        width: 60%;
    }
}
.adopt-search-results .sidebar .filter-mobile {
    position: absolute;
    right: 20px;
    top: 10px;
    background-color: #C74D2F;
    padding: 10px 20px;
}

@media screen and (min-width: 1024px) {
    .adopt-search-results .sidebar {
        display: block;
        position: absolute;
        width: 250px;
        transform: unset;
        left: 0;
        top: 20px;
        border: none;
        border-radius: 0;
        background-color: transparent;
    }
}
.adopt-search-results .overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 20;
    max-width: 100%;
}
.adopt-search-results .overlay.show {
    display: block;
}

@media screen and (min-width: 1024px) {
    .adopt-search-results .overlay {
        display: none;
    }
}

.adopt-search-results .sorted-label {
    position: absolute;
    top: 30px;
    right: 20px;
    text-align: right;
    font-family: "Libre Franklin";
    font-weight: 400;
    font-size: 18px;
}

.adopt-search-results .sidebar .sidebar-clear {
    display: none;
    position: absolute;
    top: 0px;
    right: -10px;
    font-family: "Libre Franklin";
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    color: #2F2F33;
    background-color: transparent;
}
@media screen and (min-width: 1024px) {
    .adopt-search-results .sidebar .sidebar-clear {
        display: block;
    }
}


.adopt-search-results .sidebar .sidebar-header {
    font-size: 16px;
    font-weight: 800;
    font-family: Raleway,sans-serif;
    margin-bottom: 10px;
} 

.adopt-search-results .sidebar select {
    display: block;
    border: 1px solid #3B092C;
    height: 43px;
    padding: 0 16px;
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
    font-size: 16px;
    color: var(--Text-Default, #28061E);
    margin-top: 10px;

    /** for the dropdown indicator */
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1em;
}

.adopt-search-results .sidebar .radio-block {
    display: block;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid #D0D0D6;
}

.adopt-search-results .sidebar .radio-container {
    display: block;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.adopt-search-results .sidebar .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.adopt-search-results .sidebar .radio-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid #6E6D73;
}

.adopt-search-results .sidebar .radio-container input:checked ~ .checkmark  {
    background-color: #7369AB;
    border: 2px solid #7369AB;
}

.adopt-search-results .sidebar .radio-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.adopt-search-results .sidebar .radio-container input:checked ~ .checkmark:after {
    display: block;
}

.adopt-search-results .sidebar .radio-container  .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.adopt-search-results .sidebar .radio-size.hidden {
    display: none;
}

.pagination.hidden {
    display: none;
}
.adopt-search-results .pagination {
    display: block;
    text-align: center;
    margin-top: 20px;
}
.adopt-search-results .pagination.hide {
    display: none;
}
@media screen and (min-width: 1024px) {
    .adopt-search-results .pagination {
        margin-left: 270px;
        max-width: calc(100% - 270px);
    }
}

.adopt-search-results .pagination .pagination-numbers {
    display: inline;
}
.adopt-search-results .pagination .pagination-numbers button {
    display: inline;
    font-family: "Libre Franklin";
    font-weight: 400;
    font-size: 18px;
    background-color: transparent;
    color: #2F2F33;
    border: 1px solid #D0D0D6;
    border-left: transparent;
    border-radius: 0;
    padding: 10px;
}
.adopt-search-results .pagination .pagination-numbers button.active {
    color: #fff;
    background-color: #7369AB;
    border: 1px solid #7369AB;
}
.adopt-search-results .pagination .pagination-numbers span {
    position: relative;
    font-family: "Libre Franklin";
    font-weight: 400;
    font-size: 18px;
    top: 1px;
    display: inline;
    background-color: transparent;
    color: #2F2F33;
    border: 1px solid #D0D0D6;
    border-left: transparent;
    border-radius: 0;
    padding: 11px 7px 9px;
}

.adopt-search-results .pagination #btn_prev {
    background-color: transparent;
    font-family: "Libre Franklin";
    font-weight: 400;
    font-size: 18px;
    color: #2F2F33;
    border: 1px solid #D0D0D6;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px;

}
.adopt-search-results .pagination #btn_next {
    background-color: transparent;
    font-family: "Libre Franklin";
    font-weight: 400;
    font-size: 18px;
    color: #2F2F33;
    border: 1px solid #D0D0D6;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px;
    border-left: transparent;
}


.adopt-search-results-wrapper form {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
    flex-wrap: wrap;
}
@media only screen and (min-width: 600px) {
    .adopt-search-results-wrapper form {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
}

.adopt-search-results-wrapper .adopt-search.results form {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.adopt-search-results-wrapper form fieldset {
    display: flex;
    border: none;
    margin: 0;
    padding: 0;
    width: 50%;
    gap: 16px;
}

.adopt-search-results-wrapper .adopt-search.results form fieldset {
    width: auto;
}

.adopt-search-results-wrapper form fieldset label {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--Text-Supporting, #2F2F33);
    font-family: "Libre Franklin";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 155.556% */
}

.adopt-search-results-wrapper form fieldset input {
    /* display: none; */
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.adopt-search-results-wrapper form fieldset input:checked+label {
    background: var(--Purple-300, #7369AB);
    color: #fff;
}

.adopt-search-results-wrapper form fieldset label {
    padding: 10px var(--Spacing-Large, 24px);

    width: auto;
    display: inline;
    border: 1px solid var(--Border-Strong, #D0D0D6);
    border-radius: 8px;
}

.adopt-search-results-wrapper form>div {
    display: flex;
    flex-direction: column;
    width: 45%;
}
@media only screen and (min-width: 600px) {
    .adopt-search-results-wrapper form>div {
        width: 100%;
    }
}

.adopt-search-results-wrapper .adopt-search.results form>div {

    width: 100%;

}

.adopt-search-results-wrapper form input:not([type=radio]),
.adopt-search-results-wrapper form select,
.adopt-search-results-wrapper form textarea {
    border: 1px solid #3B092C;
    height: 43px;
    padding: 0 16px;
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
    font-size: 16px;
    color: var(--Text-Default, #28061E);
}

.adopt-search-results-wrapper form input::placeholder {
    color: var(--Text-Default, #28061E);
}

.adopt-search-results-wrapper form input.error {
    color: #930000;
    border: 1px solid #d31510;
}

.adopt-search-results-wrapper form input.error::placeholder {
color: #930000;
}

.adopt-search-results-wrapper .error-message {
display: none;
margin-top: 12px;
padding-left: 24px;
font-size: 14px;
color: #930000;
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='17' fill='none' stroke='%23d31510' stroke-width='1.5' stroke-linejoin='round'%3E%3Cpath d='M1.5 11.578l4.249 4.393h6.503l4.249-4.393V5.364L12.251.971H5.749L1.5 5.364v6.214z'/%3E%3Cg stroke-linecap='round'%3E%3Cpath d='M9 11.87a.25.25 0 1 1 0-.5m0 .5a.25.25 0 1 0 0-.5'/%3E%3Cpath d='M9 9.37v-5.5' stroke-miterlimit='10'/%3E%3C/g%3E%3C/svg%3E");
background-repeat: no-repeat;
background-position: left center;
}

.adopt-search-results-wrapper .error-message.active {
display: block;
}

.adopt-search-results-wrapper form select {
    /** for the dropdown indicator */
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1em;
}
.adopt-search-results-wrapper form select:disabled {
    /** for the dropdown indicator */
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1em;
    opacity: 0.5;
}

.adopt-search-results-wrapper form>div>label,
.adopt-search-results-wrapper form fieldset legend {
    color: var(--Text-Default, #28061E);
    /* Body/Small/Button */
    font-family: "Libre Franklin";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 12px;
}

.adopt-search-results-wrapper form fieldset legend {
    margin-bottom: 20px;
}

.adopt-search-results-wrapper form div #clearButton {
    display: none;
    background: none;
    border: none;
    position: absolute;
    right: 30px;
    top: 16px;
    transform: translateY(-50%);
    cursor: pointer;
    font-weight: bold;
    color: #A4A4A4D9;
    font-size: 18px;

    @media (max-width: 600px) {
        font-size: 13px;
        top: 6px;
        right: 28px;
    }
}

.adopt-search-results-wrapper form button.adopt-search-button {
    width: 100%;
    max-width: fit-content;
    margin: 29px 0 0;
    height: 43px;
    font-size: 18px;
    font-weight: 600;
    background-color: #C74D2F;
}

.adopt-search-results-wrapper form button.adopt-save-search-button {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #222222;
    color: #222222;
    font-family: "Libre Franklin";
    font-size: 18px;
    font-weight: 600;
    padding: 8px 10px;
    text-overflow: unset;
    overflow: visible;
    margin-top: 30px;
}
.adopt-search-results-wrapper form button.adopt-save-search-button svg {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}


.adopt-search-results .results {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}

@media screen and (min-width: 1024px) {
    .adopt-search-results .results {
        margin-left: 270px;
        max-width: calc(100% - 270px);
    }
}

.adopt-search-results .results a.pet-card {
    width: 100%;
    border-radius: 12px;
    filter: drop-shadow(rgba(0, 0, 0, 24%) 1px 2px 4px);
    background-color: #fff;
    position: relative;
}

@media screen and (min-width: 600px) {
    .adopt-search-results .results a.pet-card {
        width: calc((50% - 30px))
    }
}
@media screen and (min-width: 1024px) {
    .adopt-search-results .results a.pet-card {
        width: calc((25% - 15px))
    }
}

.adopt-search-results .results a.pet-card img {

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
}
.adopt-search-results .results a.pet-card .like-button {
    background-color: #fff;
    border-radius: 50%;
    padding: 8px 5px 3px;
    margin: 0;
    position: absolute;
    top: 15px;
    right: 15px;
}
.adopt-search-results .results a.pet-card .like-button .favorite {
    display: none;
}
.adopt-search-results .results a.pet-card .like-button.favorited .default {
    display: none;
}
.adopt-search-results .results a.pet-card .like-button.favorited .favorite {
    display: block;
    background-color: #F8D1CA;
    top: 0;
    right: 0;
}
.adopt-search-results .results a.pet-card .like-button.favorited {
    background-color: #F8D1CA;
}
.adopt-search-results .results a.pet-card object {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
}

.adopt-search-results .results a.pet-card h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    font-size: 22px;
    font-weight: 800;
    color: #000;
}
.adopt-search-results .results a.pet-card h3 a {
    margin-top: 20px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    font-size: 22px;
    font-weight: 800;
    color: #000;
}

.adopt-search-results .results a.pet-card .pet-card-info {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 16px;
    font-weight: 400;
}

.adopt-search-results .results a.pet-card .pet-card-address {
    font-size: 18px;
    padding-bottom: 16px;
}

.adopt-search-results .results a.pet-card h3,
.adopt-search-results .results a.pet-card .pet-card-info,
.adopt-search-results .results a.pet-card .pet-card-address {
    padding-left: 12px;
    padding-right: 12px;
    color: #000000;
}

.adopt-search-results .save-search-modal {
    display: none;
    z-index: 21;
    padding: 20px;
    border-radius: 15px;
}
.adopt-search-results .save-search-modal.show {
    display: block;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 60%;
    background-color: white;
    color: black;
}
@media screen and (min-width: 1024px) {
    .adopt-search-results .save-search-modal.show {
        top: 250px;
    }
}
.adopt-search-results .save-search-modal .success-icon {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.adopt-search-results .save-search-modal .modal-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
}
.adopt-search-results .save-search-modal .modal-subtitle {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}
.adopt-search-results .save-search-modal .button-container {
    display: block;
    text-align: center;
}
.adopt-search-results .save-search-modal .manage-button {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #222222;
    color: #222222;
    font-family: "Libre Franklin";
    font-size: 18px;
    font-weight: 600;
    padding: 8px 10px;
    text-overflow: unset;
    overflow: visible;
    margin-top: 30px;
}
@media screen and (min-width: 1024px) {
    .adopt-search-results .save-search-modal .manage-button {
        margin-right: 20px;
    }
}
.adopt-search-results .save-search-modal .continue-button {
    height: 43px;
    font-size: 18px;
    font-weight: 600;
    background-color: #C74D2F;
}
.adopt-search-results .save-search-modal .saved-filters {
    text-align: center;
    font-family: "Libre Franklin";
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.optin-email-modal.hidden {
    display: none;
}

.optin-email-modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 60%;
    background-color: white;
    color: black;
    z-index: 21;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.optin-email-modal .modal-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
}

.optin-email-modal .modal-action-btns {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.optin-email-modal .modal-action-btns .cancel {
    margin-bottom: 16px;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #222222;
    font-family: 'Libre Franklin';
    color: #222222;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 30px;
    text-overflow: unset;
    overflow: visible;
    justify-content: center;
    margin: 0;
}

.optin-email-modal .modal-action-btns .confirm {
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    background-color: #C74D2F;
    margin: 0;
}

.optin-email-modal ~ .overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 20;
}

.optin-email-modal ~ .overlay.show {
    display: block;
}

@media (min-width: 1024px) {
    .optin-email-modal .modal-action-btns {
        flex-direction: row;
    }

    .optin-email-modal .modal-action-btns .confirm,
    .optin-email-modal .modal-action-btns .cancel {
        margin: 16px 0;
    }
}

/* multi select element */
.multi-select .multi-select__button {
    width: 100%;
    margin: 0;
    padding: 11px 32px 11px 16px;
    text-align: left;
    border: 1px solid var(--background-dark, #3b092c);
    border-radius: 8px;
    background-color: #ffffff;
    color: var(--text-default, #28061e);
    font-family: var(--body-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    height: 43px;
    /** for the dropdown indicator */
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17" fill="none"%3E%3Cpath d="M16.5 5.34521L9.35333 12.4912C9.30693 12.5377 9.25187 12.5745 9.19127 12.5996C9.1306 12.6248 9.0656 12.6377 9 12.6377C8.9344 12.6377 8.8694 12.6248 8.80873 12.5996C8.74813 12.5745 8.69307 12.5377 8.64667 12.4912L1.5 5.34521" stroke="%2328061E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1em;
}
.multi-select .multi-select__button:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.multi-select > label {
    color: var(--Text-Default, #28061E);
    /* Body/Small/Button */
    font-family: "Libre Franklin";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 12px;
}
.multi-select .multi-select__button:hover,
.multi-select .multi-select__button:focus {
    background-color: #ffffff;
}
.multi-select__options {
    background-color: #ffffff;
    padding: 14px;
    border: 1px solid var(--border-base, #e4e4eb);
    border-radius: 0px 0px 8px 8px;
    max-height: 250px;
    overflow-y: auto;
}
.multi-select {
    position: relative;
}
.multi-select label {
    display: block;
}
.multi-select .multi-select__options {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
}
.multi-select .multi-select__options .multi-select__input {
    display: flex;
    align-items: baseline;
}
.multi-select .multi-select__options .multi-select__input input,
.multi-select .multi-select__options .multi-select__input label {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
}
.multi-select .multi-select__options .multi-select__input + .multi-select__input {
    margin-top: 12px;
}
.multi-select .multi-select__options .multi-select__input input {
    margin: 0;
    margin-right: 14px;
    height: 13px;
}
.multi-select .multi-select__options .multi-select__input label {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    }
.multi-select .multi-select__button[aria-expanded='true'] + .multi-select__options {
    z-index: 999;
}
/* multi select element */

/* stylelint-enable */