.like-post-container {
    border: 1px solid var(--color-gray-light);
    background-color: var(--background-color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    font-family: var(--heading-font-family);
    max-width: 290px;
    margin: 0 auto;
}

.counter {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 8px 16px;
    background: var(--text-color-inverted);
    box-sizing: border-box;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-bottom: 30px;
}

.counter .icon {
    margin-right: 10px;
}

.counter .icon svg {
    color: var(--highlight-color)
}

.like-post-container p {
    margin: 15px 0 0;
    font-family: Libre Franklin,sans-serif;
    font-size: .75rem;
    color: #ff7d5a;
    text-align: center;
}

.like-post-container .counter p {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    color: var(--color-gray)
}

.like-post-container span {
    color:var(--color-gray);
    font-size: 1.25rem;
    font-weight: 800;
    text-align: center;
}

.like-post-container span:first-of-type {
    max-width: 230px;
}

.like-post-container .paw-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like-post-container .paw-btn {
    cursor: pointer;
    width: 100px;
    height: 90px;
    mask-clip: stroke-box;
    background: url('../../icons/paw-border.svg')  center / 100% 100%;
    color: var(--color-gray);
    margin: 20px 0;
    transition: all .3s ease;
    box-sizing: border-box;
    padding-top: 50px;
    position: relative;
}

.like-post-container .paw-btn:hover {
    color: var(--highlight-color);
    background: url('../../icons/paw-big-filled.svg')  center / 100% 100%;
}

.sign-up-wrapper {
    background: var(--background-color-dark);
    padding: 20px 10px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.like-post-container .sign-up-wrapper p {
    font-size: 1rem;
}

.like-post-container .sign-up-wrapper p:first-of-type {
    color: var(--text-color-inverted);
    font-size: 1.125rem;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 15px;
}

.like-post-container .form-container {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;

}

.like-post-container .form-container textarea {
    margin-top: 22px;
    padding: 16px;
    height: 173px;
    width: 100%;
    border-radius: 7px;
    background: var(--text-color-inverted);
    border-color: var(--color-gray-light);
    resize: none;
    font-size: .875rem;
    box-sizing: border-box;
    font-family: var(--body-font-family);
}

.like-post-container .form-container button {
    background: transparent;
    color: var(--color-dark-maroon);
    font-size: 1.25rem;
    max-width: 180px;
    display: block;
    margin: 16px auto 38px;
    border-color: var(--color-dark-maroon);
    border-width: 2px;
    width: 100%;
    height: 40px;
    font-family: var(--heading-font-family);
    font-weight: 800;
}

.email-pets {
    margin-top: 20px;
}