main .compare-quotes>div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 2rem;
  border: 1px solid #d4d4d8;
  border-radius: 16px;
  box-shadow: var(--elevation-height-xs);
  padding: 1.5rem 1rem;

  @media (min-width: 1024px) {
    flex-direction: row;
    padding: 1.5rem 2rem;
  }
}

main .compare-quotes>div :is(p, strong, em) {
  color: var(--color-purple-500);
}

/* Quote Title */
main .compare-quotes>div>div>p:first-child {
  font-family: var(--heading-font-family);
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 0;
}

/* Quote Description */
main .compare-quotes>div>div>p:nth-child(2) {
  margin-bottom: 1.5rem;
}

/* Quote CTA */
main .compare-quotes>div>div>p:last-child {
  margin-bottom: 0;
}

main .compare-quotes>div a {
  font-family: var(--body-font-family);
  font-size: 1rem;
  background-color: var(--compare-button-bg-color);
  border-radius: 360px;
  margin: 0;
  padding: 0.75rem 1.5rem;
  text-align: center;
  width: 100%;

  @media (min-width: 1024px) {
    width: auto;
    min-width: 240px;
  }
}

main .compare-quotes>div a:hover {
  text-decoration: none;
}

/* Quote Image */
main .compare-quotes>div>div:last-child {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

main .compare-quotes>div img {
  height: 100%;
}