main .hero-container {
  padding: 0;
  margin: 0;
}

main .hero-container .hero {
  padding: 0;
  margin: 0;
}

main .general-attributes-container h1 {
  line-height: 1.1;
  margin: 0;
}

main .hero-container .hero picture img {
  width: 100vw;
  height: calc(100vw * .75);
  object-fit: cover;
  object-position: center center;
}

main .hero-container .hero picture {
  margin: 0;
  padding: 0;
  line-height: 0;
}

p {
  color: #4a4a4a;
}


.slick-arrow {
  position: absolute;
  padding: 0;
  cursor: pointer;
  border: none;
  color: white;
  outline: none;
  background: var(--color-gray-light-alt);
  height: 48px;
  width: 48px;
  border-radius: 24px;
  display: block;
}

.slick-prev {
  left: calc(50% - 80px);
  right: 50%;
}

.slick-prev::before {
  font-size: 17px;
  display: inline-block;
  width: 20px;
  height: 1em;
  background: var(--background-color);
  content: '';
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask: url('../../icons/arrow.svg') center / 100% 100%;
  mask: url('../../icons/arrow.svg') center / 100% 100%;
  vertical-align: middle;
  transform: rotate(180deg);
}

.slick-next {
  right: calc(50% - 80px);
  z-index: 99;
}

.slick-next::before {
  font-size: 17px;
  display: inline-block;
  width: 20px;
  height: 1em;
  background: #fff;
  content: '';
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask: url('../../icons/arrow.svg') center / 100% 100%;
  mask: url('../../icons/arrow.svg');
  vertical-align: middle;
}