/* stylelint-disable property-no-vendor-prefix */

main p {
  margin-bottom: 1.25rem;
}

main .hero-container {
  padding: 0;
  margin: 0;
}

main .hero-container .hero {
  padding: 0 0 31.8182%;
  margin: 0;
  min-height: 0;
  overflow: hidden;
}

main .general-attributes-container h1 {
  line-height: 1.1;
  margin: 0;
}

main .hero-container .hero picture img {
  width: 100vw;
  object-fit: cover;
  object-position: center center;
}

main .hero-container .hero picture {
  margin: 0;
  padding: 0;
  line-height: 0;
}

main .section {
  padding: 5rem 1.5rem;
}

main .section:nth-of-type(2n) {
  background: var(--background-color-light);
}

main .section.centered p {
  text-align: left;
}


.slick-arrow {
  position: absolute;
  padding: 0;
  cursor: pointer;
  border: none;
  color: white;
  outline: none;
  background: var(--color-gray-light-alt);
  height: 48px;
  width: 48px;
  border-radius: 24px;
  display: block;
}

.slick-prev {
  left: calc(50% - 80px);
}

.slick-prev::before,
.slick-next::before{
  font-size: 17px;
  display: inline-block;
  width: 20px;
  height: 1em;
  background: var(--background-color);
  content: '';
  -webkit-mask: url('../../icons/arrow.svg') center / 100% 100%;
  mask: url('../../icons/arrow.svg') center / 100% 100%;
  vertical-align: middle;
}

.slick-prev::before {
  transform: rotate(180deg);
}

.slick-next {
  right: calc(50% - 80px);
  z-index: 99;
}



@media (min-width: 1024px) {
  main .hero-container .hero {
    padding: 0 0 31.8182%;
  }

  main h2 {
    font-size: 2.5rem;
  }
}