
main p {
  margin-bottom: 1.25rem;
}

main .hero-container {
  padding: 0;
  margin: 0;
  background: none !important;
}

main .hero-container .hero {
  padding: 0;
  margin: 0;
  min-height: 0;
  overflow: hidden;
}

main .general-attributes-container h1 {
  line-height: 1.1;
  margin: 0;
}

main .hero-container .hero picture img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

main .hero-container .hero picture {
  margin: 0;
  padding: 0;
  line-height: 0;
}

main .section {
  padding: 5rem 1.5rem;
}

main .section.attributes-container,
main .section.well {
  padding: 2rem 1.5rem;
}

main .section.well .default-content-wrapper {
  padding: 0;
}

main .section:nth-of-type(odd) {
  background: var(--background-color-light);
}

main .section.accordion-container {
  background: white;
}

main .section.centered p {
  text-align: left;
}

@media (min-width: 900px) {
  main .hero-container .hero {
    padding: 0 0 31.8182%;
  }

  main .section .blade-wrapper {
    margin: 1rem auto;
  }
}

@media (min-width: 1024px) {
  main h2 {
    font-size: 2.5rem;
  }

  .footer-wrapper {
    margin-top: 40px;
    padding-top: 245px;
    background: url('/images/cat_footer.png') no-repeat top center;
    background-size: 600px;
  }

  main .section.slide-cards-container .slide-card {
    margin-bottom:50px;
  }

  main .care-tabs-container.section {
    padding: 2rem 1.5rem;
    margin-top: 2rem;
  }
}