html {
  color-scheme: dark light;
}

body {
  margin: 1rem;
  font-family: system-ui;
}

main {
  display: grid;
  grid-template:
    "hero hero"
    "pages operation"
    "results results";
  gap: 1rem;
}

table {
  margin: 1rem 0 2rem;
  border-collapse: collapse;
  border: 1px solid;
}

th {
  text-transform: uppercase;
}

th,
td {
    padding: .5rem;
}

textarea,
input,
select,
button {
  padding: .5rem;
  border-radius: .5rem;
  margin: 1rem 0;
}

@media (prefers-color-scheme: dark) {
  thead tr,
  tr:nth-of-type(2n) {
    background: rgb(255 255 255 / 10%)
  }

  textarea,
  input,
  select,
  button {
    border: 1px solid gray;
    background-color: #222;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  thead tr,
  tr:nth-of-type(2n) {
    background: rgb(0 0 0 / 10%)
  }

  textarea,
  input,
  select,
  button {
    border: 1px solid black;
  }
}

h1 { grid-area: hero; }

.pages { grid-area: pages; }

.pages textarea {
  width: 100%;
}

.operation { grid-area: operation; }

.results { grid-area: results; }

.results-overview ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: .5rem;
  list-style: none;
}

.results-overview li::after {
  content: '';
  display: inline-block;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  border: 1px solid gray;
}

.results-overview .success::after {
  background-color: green;
  border-color: green;
}

.results-overview .failure::after {
  background-color: red;
  border-color: red;
}

.results-overview .error::after {
  background-color: black;
  border-color: black;
}

.results-details details {
  border-left: 4px solid;
  padding-left: .5rem;
  margin-bottom: .5rem;
}

.results-details .success {
  border-color: green;
}

.results-details .failure {
  border-color: red;
}

.results-details .error {
  border-color: black;
}