.insurance-landing-page main .hero {
  align-items: start;
  min-height: 547px;
  background-color:  #7369AB;
  z-index: -1;
  padding-top: 0;
  padding-bottom: 0;
  overflow: auto;
}

.insurance-landing-page main .hero::after {
content: "";
clear: both;
display: table;
}

.insurance-landing-page .hero-container {
  padding-top: 0;
}

.insurance-landing-page .hero-picture-container {
  display: none;
}

.insurance-landing-page main .hero > div {
  max-width: 1200px;
}

.insurance-landing-page main .hero > div > div:not(:first-child) {
  align-items: start;
  flex-direction: column;
  margin: 3rem 0px;
  max-width: 660px;
}

.insurance-landing-page main .hero > div > div h1 {
  margin-bottom: 0px;
  color: var(--text-color-inverted);
}

.insurance-landing-page main .hero > div > div p {
  color: var(--text-color-inverted);
  font-size: 1.5rem;
}

.insurance-landing-page .search-box-wrapper {
  margin-bottom: 0;
}

.insurance-landing-page
  :not(.search-container ~ .search-container).search-container {
  position: absolute;
  left: 0;
  top: 430px;
  display: flex;
  flex-direction: column;
  bottom: 0;
  right: 0;
  margin: 0 auto;
}

.insurance-landing-page .search-container {
  padding: 0 1.5rem;
}

.insurance-landing-page .search-container .default-content-wrapper {
  color: var(--text-color-inverted);
  font-size: var(--body-font-size-s);;
  line-height: 20px;
  text-align: center;
  width: 100%;
}

.insurance-landing-page
  :not(.search-container ~ .search-container).search-container
  .search-box-wrapper {
  margin-top: 2.5rem;
}

.insurance-landing-page
  :not(.search-container ~ .search-container).search-container
  .search.block {
  justify-content: start;
}

.insurance-landing-page .search-box-wrapper .search-input {
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.24);
}

.insurance-landing-page .search-box-wrapper .search-button {
  width: fit-content;
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 12px;
  background-color: var(--compare-button-bg-color);
}

.insurance-landing-page .search-box-wrapper .search-button::before {
  display: inline-block;
  content: '';
  margin-right: 0.5rem;
  height: 13px;
  width: 29px;
  background: var(--text-color-inverted);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask: url('../../icons/arrow.svg') no-repeat center center;
  mask: url('../../icons/arrow.svg') no-repeat center center;
  vertical-align: middle;
}

.insurance-landing-page .columns-img-col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.insurance-landing-page .columns-img-col picture {
  width: 50%;
}


.insurance-landing-page .columns-img-col:nth-child(5) > picture {
  width: 40%;
}

.insurance-landing-page .columns-img-col:nth-child(6) > picture {
  width: 75%;
}

.insurance-landing-page .columns-img-col:nth-child(3) > picture,
.insurance-landing-page .columns-img-col:nth-child(4) > picture {
  width: 60%;
}

.insurance-landing-page .columns-txt-col {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.insurance-landing-page .columns-txt-col h2 {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--pet-insurance-txt-color);
}

.insurance-landing-page .columns-txt-col p {
  color: var(--pet-insurance-txt-color);
}

.insurance-landing-page .columns-txt-col:first-child h2 {
  font-size: 2.75rem;
}

.insurance-landing-page .subhead-container {
  padding: 1rem 1.5rem;
}

.insurance-landing-page .subhead-container > div h2 {
  font-size: 2.75rem;
  font-weight: 700;
  margin: 0;
}

.insurance-landing-page .subhead-container > div p {
  font-size: 1.5rem;
  font-weight: 400;
  width: 690px;
  margin: 0 auto;
}

.insurance-landing-page .columns-container .logos div {
  gap: 24px;
}

.insurance-landing-page .columns-txt-col:not(:first-child) {
  /* position: relative; */
  text-align: left;
  margin-bottom: 24px;
  color: var(--text-color-inverted);
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 400;
}

/* Block Counter List */
.insurance-landing-page .columns-txt-col:not(:first-child)::before {
  background: var(--number-background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  left: -3.125rem;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: var(--heading-font-size-m);
  line-height: 26px; /* 144.444% */
}

.insurance-landing-page .columns-3-cols > div {
  counter-reset: first-row 0;
  counter-reset: second-row 2;
}

.insurance-landing-page
  .columns-3-cols
  > div:first-child
  > .columns-txt-col:not(:first-child) {
  counter-increment: first-row;
}

.insurance-landing-page
  .columns-3-cols
  > div:first-child
  > .columns-txt-col:not(:first-child):before {
  content: counter(first-row);
}

.insurance-landing-page
  .columns-3-cols
  > div:last-child
  > .columns-txt-col:not(:first-child) {
  counter-increment: second-row;
}

.insurance-landing-page
  .columns-3-cols
  > div:last-child
  > .columns-txt-col:not(:first-child):before {
  content: counter(second-row);
}

.insurance-landing-page .accordion-container {
  display: flex;
  background-color: var(--faq-background-color);
  gap: 20px;
}

.insurance-landing-page .accordion-wrapper {
  width: 70%;
}

.insurance-landing-page .default-content-wrapper {
  width: 30%;
  display: flex;
  justify-content: start;
}

.insurance-landing-page .default-content-wrapper h2 {
  font-size: 2.75rem;
  font-weight: 700;
  color: var(--pet-insurance-txt-color);
}

.insurance-landing-page .accordion-section {
  background-color: var(--text-color-inverted);
}

.insurance-landing-page .accordion-section h3 button,
.insurance-landing-page .accordion-section .text {
  background-color: var(--text-color-inverted);
  color: var(--faq-accordion-txt-color);
  padding: 16px 44px;
}

.insurance-landing-page .accordion-section .text {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.insurance-landing-page .accordion button[aria-expanded]::after {
  -webkit-mask: url('../../icons/long-arrow-down.svg') center / 100% 100%;
  mask: url('../../icons/long-arrow-down.svg') center / 100% 100%;
  background-color: var(--faq-accordion-arrow-bg-color);
  width: 20px;
  height: 20px;
}

.insurance-landing-page .accordion button[aria-expanded='true']::after {
  -webkit-mask: url('../../icons/long-arrow-up.svg') center / 100% 100%;
  mask: url('../../icons/long-arrow-up.svg') center / 100% 100%;
  background-color: var(--faq-accordion-arrow-bg-color);
  width: 20px;
  height: 20px;
}

.error-state {
  border: 2px solid var(--error-message-color) !important;
}

.error-state::placeholder {
  color: var(--error-message-color);
}

.error-spacing {
  gap: 40px;
}

.insurance-landing-page .find-useful-wrapper {
  display: none;
}

.insurance-landing-page .find-useful-wrapper .error {
  display: flex;
  justify-content: center;
  margin-left: -250px;
  margin-bottom: 16px;
}

.insurance-landing-page
  :not(.search-container ~ .search-container).search-container
  > .find-useful-wrapper
  .error {
  justify-content: flex-start;
  margin-left: 20px;
}

.insurance-landing-page .find-useful-wrapper .error > div > div {
  display: flex;
  align-items: center;
  width: auto;
  padding: 8px 16px;
  border-radius: 4px;
  color: var(--error-message-color);
  background-color: var(--error-message-bg-color);
}

.insurance-landing-page .find-useful-wrapper .error > div > div::before {
  display: inline-block;
  content: '';
  margin-right: 0.5rem;
  height: 22px;
  width: 22px;
  background: var(--error-message-color);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask: url('../../icons/alert.svg') no-repeat center center;
  mask: url('../../icons/alert.svg') no-repeat center center;
  vertical-align: middle;
}

.insurance-landing-page
  :not(.section ~ .section).section
  > .default-content-wrapper {
  width: 100%;
  max-width: 1334px;
  display: block;
}

.insurance-landing-page
  :not(.section ~ .section).section
  > .default-content-wrapper
  p {
  color: var(--figo-powered-txt-color);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-left: 40px;
  margin-bottom: 10px;
}

.insurance-landing-page
  .section.subhead-container
  ~ .section.subhead-container {
  background-color: var(--background-color-dark) !important;
  color: var(--text-color-inverted) !important;
  margin-top: 4rem;
  padding-bottom: 0;
}

.insurance-landing-page
  .section.subhead-container
  ~ .section.subhead-container
  .disclaimer {
  margin-top: 0 !important;
}

.insurance-landing-page
  .section.subhead-container
  ~ .section.subhead-container
  .disclaimer
  div {
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 0.8rem;
}

.insurance-landing-page .footer-top-spacing .footer {
  border-top: unset;
}

.insurance-landing-page .section:last-child {
  padding: unset;
}

@media (max-width: 599px) {
  .insurance-landing-page .search-box-wrapper .search-button {
    width: 100%;
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .insurance-landing-page main .hero > div > div:not(:first-child) {
    margin-bottom: 10px;
  }

  .insurance-landing-page main .hero > div > div p {
    color: var(--text-color-inverted);
  }

  .insurance-landing-page
    :not(.search-container ~ .search-container).search-container {
    box-shadow: none;
  }

  .insurance-landing-page .search-container {
    width: 75%;
    margin: 0 auto;
    border-radius: 24px;
    padding: 0.5rem 1.5rem;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.24);
  }

  .insurance-landing-page
    :not(.search-container ~ .search-container).search-container
    .search-box-wrapper {
    margin-top: 0;
  }

  .insurance-landing-page .search-box-wrapper .search-input {
    border: 1px solid var(--background-color-dark);
  }

  insurance-landing-page .columns-container {
    padding: 2rem 1.5rem;
  }

  .insurance-landing-page .columns-txt-col:first-child h2 {
    font-size: 2rem;
  }

  .insurance-landing-page .subhead-container {
    padding: 2rem 1.5rem;
  }

  .insurance-landing-page .subhead-container > div h2 {
    font-size: 2rem;
  }

  .insurance-landing-page .subhead-container > div p {
    width: unset;
    font-size: 1rem;
  }

  .insurance-landing-page .accordion-container {
    flex-direction: column-reverse;
    width: auto;
  }

  .insurance-landing-page .accordion-wrapper {
    width: 100%;
  }

  .insurance-landing-page .default-content-wrapper {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .insurance-landing-page .default-content-wrapper h2 {
    font-size: 2rem;
    text-align: center;
  }

  .insurance-landing-page .find-useful-wrapper {
    margin-bottom: 16px;
  }

  .insurance-landing-page .find-useful-wrapper .error {
    margin-left: 0;
    position: absolute;
    margin-top: -115px;
    width: 75%;
  }

  .insurance-landing-page
    :not(.search-container ~ .search-container).search-container
    > .find-useful-wrapper
    .error {
    margin-left: unset;
    width: 100%;
  }

  .insurance-landing-page
    :not(.section ~ .section).section
    > .default-content-wrapper {
    width: 100%;
    display: flex;
    justify-content: start;
  }

  .insurance-landing-page
    :not(.section ~ .section).section
    > .default-content-wrapper
    p {
    margin: 0;
    margin-left: 20px;
  }

  .insurance-landing-page .columns-container .logos div {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .insurance-landing-page .columns-container .logos div div{
    width: 100%;
    max-width: 45%;
  }

  .insurance-landing-page .section.columns-container:has(.logos) {
    padding-bottom: 0;
  }
}

@media (min-width: 600px) {
  .insurance-landing-page .columns > div {
    align-items: start;
    flex-direction: unset;
    gap: 32px;
  }

  .insurance-landing-page .logos > div {
    align-items: center;
  }

  .insurance-landing-page .columns > div > div {
    flex: 1;
    order: unset;
    margin-bottom: 0;
  }

  .insurance-landing-page main .hero {
    display: flex;
  }

  .insurance-landing-page .hero h1 {
    color: var(--text-color-inverted);
    font-size: var(--heading-font-size-xxxl);
  }

  .insurance-landing-page .accordion-section h3 button {
    font-size: 24px;
    line-height: 28px;
  }

  .insurance-landing-page .search-container .default-content-wrapper {
    text-align: left;
    justify-content: flex-start;
    padding-left: 2rem;
    margin-left: 0 !important;
  }
}

@media (max-width: 900px) {
  .insurance-landing-page
    .section.subhead-container
    ~ .section.subhead-container {
    padding-bottom: 1.5rem;
  }

}

@media (min-width: 601px) and (max-width: 900px) {
  .insurance-landing-page .columns-container .logos div {
    flex: 1 1 40%;
  }

  .insurance-landing-page .columns-container .columns div {
    flex-wrap: wrap;
  }

  .insurance-landing-page .columns-txt-col:first-child {
    width: 100%;
    flex: unset;
  }

  .insurance-landing-page .accordion-container {
    flex-direction: column-reverse;
    align-items: center;
    width: auto;
  }

  .insurance-landing-page .accordion-wrapper {
    width: 100%;
  }

  .insurance-landing-page .default-content-wrapper {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .insurance-landing-page
    :not(.section ~ .section).section
    > .default-content-wrapper
    p {
    margin-left: 20px;
  }

  .insurance-landing-page .columns-container .logos div {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 33px;
  }

  .insurance-landing-page .columns-container .logos div div{
    width: 100%;
    max-width: 30%;
  }

}

@media (min-width: 900px) {
  .insurance-landing-page .columns-txt-col:not(:first-child) {
    padding-left: 0;
    font-size: var(--body-font-size-m);
    line-height: 24px;
  }

  .insurance-landing-page .columns-txt-col:not(:first-child)::before {
    font-size: 1.2rem;
    line-height: 42px;
    padding: 5px;
  }

  .insurance-landing-page .columns-txt-col:first-child h2 {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .insurance-landing-page .columns-txt-col:not(:first-child) {
    font-size: var(--body-font-size-l);
    line-height: 30px;
    margin-bottom: 30px;
    flex: 1;
  }

  .insurance-landing-page .accordion-container {
    padding: 2rem calc((100% - 1344px) / 2);
  }

  .insurance-landing-page .hero picture {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    max-width: 1200px;
    margin: auto;
  }

  .insurance-landing-page .hero-picture-container {
    display: flex;
  }

  .insurance-landing-page .hero img {
    max-height: none;
    height: auto;
    width: unset;
    max-width: 50%;
    max-height: 489px;
    margin: auto 0 0 auto;
  }
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .insurance-landing-page
    :not(.section ~ .section).section
    > .default-content-wrapper
    p {
    margin-left: 60px;
  }
}

@media (min-width: 1200px) {
  .insurance-landing-page .section > .search-wrapper,
  .insurance-landing-page .section > .find-useful-wrapper {
      max-width: 1200px;
  }

  .insurance-landing-page .section > .default-content-wrapper {
    max-width: 1200px !important;
    margin-left: auto !important;
  }

  .insurance-landing-page .hero img {
    max-width: 100%;
  }
}
