
/* Hero Styles */
.insurance-landing-page main .hero.landing-page {
  @media (max-width: 1024px){
    min-height: 232px;
    padding: 0;
  }
}
.insurance-landing-page main .hero.landing-page picture {
  margin: 0 -1.5rem;
  max-width: 100%;
  @media (max-width: 900px){
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    object-fit: cover;
    margin:0;
  } 
}
.insurance-landing-page main .hero.landing-page > div {
  margin-left: auto;
  margin-right: auto;
  
  max-width: 1344px;
  width: 100%;
  display: grid;
  height: 100%;
  grid-template-rows: 0px minmax(350px, 1fr);
/* 
  @media (max-width: 800px){
    min-height: 232px;
    grid-template-rows: 2fr 1fr;
  } */
  @media (max-width: 1024px){
    min-height: 232px;
    grid-template-rows: 2fr 1fr;
  }
}

/* Hero Title */
.insurance-landing-page main .hero.landing-page > div > div h1{
  color: #FFF;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.50);
  font-family: Libre Franklin;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 76.364% */
  @media (max-width: 1024px){
    font-size: 44px;
    text-align: left;
    margin: 0 24px 28px;
  }
  @media (max-width:800px){
    display: none;
  }
}

.insurance-landing-page main .section h2{
  color: #3B092C;
  text-align: center;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 36px; /* 140% */
    
  @media (min-width: 800px){
    font-size: 32px;
    line-height: 36px; /* 140% */
  }
  @media (min-width: 1024px){
    font-size: 30px;
    line-height: 42px; /* 140% */
  }
}
.insurance-landing-page main .section p {
  color: #424242;
  text-align: center;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 400;
  
  font-size: 11px;
  line-height: 22px; /* 200% */
  
  @media (min-width: 800px){
    font-size: 16px;
    line-height: 24px; /* 200% */
  }
  
  @media (min-width: 1024px){
    font-size: 16px;
    line-height: 32px; /* 200% */
  }
}
.insurance-landing-page main .section.subhead {
  margin: 0;
  padding: 1.5rem;
}
.insurance-landing-page main .section.subhead .section-container {
  padding: 24px 24px 0;
  @media (min-width: 800px){
    padding: 32px 0 0;

  }
  @media (min-width: 1024px){
    padding: 56px 0 0;
  }
}
.insurance-landing-page main .section.subhead .section-container h2{
  margin: 0 0 16px;
}

/* Reasons Why Section Block */
.insurance-landing-page main .section.reasons .section-wrapper {
  border-radius: 20px;
  /* padding: 40px; */
  background-color: #5D3450; 
}

/* Reasons Why Section Block */
.insurance-landing-page main .section.reasons .rounded {
  padding-left: 50px;
  padding-right: 50px;
}

/* Reasons Section Title */
.insurance-landing-page main .section.reasons h4 {
  border-bottom: 2px dotted #fff;
  color: #FFF;
  text-align: center;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
  padding: 32px;
  padding-top: 0px;
  
  font-size: 14px;
  line-height: 26.5px; /* 189.286% */
  
  @media (min-width: 800px){
    padding-bottom: 40px;
    font-size: 22px;
    line-height: 36px; /* 163.636% */
  }
  @media (min-width: 1024px){
    padding-bottom: 40px;
    font-size: 30px;
    line-height: 42px; /* 140% */
  }

}

.insurance-landing-page main .section.reasons ol {
  counter-reset: block-counter;
  list-style: none;
  padding: 40px 0 0 50px;
  
  /* @media (min-width: 800px){
    padding: 40px 0 0 50px;
  }
  @media (min-width: 1024px){
    padding: 40px 0 0 100px;
  } */
}
.insurance-landing-page main .section.reasons li {
  position: relative;
  text-align: left;
  margin-bottom: 24px;
  color: #FFF;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 400;
  counter-increment: block-counter;
  
  font-size: 11px;
  line-height: 22px;
  padding-left: 30px;
  
  @media (min-width: 800px){
    font-size: 16px;
    line-height: 24px;
    
  }
  @media (min-width: 1024px){
    font-size: 20px;
    line-height: 30px;
    /* padding-left: 40px; */
    margin-bottom: 30px;;
  }
}

/* Block Counter List */
.insurance-landing-page main .section.reasons li::before {
  position: absolute;
  content: counter(block-counter);
  background: #FF7D5A;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 32px;
  height: 32px;
  left: -50px;

  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 700;

  font-size: 18px;
  line-height: 26px; /* 144.444% */

  @media (min-width: 800px){
    font-size: 30px;
    line-height: 42px; /* 140% */
    padding: 40px 40px 0 60px;
  }
  @media (min-width: 1024px){
    font-size: 30px;
    line-height: 42px; /* 140% */
    padding: 40px 40px 0 100px;
    width: 50px;
    height: 50px;
    left: -60px;
  }

}
.insurance-landing-page main .section.reasons li strong {
  color: #fff;
}

/* Insurance Container */
.insurance-landing-page main .section.insurance  {
  background-color: #F2F6FC;
  padding-top: 0;
}
.insurance-landing-page main .section.insurance .section {
  padding: 24px 0;
  @media (min-width: 800px){
    padding: 32px 0;
  }
  @media (min-width: 1024px){
    padding: 56px 24px;
  }
}
/* Insurance Section Title */
.insurance-landing-page main .section.insurance  h4 {
  color: #3B092C;
  text-align: center;
  font-family: Libre Franklin;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 163.636% */
  margin: 0;

  @media (min-width: 800px){
    font-size: 32px;
    line-height: 36px; /* 140% */
  }
  @media (min-width: 1024px){
    font-size: 30px;
    line-height: 42px; /* 140% */
  }
}
/* Card Grid */
.insurance-landing-page main .section.insurance .columns > div {
  display: grid;
  grid-template-columns: 1fr;
  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }
  align-items: stretch;
  /* gap: 0; */
  gap: 20px;
  margin-bottom: 20px; 
}

/* Card Container */
.insurance-landing-page main .section.insurance .columns > div > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 50px auto auto auto auto;
  gap: 16px;
  padding: 32px;
  
  background-color: #ffffff;
  border-radius: 30px;
  @media (min-width: 800px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  50px auto auto auto 1fr;
    gap: 20px 20px;
    padding: 40px;

  }
}

/* Card Logo */
.insurance-landing-page main .section.insurance .columns p:first-of-type {
  grid-area: 1 ;
  justify-self: center;
  @media (min-width: 800px) {
    grid-area: 1 / 1;
    justify-self: flex-start;
    align-self: center;
  }
}
.insurance-landing-page main .section.insurance .columns p:first-of-type img{

  @media (max-width: 800px) {
    max-height: 30px;
  }
  @media (max-width: 1024px) {
    max-height: 30px;
  }
}
/* Card CTA */
.insurance-landing-page main .section.insurance .columns p.button-container{
  grid-area: 2 ;
  @media (min-width: 800px) {
    grid-area: 1 / 2;
    justify-content: flex-end;
  }
  align-self: center;
}

/* Card Title */
.insurance-landing-page main .section.insurance .columns h3 {
  grid-area: 3 / auto;
  margin: 0;
  color: #736AA4;
  font-family: Libre Franklin;
  
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 183.333% */
  
  @media (min-width: 800px) {
    grid-column: 1 / span 2;
    grid-row: 2;
    
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
  }

}

/* Card List */
.insurance-landing-page main .section.insurance .columns ul {
  grid-area: 4 / auto;
  @media (min-width: 800px) {
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  padding-left: 14px;
}

/* Card List Item */
.insurance-landing-page main .section.insurance .columns ul li {
  text-align: left;
  color: #424242;
  font-family: Libre Franklin;

    font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 200% */
  letter-spacing: -0.22px;
  @media (min-width: 800px) {
    font-size: 14px;
    line-height: 28px; /* 200% */
    letter-spacing: -0.28px;
  }
}

/*Card Disclaimer*/
.insurance-landing-page main .section.insurance .columns > div > div > p:not(.button-container):not(:first-of-type){
  grid-area: auto;
  grid-row: auto;

  color: #424242;
  font-family: Libre Franklin;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  
  font-size: 8px;
  line-height: 12px; /* 150% */
  
  @media (min-width: 800px) {
    grid-column: 1 / span 2;
    grid-row: auto;
   
    font-size: 10px;
    line-height: 20px; /* 200% */
  }
    

}
.insurance-landing-page main .section.insurance .columns > div > div > p:not(.button-container):last-of-type{
  grid-area: auto;
  grid-row: 5;
  /* grid-column: auto / span 2; */
  /* grid-row: 4; */
  /* grid-row-start: 3; */
}

.insurance-landing-page main .section.subhead,
.insurance-landing-page main .section.reasons,
.insurance-landing-page main .section .columns-wrapper {
  width: 80%;
  margin: 1.5rem auto;
}
