.tips-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--color-gray-lighter);
    border-radius: 50px;
    padding: 20px;
    font-size: 16px;
}

.tips.block > div {
    display: flex;
    align-items: center;
}


.tips-icon img {
    height: 40px;
    min-width: 40px;
    max-width: 40px;
    object-fit: contain;
    flex-shrink: 0;
}

.tip {
    border-left: 1px solid #ff7d5a;
    padding-left: 1em;
    overflow-wrap: break-word;
}

.tip strong {
    color: var(--color-purple-gray);
    display: inline;
}
