.adoption-landing-page .details-box.rounded {
  margin-bottom: 0 !important;
  color: black;
  text-align: left;
  background-color: transparent;
}

.adoption-landing-page .details-box.rounded p:first-child {
  padding-bottom: 1rem;
}

.adoption-landing-page .pet-display .pet-card-box {
  border-radius: 1rem;
  height: 37.5rem;
  margin: 1rem auto;
  cursor: pointer;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.15);

}

.adoption-landing-page .pet-display .pet-card-box:hover {
  box-shadow: 0 1px 10px 2px rgba(0,0,0,0.15);
}

.adoption-landing-page .pet-display .pet-card-box:hover h3 {
  text-decoration: underline var(--link-color);
}

.adoption-landing-page .pet-display .pet-card-box picture {
  height: 20rem;
  display: block;
}

.adoption-landing-page .pet-display .pet-card-box img {
  border-radius: 15px 15px 0 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.adoption-landing-page .pet-card-box .pet-card-banner-div {
  display: flex;
  align-items: center;
  border-top: 1px solid #E0DFE5;
  border-bottom: 1px solid #E0DFE5;
  height: 6rem;
}

.adoption-landing-page .pet-display .pet-card-title {
  padding: 0.5rem;
}

/* .adoption-landing-page .pet-card-box:nth-child(odd) .pet-card-banner-div {
  background-color: #C74D2F;
}

.adoption-landing-page .pet-card-box:nth-child(even) .pet-card-banner-div {
  background-color: #7369AB;
} */

.adoption-landing-page .pet-display .pet-card-box h3 {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  gap: 1rem;
  align-items: center;
}

.adoption-landing-page .pet-display .pet-card-box h3 p {
  -webkit-mask: url("../../icons/next.svg") center / 100% 100%;
  mask: url("../../icons/arrow.svg") center / 100% 100%;
  background-color: var(--link-color);
  padding: 0.75rem;
}

.adoption-landing-page .pet-card-title h2,
.adoption-landing-page .pet-card-title h4 {
  margin: 0;
  color: black;
}

.adoption-landing-page .pet-card-title h2 {
  font-size: 1.5rem;
  font-weight: bolder;
}

.adoption-landing-page .pet-card-title h4 {
  font-size: 1rem;
  font-weight: normal;
}

.adoption-landing-page .pet-display .pet-card-details {
  font-size: 1rem;
  margin: 0.5rem;
  color: #000;
  max-height: 7.5rem;
  overflow: hidden;
  -webkit-mask: var(--card-details-mask); 
  mask: var(--card-details-mask);
}