/* Adopt Global */

.adopt button,
.adopt a.button {
  background-color: var(--compare-button-bg-color);
}

/* Hero */
.adopt .hero h1 {
  margin: 0;
  font-size: 49.5px;
  line-height: 84px;
  color: #000;

  @media (min-width: 1024px) {
    font-size: 72px;
    line-height: 58px;
  }
}

.adopt .hero h2 {
  margin: 8px 0 0;
  font-size: 22px;
  line-height: 26px;
  color: #000;

  @media (min-width: 1024px) {
    margin: 12px 0 0;
    font-size: 32px;
    line-height: 36px;
  }
}

.adopt .hero > div {
  @media (min-width: 1024px) {
    gap: 70px;
  }
}

.adopt .hero .columns-img-col {
  margin: 0 -24px 24px;

  @media (min-width: 768px) {
    margin: 0 0 24px;
  }
}

body.adopt .hero .columns-img-col picture img {
  width: 100%;
  border-radius: 0;

  @media (min-width: 1024px) {
    border-radius: 16px;
  }
}

.adopt .hero .columns-txt-col {
  margin-bottom: 0;
}

.adopt .hero .columns-txt-col h1,
.adopt .hero .columns-txt-col h2 {
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}

/* Search */

.adopt-search-container {
  display: none;
}

.adopt-search-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  margin-top: 32px;
}

.adopt-search-wrapper .adopt-search.results form {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.adopt-search-wrapper form fieldset {
  display: flex;
  border: none;
  margin: 0;
  padding: 0;
  width: 50%;
  gap: 16px;
}

.adopt-search-wrapper .adopt-search.results form fieldset {
  width: auto;
}

.adopt-search-wrapper form fieldset label {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--Text-Supporting, #2f2f33);
  font-family: 'Libre Franklin';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.adopt-search-wrapper form fieldset input {
  /* display: none; */
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.adopt-search-wrapper form fieldset input:checked + label {
  background: var(--Purple-300, #7369ab);
  color: #fff;
}

.adopt-search-wrapper form fieldset label {
  padding: 10px var(--Spacing-Large, 24px);
  width: auto;
  display: inline-block;
  border: 1px solid var(--Border-Strong, #d0d0d6);
  border-radius: 8px;
}

.adopt-search-wrapper form > div {
  display: flex;
  flex-direction: column;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.adopt-search-wrapper .adopt-search.results form > div {
  width: 100%;
}

.adopt-search-wrapper form input:not([type='radio']),
.adopt-search-wrapper form select,
.adopt-search-wrapper form textarea {
  margin-bottom: 0;
  border: 1px solid #000;
  height: 48px;
  padding: 0 16px;
  border-radius: 8px;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  color: var(--Text-Default, #28061e);
}

.adopt-search-wrapper form > div > label,
.adopt-search-wrapper form fieldset legend {
  color: var(--Text-Default, #28061e);
  /* Body/Small/Button */
  font-family: 'Libre Franklin';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 12px;
}

.adopt-search-wrapper form div #clearButton {
  display: none;
  background: none;
  border: none;
  position: absolute;
  right: 30px;
  top: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  font-weight: bold;
  color: #a4a4a4d9;
  font-size: 18px;

  @media (max-width: 600px) {
    font-size: 13px;
    top: 6px;
    right: 28px;
  }
}

.adopt-search-wrapper form button.adopt-search-button {
  margin: 8px 0 8px;
  padding-block: 13px;
  width: 100%;
  min-width: 300px;
  font-size: 18px;

  @media (min-width: 768px) {
    margin-left: auto;
    max-width: fit-content;
  }
}

/* Adoptable Pets / Pet Card */
.adoptable-pets-container {
  padding: 32px 0 16px;
}

.adoptable-pets .pet-card {
  width: 250px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px #0000003d;
  position: relative;
  flex-shrink: 0;

  @media (min-width: 1024px) {
    width: 300px;
  }
}

.adoptable-pets .pet-card-body {
  padding: 24px 16px 16px;
}

.adoptable-pets .pet-card-button-conainer {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 3;
  width: 40px;
  height: 40px;
  background: transparent;
}

.adoptable-pets .pet-card-favorite {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-color: #ffffffd9;
}

.adoptable-pets .pet-card-favorite-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-mask: url('../../icons/favorite.svg') no-repeat center center;
  mask: url('../../icons/favorite.svg') no-repeat center center;
  background-color: var(--text-color-disabled);
}

.adoptable-pets .adoptable-pets-gallery-wrapper {
  width: 100%;
  overflow-x: auto;
}

.adoptable-pets .adoptable-pets-gallery {
  padding: 32px 0 16px;
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}

.adoptable-pets .pet-card-name {
  margin-bottom: 8px;
}

.adoptable-pets .pet-card-image img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.adoptable-pets .pet-card-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.adoptable-pets .pet-card-info .pet-card-dot {
  margin-left: 12px;
  margin-right: 12px;
  flex-shrink: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-black);
}

.adoptable-pets .pet-card-info .pet-card-dot + .pet-card-breed {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.adoptable-pets .pet-card-address {
  margin-top: 24px;
}

.adoptable-pets .stretched-link {
  color: #000000;
}

.adoptable-pets .stretched-link:after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Guide */

.adopt-guide-container .columns-wrapper {
  @media (min-width: 1024px) {
    display: flex;
    gap: 70px;
  }
}

.adopt-guide-container .columns-img-col {
  max-width: max-content;
}

.adopt-guide-container .guide > div {
  @media only screen and (min-width: 768px) {
    flex-direction: row;
    gap: 32px;
  }
}

.adopt-guide-container .guide > div + div {
  margin-top: 48px;
}

.adopt-guide-container .guide .button-container {
  margin-top: 32px;
}

.adopt-guide-container .guide .button {
  margin: 0;
}

.adopt-guide-container h2 {
  margin-top: 0;
  max-width: 28ch;
  font-size: 44px;

  @media (min-width: 1024px) {
    padding-right: 90px;
  }
}

/* Insurance */

.adopt .insurance .button {
  margin: 32px 0 0;
  color: #222;
  background-color: var(--text-color-inverted);
  border: 1px solid #222;

  @media (min-width: 1024px) {
    margin: 40px 0 0;
  }
}

.adopt .insurance > div {
  @media (min-width: 1024px) {
    gap: 74px;
  }
}

.adopt .insurance h2 {
  margin: 0 0 14px;
  font-size: 32px;
  line-height: 36px;

  @media (min-width: 1024px) {
    font-size: 49.5px;
    line-height: 58px;
  }
}
