.traveling-page .hero {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 62.5vw;
  min-height: 0;
  max-height: 326px;
  padding: 0;
  isolation: isolate;
}

.traveling-page .hero picture {
  margin: 0;
}

.traveling-page .hero img {
  position: absolute;
  inset: 0;
  z-index: -1;
  object-fit: cover;
}

.traveling-page .hero>div {
  max-width: none;
  background: var(--color-purple-transparent);
}

.traveling-page .hero>div>div {
  max-width: 1392px;
  margin: 0 auto;
}

.traveling-page .hero h1 {
  margin: 0;
  padding: 2rem 1.5rem;
  color: var(--text-color-inverted);
  text-shadow: 2px 3px 5px rgb(0 0 0 / 50%);
  text-align: left;
  font-size: calc(1.4875rem + 2.85vw);
}

.traveling-page h2 {
  box-sizing: border-box;
  display: block;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.2rem;
  color: var(--color-purple-gray);
  text-align: center;
  margin: 1.5rem 0;
  padding: 0;
}

.columns-container {
  box-sizing: border-box;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--color-gray-dark);
  text-size-adjust: 100%;
  padding: 70px 16px 50px;
}

.section.city {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 2rem;
  margin: 20px;
  background-color: var(--background-color);
  border-top: 1px solid var(--highlight-color);
}

.section.city h3 {
  font-size: calc(1.325rem + .9vw);
  line-height: 1.1;
  color: var(--background-color-dark);
  margin-bottom: 1.875rem;
  font-weight: 800;
  background-color: var(--background-color);
}

.section.city .city-intro .city-txt1 {
  display: none;
}

.section.city .text {
  clear: both;
}

.section.float-column-container {
  padding: 4.3rem 1rem 3rem 1rem;
}

.section.icon-type-container {
  padding: 4rem 1rem;
}

.city .icon-type-list {
  justify-content: left;
  padding: 0;
  row-gap: 0;
  flex-wrap: wrap;
}

.city .icon-type-list li {
  padding: 0;
  margin-bottom: 1.2rem;
  height: 2.1rem;
  flex-basis: 10rem;
}

.city .icon-type-list icon-item {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.city .icon-type-list icon-item img {
  width: 2.2rem;
  height: 2.5rem;
  padding-right: 4px;
  padding-left: 4px;
}

.city .icon-type-list icon-item span {
  margin-top: 0;
  font-size: 0.875rem;
  text-align: left;
  white-space: nowrap;
}

.city a {
  text-decoration: underline;
  color: var(--link-color-alt);
  cursor: pointer;
}

.city a:hover {
  text-decoration: none;
}

.city a[target="_blank"]::after {
  content: "";
  margin-left: 0.2em;
}

.section.city .default-content-wrapper {
  grid-area: name;
}

.section.city .icon-type-wrapper {
  grid-area: icons;
}

.section.city .link-box-wrapper {
  grid-area: links;
}

.section.city .city-header-txt {
  grid-area: txt1;
}

.section.city .city-header-img {
  grid-area: img1;
}

.section.city .city-middle-txt {
  grid-area: txt2;
}

.section.city .city-middle-img {
  grid-area: img2;
}

.section.city .city-footer-txt {
  grid-area: txt3;
}

.section.city .city-footer-img {
  grid-area: img3;
}

.section.city .tips-wrapper {
  width: 95%;
  grid-area: tips;
}

.section.city .city-header-txt,
.section.city .city-middle-txt,
.section.city .city-footer-txt,
.section.city .city-header-img,
.section.city .city-middle-img,
.section.city .city-footer-img,
.section.city .tips-wrapper {
  margin-bottom: 1.8rem;
}

.section.city,
.section.city.backup-layout {
  display: grid;
  margin: auto;
  grid-template-areas:
    "name"
    "icons"
    "links"
    "img1"
    "txt1"
    "txt2"
    "img2"
    "img3"
    "txt3"
    "tips";
}

.section.city .city-header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section.city .city-middle-img img {
  width: 100%;
}

.section.city .city-footer-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section.city p:not(:last-child) {
  margin-bottom: 0.4rem;

}


@media (min-width:600px) {

  .section.city {
    grid-template-areas:
      "name name"
      "icons icons"
      "links links"
      "img1 img1"
      "txt1 txt1"
      "txt2 txt2"
      "img2 img3"
      "txt3 txt3"
      "tips tips";
  }

  .section.city.backup-layout {
    column-gap: 2.2rem;
    grid-template-areas:
      "name name name name name name name name name name"
      "icons icons icons icons icons icons icons icons icons icons"
      "links links links links links links links links links links"
      "img1 img1 img1 img1 img1 img1 img1 img1 img1 img1"
      "txt1 txt1 txt1 txt1 txt1 txt1 txt1 txt1 txt1 txt1"
      "txt2 txt2 txt2 txt2 txt2 txt2 txt2 txt2 txt2 txt2 "
      "img2 img2 img2 img2 txt3 txt3 txt3 txt3 txt3 txt3"
      "img3 img3 img3 img3 txt3 txt3 txt3 txt3 txt3 txt3"
      "tips tips tips tips tips tips tips tips tips tips";
  }

  .traveling-page h2 {
    font-size: 1.5rem;
    margin: 1.75rem 0;
  }

  .city .icon-type-list icon-item {
    height: 2.1rem;
  }

  .section.city .city-header-img {
    width: 100%;
    height: 40vh;
  }

  .section.city .city-middle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width:1200px) {

  .section.city,
  .section.city.backup-layout {
    max-width: 1344px;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    column-gap: 4rem;
    grid-template-areas:
      "img1 img1 img1 img1 img1 name name name name name name name"
      "img1 img1 img1 img1 img1 icons icons icons icons icons icons icons"
      "img1 img1 img1 img1 img1 links links links links links links links"
      "img1 img1 img1 img1 img1 txt1 txt1 txt1 txt1 txt1 txt1 txt1"
      "txt2 txt2 txt2 txt2 txt2 txt2 txt2 txt2 img2 img2 img2 img2"
      "img3 img3 img3 img3 txt3 txt3 txt3 txt3 txt3 txt3 txt3 txt3"
      "img3 img3 img3 img3 tips tips tips tips tips tips tips tips";
  }

  .section .default-content-wrapper h1 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }

  .section.city h3 {
    font-size: 2rem;
  }

  .section.city p:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .city .icon-type-list icon-item {
    height: 35px;
  }

  .section.city .city-header-img {
    min-height: 95%;
    object-fit: cover;
  }
}