.section.city.icon-type-container.link-box-container.columns-container.tips-container {
  padding: 0px;
  margin: 0px;
}

/*Style hero image*/
.traveling-page .hero {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 62.5vw;
  min-height: 0;
  max-height: 326px;
  padding: 0;
  isolation: isolate;
}

.traveling-page .hero picture {
  margin: 0;
}

.traveling-page .hero img {
  position: absolute;
  inset: 0;
  z-index: -1;
  object-fit: cover;
}

.traveling-page .hero>div {
  max-width: none;
  background: var(--color-purple-transparent);
}

.traveling-page .hero>div>div {
  max-width: 1392px;
  margin: 0 auto;
}

.traveling-page .hero h1 {
  margin: 0;
  padding: 2rem 1.5rem;
  color: var(--text-color-inverted);
  text-shadow: 2px 3px 5px rgb(0 0 0 / 50%);
  text-align: left;
  font-size: calc(1.4875rem + 2.85vw);
}

/* Stying h2,float-column and icon-type-container */

.traveling-page .default-content-wrapper h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.traveling-page h2 {
  box-sizing: border-box;
  display: block;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 2.2rem;
  color: var(--color-purple-gray);
  text-align: center;
  margin: 1.5rem 0;
  padding: 0;
}

.section.float-column-container {
  padding: 4.3rem 1rem 3rem 1rem;
}

.arranged.section.city .icon-type-container {
  padding: 1.875rem 1rem;
}


/* Styling city section */
.arranged.section.city {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 2.5rem;
  margin: 1.25rem;
  background-color: var(--background-color);
  border-top: 1px solid var(--highlight-color);
}

.arranged.section.city h3 {
  font-size: calc(1.325rem + .9vw);
  line-height: 1.1;
  color: var(--background-color-dark);
  margin-bottom: 1.875rem;
  font-weight: 800;
  background-color: var(--background-color);
}

.arranged.section.city .icon-type-wrapper {
  margin-bottom: 1rem;
}

.arranged.section.city a {
  text-decoration: underline;
  color: var(--link-color-alt);
  cursor: pointer;
}

.arranged.section.city a:hover {
  text-decoration: none;
}

.arranged.section.city a[target="_blank"]::after {
  content: "";
  margin-left: 0.2em;
}

.arranged.section.city p:not(:last-child) {
  margin-bottom: 1.25rem;
}

/* Designate areas */
.arranged.section.city {
  display: grid;
  margin: auto;
  padding-top: 4rem;
  grid-template-areas:
    "name name"
    "icons icons"
    "links links"
    "img1 img1"
    "txt1 txt1"
    "txt2 txt2"
    "img2 img3"
    "txt3 txt3"
    "tips tips";
}

.arranged.section.city.backup-layout {
  display: grid;
  margin: auto;
  padding-top: 4rem;
  grid-template-areas:
    "name name"
    "icons icons"
    "links links"
    "img1 img1"
    "txt1 txt1"
    "txt2 txt2"
    "img2 img2"
    "img3 img3"
    "txt3 txt3"
    "tips tips";
}

.arranged.section.city .default-content-wrapper {
  grid-area: name;
}

.arranged.section.city .icon-type-wrapper {
  grid-area: icons;
}

.arranged.section.city .link-box-wrapper {
  grid-area: links;
}

.arranged.section.city .city-header-txt {
  grid-area: txt1;
}

.arranged.section.city .city-header-img {
  grid-area: img1;
  height: 250px;
}

.arranged.section.city .city-middle-txt {
  grid-area: txt2;
}

.arranged.section.city .city-middle-img {
  grid-area: img2;
}

.arranged.section.city .city-footer-txt {
  grid-area: txt3;
}

.arranged.section.city .city-footer-img {
  grid-area: img3;
}

.arranged.section.city .tips-wrapper {
  grid-area: tips;
  width: 95%;
}

.arranged.section.city .city-header-txt,
.arranged.section.city .city-middle-txt,
.arranged.section.city .city-footer-txt,
.arranged.section.city .city-header-img,
.arranged.section.city .city-middle-img,
.arranged.section.city .city-footer-img,
.arranged.section.city .tips-wrapper {
  margin-bottom: 1.8rem;
}

.arranged.section.city .city-middle-img img,
.arranged.section.city .city-header-img img,
.arranged.section.city .city-footer-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (min-width:600px) {

  .traveling-page .default-content-wrapper h1 {
    font-size: 1.75rem;
    margin-bottom: 2.5rem;
  }

  .traveling-page h2 {
    font-size: 1.5rem;
    margin: 1.75rem 0;
  }

  .arranged.section.city {
    padding-top: 4rem;
  }

  .arranged.section.city .icon-type-container {
    padding: 3rem 1rem;
  }

  .arranged.section.city.backup-layout {
    column-gap: 2.2rem;
    grid-template-areas:
      "name name name name name name name name name name"
      "icons icons icons icons icons icons icons icons icons icons"
      "links links links links links links links links links links"
      "img1 img1 img1 img1 img1 img1 img1 img1 img1 img1"
      "txt1 txt1 txt1 txt1 txt1 txt1 txt1 txt1 txt1 txt1"
      "txt2 txt2 txt2 txt2 txt2 txt2 txt2 txt2 txt2 txt2 "
      "img2 img2 img2 img2 txt3 txt3 txt3 txt3 txt3 txt3"
      "img3 img3 img3 img3 txt3 txt3 txt3 txt3 txt3 txt3"
      "tips tips tips tips tips tips tips tips tips tips";
  }

  .arranged.section.city .city-header-img {
    width: 100%;
    height: 30vh;
    /* height: min(100%, 40vh); */
  }

}

@media (min-width:1200px) {

  .section.icon-type-container {
    padding: 4rem 1rem;
  }

  .arranged.section.city,
  .arranged.section.city.backup-layout {
    max-width: 1344px;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    column-gap: 4rem;
    grid-template-areas:
      "img1 img1 img1 img1 img1 name name name name name name name"
      "img1 img1 img1 img1 img1 icons icons icons icons icons icons icons"
      "img1 img1 img1 img1 img1 links links links links links links links"
      "img1 img1 img1 img1 img1 txt1 txt1 txt1 txt1 txt1 txt1 txt1"
      "txt2 txt2 txt2 txt2 txt2 txt2 txt2 txt2 img2 img2 img2 img2"
      "img3 img3 img3 img3 txt3 txt3 txt3 txt3 txt3 txt3 txt3 txt3"
      "img3 img3 img3 img3 tips tips tips tips tips tips tips tips";
  }

  .section .default-content-wrapper h1 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }

  .arranged.section.city h2,
  .arranged.section.city h3 {
    font-size: 2rem;
  }

  .arranged.section.city .city-header-img {
    min-height: 95%;
    object-fit: cover;
    height: min(90%, 30vh);
  }

  .arranged.section.city .city-middle-img img {
    height: auto;
  }
}