main .newsletter-signup input {
  all: unset;
}

.newsletter-signup {
  background-color: var(--background-color-dark);
  color: var(--text-color-inverted);
}

.newsletter-signup .hidden {
  display: none;
}

.newsletter-signup .disabled {
  pointer-events: none;
  cursor: pointer !important;
  background-color: var(--color-gray-light) !important;
  color: var(--color-gray-dark) !important;
}

.newsletter-signup > div {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 450px;
  margin: 0 auto;
}

.newsletter-signup > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.newsletter-signup > div > span,
.newsletter-signup > div > input[type=text],
.newsletter-signup .button-container {
  margin: 0 1.5rem;
}

.newsletter-signup > div > span {
  display: flex;
  gap: 5px;
  font-size: var(--body-font-size-xs);
}

.newsletter-signup > div > div h2 {
  margin: 0;
  padding: 0;
  font-size: var(--body-font-size-l);
}

.newsletter-signup > div > div p {
  color: var(--highlight-color);
}

.newsletter-signup .button-container a {
  width: 100%;
  margin: 0;
}

.newsletter-signup input[type=checkbox] {
  display: inline-block;
}

.newsletter-signup input[type=text] {
  padding: 0 1rem;
  height: 38px;
  border-radius: 20px;
  text-align: center;
  background-color: var(--color-mauve);
  color: var(--text-color-inverted);
  font-size: var(--body-font-size-m);
  border: 1 px solid var(--color-mauve);
}

.newsletter-signup input[type=text]::placeholder {
  color: var(--text-color-inverted);
  opacity: .75;
  font-weight: 500;
}

.newsletter-signup .newsletter-error, .newsletter-signup .newsletter-success {
  text-align: center;
  font-weight: 800;
  font-size: var(--body-font-size-m);
  margin-bottom: 1rem;
}

.newsletter-signup .newsletter-error {
  color: var(--color-red);
}

.newsletter-signup .newsletter-terms {
  font-size: var(--body-font-size-xs);
  text-align: center;
  display: block;
}

.newsletter-signup .newsletter-terms a,
.newsletter-signup .newsletter-terms a:visited,
.newsletter-signup .newsletter-terms a:focus {
  color: var(--text-color-inverted);
}

@media (min-width: 768px) {
  /* horizontal variant */
  .newsletter-signup.horizontal > div > div {
    grid-area: description;
  }

  .newsletter-signup.horizontal div .newsletter-checkbox-dog {
    grid-area: dog;
    margin: 0;
    justify-self: flex-end;
  }

  .newsletter-signup.horizontal div .newsletter-checkbox-cat {
    grid-area: cat;
    margin: 0;
    justify-self: flex-start;
  }

  .newsletter-signup.horizontal div .newsletter-text-email {
    grid-area: email;
    margin: 0;
    justify-self: flex-end;
  }

  .newsletter-signup.horizontal div .newsletter-text-name {
    grid-area: name;
    margin: 0;
  }

  .newsletter-signup.horizontal div .button-container {
    grid-area: signup;
    margin: 0;
    justify-self: flex-start;
  }

  .newsletter-signup.horizontal div .newsletter-terms {
    grid-area: terms;
  }

  .newsletter-signup.horizontal > div {
    padding: 1.5rem 0;
    margin: 0 auto;
    max-width: 1344px;
    display: grid;
    grid-template:
      ". description description description description ." auto
      ". dog dog cat cat ." auto
      ". email name name signup ." auto
      ". terms terms terms terms ." auto / auto 1fr auto auto 1fr auto;
  }

  .newsletter-signup.horizontal > div > input[type=text],
  .newsletter-signup.horizontal > div .button-container {
    margin: 0;
  }
}
