.newsletter-signup {
  background-color: var(--background-color-dark);
  color: var(--text-color-inverted);
}

.newsletter-signup input {
  width: unset;
  margin: 0;
  padding: 0;
}

/* FOOTER FORM */

.newsletter-signup form .inputs-main-div {
  display: flex;
  flex-wrap: wrap;
}

.newsletter-signup img {
  max-width: 100%;
  height: auto;
}

.newsletter-signup > div > div {
  padding: 1.5rem;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.newsletter-signup input[type="text"], .newsletter-signup button {
  width: 100%;
  height: 48px;
}

.newsletter-signup button[disabled] {
  color: var(--color-gray-light);
  background-color: var(--text-color-disabled);
}

.newsletter-signup input[type="text"] {
  border-radius: 0.5rem;
  text-align: left;
  color: #000;
  font-size: var(--body-font-size-m);
  border: 1 px solid var(--color-mauve);
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.newsletter-signup .form-checkbox-wrapper {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.newsletter-signup form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.newsletter-signup form label {
  font-size: var(--body-font-size-m);
  text-align: left;
}

.newsletter-signup > div > div h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  text-align: left;
  color: #fff;
}

.newsletter-signup > div > div p {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: left;
}

.newsletter-signup > div > div > p:last-child a,
.newsletter-signup > div > div > p:last-child a:visited,
.newsletter-signup > div > div > p:last-child a:focus {
  color: var(--text-color-inverted);
  text-decoration: underline;
}

.newsletter-signup button {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: var(--body-font-size-default);
  border-radius: 0.5rem;
  font-weight: normal;
  background-color: var(--cta-button-color);
}

.newsletter-signup input[type="text"]::placeholder {
  color: #909090;
  opacity: .75;
  font-weight: normal;
}

.newsletter-signup .newsletter-message {
  font-weight: normal;
  font-size: var(--body-font-size-m);
  padding: 0.5rem;
  background-color: #FCEFED;
  display: none;
  color: #731911;
}

/* .newsletter-signup .newsletter-message.error {
}
.newsletter-signup .newsletter-message.success {
} */

/* POPUPS */

.popup .newsletter-signup form {
  gap: 0.5rem;
}

.popup .newsletter-signup p {
  font-size: 1rem;
}

.popup .newsletter-signup img {
  width: 90%;
}

.popup .newsletter-signup .form-checkbox-wrapper {
  align-self: center;
  margin-bottom: 0.5rem;
}

.popup .newsletter-signup form .inputs-main-div {
  flex-wrap: wrap;
  justify-content: space-between;
}

.popup .newsletter-signup form .form-text-wrapper {
  flex: 1 0 50%;
  padding: 0 0.5rem;
}

.popup .newsletter-signup form .form-text-wrapper:last-child {
  flex: 0 1 100%;
}

.newsletter-signup .popup-close {
  background-color: var(--background-color-dark);
  line-height: 1;
  width: 40px;
  float: right;
}

.newsletter-signup .popup-close::before {
  content: 'X';
  font-weight: 800;
  font-size: 1.5rem;
}

.newsletter-signup > div > div > p:last-child {
  font-size: var(--body-font-size-xs);
  text-align: center;
  display: block;
}

@media (min-width: 1025px) {
  /* horizontal variant */
  .newsletter-signup.horizontal > div > div {
    padding: 3rem 0;
    margin: 0 auto;
    max-width: 1344px;
  }

  .newsletter-signup.horizontal form .inputs-main-div {
    justify-content: space-evenly;
    gap: 1rem;
  }

  .newsletter-signup.horizontal form .checkbox-main-div {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-evenly;
  }

  .newsletter-signup.horizontal form .form-submit-wrapper {
    margin: auto;
    width: 50%;
  }

  .newsletter-signup.horizontal form label {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .popup .newsletter-signup p {
    width: 95%;
  }

  .newsletter-signup form .form-text-wrapper {
    flex: 1 0 50%;
    padding: 0 0.5rem;
  }
  
  .newsletter-signup form .form-text-wrapper:last-child {
    flex: 0 1 100%;
  }
}