@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button {
    all: unset;
}

.CheckboxRoot {
    height:16px;
    width :16px;
    padding: 0;
    border:solid #6E6D73 2px;
    border-radius:6px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.CheckboxRoot:focus {
    outline: none;
}

.CheckboxIndicator {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height:20px;
    width :20px;
    background-color: #C74D2F;
    border-radius:6px;
    color: white;
}
.CheckboxIndicator svg {
    height:20px;
    width :20px;
}