.related-reading-hidden {
  display: none;
}

.related-reading-thumbnail img {
  width: 100%;
  height: 12rem;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.related-reading-title a {
  color: var(--text-color);
}

.related-reading-title {
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--heading-font-family);
  line-height: 1.25;
}

.related-reading-details {
  padding: 1rem;
}

@media (min-width: 1024px) {
  .related-reading-title {
    height: 5rem;
    font-size: 1.5rem;
  }

  .related-reading {
    display: flex;
    gap: 2rem;
  }

  .tile {
    width: 33.33%;
  }
}

.tile {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  border: 1px solid var(--color-blue-light);
  border-radius: 0.5rem;
  background-color: #fff;
  cursor: pointer;
  /* stylelint-disable color-function-notation */
  box-shadow: 0 107px 30px 0 rgba(130, 130, 130, 0%), 0 69px 27px 0 rgba(130, 130, 130, 1%), 0 39px 23px 0 rgba(130, 130, 130, 5%), 0 17px 17px 0 rgba(130, 130, 130, 9%), 0 4px 9px 0 rgba(130, 130, 130, 10%);
}

.date-author-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.date-author-container div {
  display: flex;
  gap: 1rem;
}

.related-reading-header {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
}