.tiles-wrapper {
  width: 100%;
}

.section.tiles-container {
  display: flex;
  flex-direction: column;
}

.section.tiles-container h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 800;
  color: #000;
  text-align: center;
}

.section.tiles-container h2::after {
  content: "";
  display: block;
  border-bottom: none;
  margin-top: 8px;
  margin-bottom: 0;
  max-width: 200px;
}

.section.tiles-container h2:first-child {
  margin-top: 0;
}

.tile {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  border: 1px solid var(--color-blue-light);
  border-radius: 0.5rem;
  background-color: #fff;
  cursor: pointer;
  /* stylelint-disable color-function-notation */
  box-shadow: 0 107px 30px 0 rgba(130, 130, 130, 0%), 0 69px 27px 0 rgba(130, 130, 130, 1%), 0 39px 23px 0 rgba(130, 130, 130, 5%), 0 17px 17px 0 rgba(130, 130, 130, 9%), 0 4px 9px 0 rgba(130, 130, 130, 10%);
}

.tile .category-link-btn span {
  color: white;
  font-weight: normal;
}

.tile .img-container {
  position: relative;
  height: auto;
  align-self: normal;
}

.tile .img-container img {
  width: 100%;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.tile .category-link-btn {
  --bg-color: inherit;

  background-color: var(--bg-color);
  display: inline-block;
  border-radius: 0.75rem;
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: var(--heading-font-size-xs);
  padding: 0 1rem;
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.tile .tile-contents {
  --bg-color: inherit;

  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.tile .tile-contents h3 {
  margin: 0.5rem auto;
  font-size: 1rem;
  line-height: 1;
  height: 3rem;
  color: #000;
}

.tile .tile-contents .date-author-container {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.tile .tile-contents .date-author-container div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin: 0.25rem;
}

.tiles-with-bg:not(:first-child) {
  background-color: #EFF4FC;
}

.tiles-without-bg {
  margin-bottom: -3rem !important;
}

@media (min-width: 400px) {
  .tile .tile-contents h3 {
    font-size: 1.25rem;
    line-height: 1.1;
  }
}

@media screen and (min-width: 768px) {
  .tile .tile-contents > div:first-child {
    min-height: auto;
  }

  .tiles-wrapper .tiles-block-container .tiles-featured .tile,
  .tiles-wrapper .pet-care .tiles-block-container .tile,
  .tiles-wrapper .pet-health .tiles-block-container .tile {
    width: 33%;
  }
}

@media screen and (min-width: 1024px) {
  .tiles-block-container {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .tiles-without-bg {
    margin-bottom: 0 !important;
  }
}

/* spotlight (desktop) */

.tiles.spotlight .tiles-block-container {
  flex-direction: column;
}

.tiles.spotlight, .tiles-featured {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.tiles.spotlight .tile-spotlight .tile-0 {
  flex-direction: row;
  align-items: center;
  height: 20rem;
  font-size: 1rem;
}

.tile-spotlight .tile-0 .tile-contents {
  gap: 2rem;
  padding: 2rem;
}

.tile-spotlight .tile-0 .img-container img {
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.5rem;
  height: 100%;
}

.tile-spotlight .tile-0 .date-author-container {
  align-items: baseline;
  flex-direction: row;
  gap: 2rem;
}

.tile-spotlight .tile-0 h3  {
  font-size: 2rem;
}

.tile-spotlight .tile-0 .button-container a {
  border-radius: 0.5rem !important;
  font-weight: normal !important;
}