@import '@radix-ui/colors/black-alpha.css';

/* reset */
button {
  all: unset;
}

.SwitchRoot {
  width: 52px;
  height: 24px;
  background-color: var(--neutral-400);
  border-radius: 21px;
  border: solid var(--neutral-950) 1px;
  position: relative;
  box-shadow: 0 2px 10px var(--black-a7);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.SwitchRoot:focus {
  outline: none;
  background-color: var(--neutral-400);
}
.SwitchRoot[data-state='checked'] {
  border: none;
  background-color: var(--orange-300-contrast);
}
.SwitchRoot:disabled {
  border: none;
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 20px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px var(--black-a7);
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}
.SwitchThumb[data-state='checked'] {
  transform: translateX(29px);
}