/**
 * Typography
 */
/* Page Title */
.insurance-page main h1 {
  font-size: 2.5rem;
  line-height: 1.175;
  color: var(--color-black);
  margin-top: 0;
  margin-bottom: 4px;
}

.insurance-page main h1+p {
  margin-bottom: 0;
}

.insurance-page main h2 {
  font-size: 1.625rem;
  line-height: 1.175;
  color: var(--color-black);
}

.insurance-page main p {
  font-size: var(--body-font-size-s);
  margin-bottom: 1rem;
}

.insurance-page main ul {
  padding: 0;
}

.insurance-page main li {
  font-size: var(--body-font-size-s);
  padding: 0;
  margin-bottom: 20px;
}

.insurance-page main li::marker {
  font-size: 14px;
}

/* Sponsor */
.insurance-page main>.section>.default-content-wrapper em {
  font-size: 0.625rem;
  line-height: 1.6;
  color: var(--text-color-subtle);
}

.insurance-page main>.section>.default-content-wrapper em a {
  color: inherit;
  text-decoration: underline;
}

/**
 * Global
 */
/* Remove excessive spacing between title and first image */
.insurance-page main>.section:nth-child(2) {
  padding-bottom: 0;
}

.insurance-page main>.section:nth-child(3) {
  padding-top: 0;
}

.insurance-page img {
  width: 100%;
  padding: 2.5rem 0 2rem;

  @media (min-width: 1024px) {
    padding: 2.5rem 0;
  }
}

/**
 * Layout
 */
.insurance-page main {
  display: grid;
  grid-template-columns: auto;

  @media (min-width: 1024px) {
    grid-template-columns: 2fr 1fr;
  }
}

.insurance-page main>.side-section {
  grid-row: 2 / 2;

  @media (min-width: 1024px) {
    grid-column: 2 / 2;
    grid-row: 1 / span 2;
  }

  @media (max-width: 1023px) {
    padding-bottom: 0;
  }
}

.insurance-page main>.section:nth-child(n+3) {
  grid-column: 1 / 1;
}

/**
 * Article Author
 */
.insurance-page .article-author {
  margin-bottom: 24px;

  @media (min-width: 1024px) {
    margin-bottom: 32px;
  }
}

.insurance-page .article-author [itemprop="author"] {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    "author-image author-name"
    "author-image author-date";
}

.insurance-page .article-author p {
  margin-bottom: 0;
}

.insurance-page .article-author time {
  margin-bottom: 0;
  font-size: 1rem;
  color: var(--text-color-subtle);
}

.insurance-page .article-author [itemprop="author"] .icon {
  grid-area: author-image;
  width: 48px;
  height: 48px;
}

.insurance-page .article-author [itemprop="name"] {
  grid-area: author-name;
}

.insurance-page .article-author [itemprop="datePublished"] {
  grid-area: author-date;
}

/**
 * Social Share
 */
.insurance-page .social-share {
  @media (min-width: 1024px) {
    margin-bottom: 48px;
  }
}

/**
 * Anchor Links
 */
.insurance-page .anchor-links {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

/**
 * Emphasized List
 */
.insurance-page .emphasized-list ul {
  list-style: none;
}

.insurance-page .emphasized-list li {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='25' fill='none'%3E%3Ccircle cx='8' cy='12.962' r='4' fill='%23C74D2F'/%3E%3C/svg%3E");
  background-position: 0px 0;
  background-size: 16px 24px;
  background-repeat: no-repeat;
  margin-left: -24px;
  padding-left: 24px;
}
