/* stylelint-disable no-descending-specificity */

/* add global styles that can be loaded post LCP here */

.nav-sidebar [role="dialog"] {
  position: fixed;
  inset: 0 auto 0 0;
  z-index: 9999;
  max-height: 100%;
  max-width: 100%;
  width: 450px;
  overflow-y: auto;
  font-size: var(--body-font-size-s);
  line-height: 1.5rem;
  isolation: isolate;
  scrollbar-gutter: stable;
}

.nav-sidebar [role="dialog"][aria-hidden="false"]::before {
  content: '';
  position: fixed;
  inset: 0;
  background: rgb(255 255 255 / 50%);
  z-index: -1;
}

.nav-sidebar [role="dialog"] > div {
  position: absolute;
  min-height: 100%;
  background: var(--background-color-dark);
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.nav-sidebar [role="dialog"] > div > button {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 52px;
  height: 52px;
  fill: var(--text-color-inverted);
}

.nav-sidebar ul {
  list-style: none;
  padding: 0;
}

.nav-sidebar a {
  display: inline-block;
  color: var(--highlight-color);
  text-decoration: none;
}

.nav-sidebar-header {
  padding: 12px;
  border-bottom: 2px solid var(--text-color-inverted);
}

.nav-sidebar-header .icon {
  width: 200px;
  height: 28px;
  margin: .75rem 0;
  color: var(--text-color-inverted);
}

.nav-sidebar-links ul ul {
  margin: 0;
  padding-left: 1.5rem;
  background-color: var(--text-color);
}

.nav-sidebar-links li {
  position: relative;
  margin: 0;
  padding: 0;
}

.nav-sidebar-links a {
  display: block;
  padding: .5rem 1rem .5rem 2.5rem;
  font-family: var(--heading-font-family);
}

.nav-sidebar-links ul ul a {
  color: var(--text-color-inverted);
  font-family: var(--body-font-family);
}

.nav-sidebar-links button[aria-controls] {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 1rem;
}

.nav-sidebar-links button[aria-controls]::before {
  content: '';
  display: inline-block;
  height: 24px;
  width: 24px;
  background: var(--highlight-color);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask: url('../icons/chevron.svg');
  mask: url('../icons/chevron.svg');
  vertical-align: bottom;
}

.nav-sidebar-links ul ul button[aria-controls]::before {
  background: var(--text-color-inverted);
}

.nav-sidebar-links [aria-expanded="true"] + button[aria-controls]::before {
  transform: rotate(180deg);
}

.nav-sidebar-links > ul > li > a {
  border-bottom: 1px solid rgb(255 255 255 / 30%); 
}

.nav-sidebar-search,
.nav-sidebar-misc,
.nav-sidebar-social {
  padding: 40px 40px 0;
}

.nav-sidebar-misc ul {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.nav-sidebar-misc li {
  flex: 1 0 calc(50% - .5rem);
}

.nav-sidebar-social ul {
  display: flex;
  margin: 0 0 2rem;
  gap: .5rem;
}

.nav-sidebar-social .icon {
  width: 36px;
  height: 36px;
}

.nav-sidebar-search form {
  position: relative;
}

.nav-sidebar-search form::after {
  position: absolute;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 1rem;
  background: var(--background-color);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask: center / contain no-repeat url('../../icons/search.svg');
  mask: center / contain no-repeat url('../../icons/search.svg');
  cursor: pointer;
}

.nav-sidebar-search input {
  height: 40px;
  width: 100%;
  padding-left: 1rem;
  padding-right: 40px;
  background: var(--highlight-color);
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 15px;
}

.nav-sidebar-search input::placeholder {
  color: white;
}

.nav-sidebar-search input::-webkit-search-cancel-button {
  appearance: none;
  width: .75rem;
  height: .75rem;
  background: var(--text-color-inverted);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask: url('../icons/close.svg') no-repeat;
  mask: url('../icons/close.svg') no-repeat;
}

@media (prefers-contrast: more) {
  .nav-sidebar a {
    color: var(--text-color-inverted);
  }
}
