/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --highlight-color: #ff7d5a;
  --link-color: var(--highlight-color);
  --link-hover-color: var(--highlight-color);
  --background-color: #fff;
  --background-color-light: #f2f6fc;
  --background-color-dark: #3b092c;
  --text-color: #28061e;
  --text-color-inverted: #fff;
  --text-color-alt: #363636;
  --color-gray: #8f8f8f;
  --color-gray-light: #b9c2cc;
  --color-gray-dark: #4a4a4a;
  --color-blue: #639af9;
  --color-blue-dark: #5870A2;
  --color-purple: #978ce0;

  /* fonts */
  --body-font-family: 'Libre Franklin', 'Libre Franklin Fallback', sans-serif;
  --heading-font-family: 'Raleway', 'Raleway Fallback', sans-serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-default: 16px;
  --body-font-size-l: 20px;
  --body-font-size-m: var(--body-font-size-default);
  --body-font-size-s: 14px;
  --body-font-size-xs: 13px;
  --body-font-size-xxs: 13px;

  /* heading sizes */
  --heading-font-size-xxxl: 3.222em;
  --heading-font-size-xxl: 2.1em;
  --heading-font-size-xl: 1.75em;
  --heading-font-size-l: 1.222em;
  --heading-font-size-m: 1.125em;
  --heading-font-size-s: 1em;
  --heading-font-size-xs: .875em;

  /* nav height */
  --nav-height: 68px;

}

@media (min-width: 600px) {
  :root {
    --body-font-size-default: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;
    --body-font-size-xxs: 13px;
    --heading-font-size-xxl: 2.75rem;
  }
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 3.125rem;
    --heading-font-size-xl: 2em;
  }
}

@media (min-width: 1216px) {
  :root {
    --heading-font-size-xxl: 4.125rem;
    --heading-font-size-xl: 2em;
  }
}

/* Font fallbacks to limit CLS */
@font-face {
  font-family: 'Libre Franklin Fallback';
  size-adjust: 103.331%;
  src: local('Arial');
}

@font-face {
  font-family: 'Raleway Fallback';
  size-adjust: 107.941%;
  src: local('Arial');
}

:focus-visible {
  outline: solid 3px #639af9;
  outline-offset: 5px;
  visibility: visible;
  opacity: 1;
  outline-style: inset;
}

body {
  font-size: var(--body-font-size-default);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
  -moz-osx-font-smoothing: gray;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font-size: var(--heading-font-size-xxl);
  color: var(--text-color-inverted);
  line-height: 1.1;
}
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }


:is(h2, h3, h4, h5, h6) em {
  color: var(--highlight-color);
  font-style: normal;
}

p, dl, ol, ul, pre, blockquote {
  margin: 0;
}

strong {
  color: var(--text-color-alt);
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--background-color-light);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

ol {
  display: block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-family: var(--body-font-family);
}

li {
  list-style: inherit;
  list-style-position: outside;
  padding-left: 0.5rem;
  font-size: var(--body-font-size-default);
  line-height: 1.5;
  font-weight: 400;
}

main pre {
  background-color: var(--background-color-light);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main a {
  color: var(--link-color);
  text-decoration: none;
}

main a:hover {
  text-decoration: none;
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--background-color-light);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
  aspect-ratio: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main .section {
  padding: 2rem 1.5rem;
  overflow-x: hidden;
}

main .default-content-wrapper ~ .default-content-wrapper {
  margin-top: 3.75rem;
}

[data-align="left"] {
  text-align: left;
}

[data-align="center"] {
  text-align: center;
}

[data-align="right"] {
  text-align: right;
}

[aria-hidden="true"],
[aria-expanded="false"] ~ [role="group"] {
  display: none;
}

/* Utility classes */

main .centered {
  text-align: center;
}

.sr-focusable {
  position: absolute;
  top: var(--nav-height);
}

/* stylelint-disable-next-line no-descending-specificity */
.sr-focusable a,
a.sr-focusable {
  position: absolute;
  opacity: 0;
  transform: translateY(-100%);
  white-space: nowrap;
  z-index: -1;
}

.sr-focusable a:active,
.sr-focusable a:focus,
a.sr-focusable:active,
a.sr-focusable:focus {
  z-index: 9999;
  padding: .1875rem;
  background-color: var(--color-delta-red);
  color: var(--text-color-inverted);
  font-family: var(--body-medium-font-family);
  font-size: var(--body-font-size-s);
  opacity: 1;
  text-transform: uppercase;
  transform: none;
}

.sr-only:not(:focus, :active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Responsive overrides */

@media (min-width: 900px) {
  .section > div {
    margin: 0 auto;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .section > div {
    max-width: 1344px;
  }

  li {
    margin-bottom: 0.25rem;
  }
}

/* Template overrides */

.home-page .hero-container ~ .section:nth-of-type(2n) {
  background: var(--background-color-light);
}

.home-page main h2 {
  position: relative;
  font-size: 1.7rem;
  padding-bottom: .2em;
  margin: 0 0 2rem;
  border-bottom: 2px solid var(--color-gray);
}

.home-page main h2::after {
  position: absolute;
  content: '';
  display: block;
  bottom: -2px;
  width: 15%;
  min-width: 100px;
  max-width: 200px;
  border-bottom: 2px solid #ff7d5a;
}

.home-page .centered h2 {
  border: none;
}

.home-page .centered h2::after {
  display: none;
}

.home-page h4 {
  font-weight: 800;
  margin: 0;
  padding-bottom: 10px;
  line-height: 1;
}

.home-page .columns h2 {
  border-bottom: none;
}

.home-page .columns h2::after {
  display: none;
}

.home-page .columns h3 {
  position: relative;
  color: var(--highlight-color);
}

.home-page .columns h3::after {
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  margin-left: -0.5rem;
  width: 1rem;
  height: 1px;
  background: var(--color-blue-dark);
  display: block;
  content: '';
}

.home-page .columns [data-align="center"] p {
  text-align: left;
}

.home-page .columns [data-align="center"] picture {
  display: block;
  text-align: center;
}

.home-page .columns > div > div:first-child {
  flex: 1.5;
}

.home-page footer::before {
  display: block;
  content: '';
  height: 6rem;
  background-color: var(--background-color-dark);
}

@media (min-width: 600px) {
  .home-page .hero h1 {
    font-size: 2.667em;
  }

  .home-page main h2 {
    font-size: 1.75em;
  }
}

@media (min-width: 900px) {
  .home-page .hero h1 {
    font-size: 3.222em;
  }

  .home-page main h2 {
    font-size: 2em;
  }
}

@media (min-width: 1200px) {
  .home-page .hero h1 {
    font-size: 3.667em;
  }

  .home-page main h2 {
    font-size: 2.25em;
  }
}

.category-index .sidebar {
  padding: 1rem;
  background-color: var(--background-color-dark);
}

.category-index .sidebar > .default-content-wrapper:first-child {
  text-align: center;
}

.category-index .sidebar button[aria-controls] {
  margin: 0;
  background: none;
  color: var(--highlight-color);
  font-size: var(--body-font-size-l);
}

.category-index .sidebar button[aria-controls]::before {
  display: inline-block;
  margin-right: 0.5rem;
  content: "\2715";
  font-size: 22px;
  transform: rotate(45deg);
  transition: transform 1s linear;
}

.category-index .sidebar h2 {
  position: relative;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--color-gray);
  color: var(--text-color-inverted);
  font-size: var(--heading-font-size-l);
}

.category-index .sidebar h2::after {
  position: absolute;
  content: '';
  display: block;
  bottom: -2px;
  width: 15%;
  min-width: 100px;
  max-width: 200px;
  border-bottom: 3px solid var(--color-purple);
}

@media (min-width: 1200px) {
  .category-index .sidebar {
    background: unset;
  }

  .category-index .sidebar h2 {
    color: unset;
  }

  .category-index .sidebar button[aria-controls] {
    display: none;
  }
}

.article-page .hero-container ~ .section:nth-of-type(2n+1) {
  background: var(--background-color-light);
}

.article-page main p {
  margin-bottom: .75em;
}

.article-page main ul {
  margin: 1.25rem 0 1.5rem;
  padding-left: 1.25rem;
}

.article-page main li {
  margin-bottom: .25rem;
}

.icon-user {
  color: #5773A9;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.icon-user circle{
  color: #5773A9;
}

.icon-user path{
  color: #C5D2E9;
}