main .slideshow-container {
    padding: 0;
    position: relative;
    overflow: hidden;

    --tab-bar-height: 30px;
}


.slides-container {
    display: flex;
    transition: transform 600ms;
}

.slides-container img {
    display: block;
    filter: brightness(80%);
    height: auto;
    width: 100vw;
    aspect-ratio: auto;
}

.slides-container .slide {
    width: 100vw;
    flex-shrink: 0;
    position: relative;
}

.slides-container .slide h2 {
    color: white;
    border: none;
    font-size: 2.75rem;
}

.slides-container .slide .button {
    padding: .375rem .875rem;
    font-family: var(--heading-font-family);
    text-transform: capitalize;
}

.slides-container [aria-hidden="true"] {
    display: block;
}

.slide .text-div {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.slides-container [aria-hidden="true"] .text-div {
    display: none;
}

.control-button {
    background: none;
    pointer-events: initial;
}

.slideshow-container button.control-button {
    background-color: transparent;
}

.control-button:hover {
    background: none;
}

.control-button:focus {
    background: none;
}

.control-button svg {
    width: 32px;
    height: 32px;
    color: var(--highlight-color);
}

.tab-bar-container > ol svg {
    width: 20px;
    height: 20px;
}

.tab-bar-container {
    height: var(--tab-bar-height);
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.tab-bar-container > ol {
    display: flex;
    list-style: none;
    padding: 0;
}

.tab-bar-container > ol button {
    padding: 2px;
    margin: 0;
}

.slideshow-wrapper {
    max-width: unset;
}

@media (min-width: 768px) {
    .slide .text-div {
        align-items: flex-start;
        padding-left: 25px;
    }

    .slide .text-div :is(h1, h2) {
        max-width: 50%;
        text-align: left;
        font-size: var(--heading-font-size-xxl);
        color: var(--text-color-inverted);
        line-height: 1.1;
        border: none;
    }

    .slide .text-div :is(h1, h2)::after {
        display: none;
    }

    .slides-container .slide .button {
        padding: .625rem 1.25rem;
    }

    .slides-container .slide .button::before {
        display: inline-block;
        content: '';
        margin-right: .5rem;
        height: 13px;
        width: 29px;
        background: var(--text-color-inverted);
        /* stylelint-disable-next-line property-no-vendor-prefix */
        -webkit-mask: url('../../icons/arrow.svg') no-repeat center center;
        mask: url('../../icons/arrow.svg') no-repeat center center;
        vertical-align: middle;
    }
}

@media (min-width: 1200px) {
    .slide .text-div {
        margin: 0 auto;
        max-width: 1344px;
    }

    .section > div.slideshow-wrapper {
        max-width: 100%;
    }

    .slides-container .slide .button {
        padding: .9375rem 2.5rem;
        font-size: 1.25rem;
    }
}