.breadcrumb ol {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: .75rem 0;
}

.breadcrumb ol li {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.breadcrumb .icon {
  vertical-align: middle;
}

.breadcrumb ol li:first-child {
  margin-right: .5rem;
}

.breadcrumb .icon-chevron {
  transform: rotate(270deg);
  fill: var(--text-color-inverted);
  width: 20px;
  margin-top: 6px
}

.breadcrumb .category-link-btn {
  --bg-color: inherit;
  --border-color: inherit;
  --text-color: inherit;

  background: var(--bg-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  border-radius: 50px;
  font-size: var(--body-font-size-xxs);
  text-align: center;
  line-height: 1.1;
  padding: 0.3rem 0.6rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.breadcrumb .category-link-btn:not(:last-child) {
  background-color: var(--text-color-inverted);
}

.breadcrumb .category-link-btn:last-child {
  color: var(--text-color);
}

@media (min-width: 768px) {
  .breadcrumb .category-link-btn {
    padding: 0.3rem 0.7rem;
  }
}

@media (min-width: 1200px) {
  .breadcrumb .category-link-btn {
    font-size: var(--body-font-size-xxs);
  }
}
