.popular-articles-container h2 {
  text-align: left;
  margin-bottom: 2rem;
}

.popular-cards-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.popular-posts-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.popular-posts-card .img-div img {
  border-radius: 0.5rem;
  min-width: 90px;
  max-width: 90px;
  height: 70px;
  object-fit: cover;
}

.popular-posts-card .title-div {
  color: var(--text-color);
  margin-right: 10px;
}

.popular-posts-card .title-div a {
  color: var(--text-color);
  font-size: .875rem;
  line-height: 1;
}

.author-date-div, .img-title-div {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}

.author-date-div div {
  display: flex;
  flex-direction: row;
  color: #000;
  gap: 0.75rem;
}

@media (max-width: 350px) {
  .popular-posts-card {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .popular-articles-container.section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .popular-cards-wrapper {
    width: 50%;
  }
}